<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	    <title>{% block title %}{% endblock %}</title>

		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/main.css"/>
		<!--[if gte IE 7]>
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/ie_fixes.css"/>
		<![endif]-->

		{% comment %}
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/mobile.css"/>
		{% endcomment %}

		{% block extracss %}
		{% endblock %}

		{% block extrajs %}
		{% endblock %}

		<!--[if lt IE 7.]>
		<script defer type="text/javascript" src="{{ MEDIA_URL }}/js/pngfix.js"></script>
		<![endif]-->
	</head>

	{% load i18n %}

<body class="{% block bodyclass %}main{% endblock %}">
	<div id="page" class="{% block pageclass %}{% endblock %}">
		<div id="headerimg"><a href="/{{ URL_PREFIX }}/"><img src="{{ MEDIA_URL }}/images/Oahpa_logo0001.png" alt="OAHPA!"/></a></div>
		<a class="hide" href="#content">Skip to content</a>

		{% block language_select %}
		<div id="language_options">
			{% get_current_language as LANGUAGE_CODE %}
			<form action="/{{ URL_PREFIX }}/i18n/setlang/" method="post" name="newlang">
				<dl>
					<dt><label for="language_select">{% trans "Interface language" %}</label></dt>
					<dd>
						<input name="next" type="hidden" value="{% block pagename %}{% endblock %}" />
						<select id="language_select" name="language" onChange="javascript:this.form.submit();">

						{% ifequal LANGUAGE_CODE "mrj" %}
							<option value="mrj" selected="selected">Hill Mari</option>
						{% else %}
							<option value="mrj">Hill Mari</option>
						{% endifequal %}
						{% ifequal LANGUAGE_CODE "fi" %}
							<option value="fi" selected="selected">Suomi</option>
						{% else %}
							<option value="fi">Suomi</option>
						{% endifequal %}
						
						{% ifequal LANGUAGE_CODE "et" %}
							<option value="et" selected="selected">Eesti</option>
						{% else %}
							<option value="et">Eesti</option>
						{% endifequal %}
						
						{% ifequal LANGUAGE_CODE "ru" %}
							<option value="ru" selected="selected">Русский язык</option>
						{% else %}
							<option value="ru">Русский язык</option>
						{% endifequal %}

						{% ifequal LANGUAGE_CODE "en" %}
							<option value="en" selected="selected">English</option>
						{% else %}
							<option value="en">English</option>
						{% endifequal %}

					</select>
					</dd>
				</dl>
				<input type="submit" class="hide" value="submit" />
			</form>
			<!--
			<form action="/{{ URL_PREFIX }}/dialect/" method="post">
				<dl>
					<dt><label for="dialect">{% trans "Russian dialect" %}</label></dt>
					<dd>
						<input name="next" type="hidden" value="/{{ URL_PREFIX }}/" />
						<select name="dialect" onChange="javascript:this.form.submit();">
						{% if dialect %}
							{% ifequal dialect "GG" %}
								<option value="GG" selected="selected">{% trans 'GG' %}</option>
								<option value="KJ">{% trans 'KJ' %}</option>
							{% else %}
								<option value="GG">{% trans 'GG' %}</option>
								<option value="KJ" selected="selected">{% trans 'KJ' %}</option>
							{% endifequal %}
						{% else %}
							<option value="GG">{% trans 'GG' %}</option>
							<option value="KJ">{% trans 'KJ' %}</option>
						{% endif %}
					</select>
					</dd>
				</dl>
				<input type="submit" class="hide" value="submit" />
			</form>
			-->
		</div>
		{% endblock %}

		<div id="header">
			{% block header_content %}
			<h1><img src="{{ MEDIA_URL }}/images/Oahpa_logo0001.png" alt="OAHPA!" /></h1>
			<h2>Шäлä!</h2>
			{% endblock %}
		</div>

		<div id="content">
			{% block main_content %}
			<ul id="games_menu">

        <!--        <li class="game">
					<a href="{% url vasta_s %}">
						<span>VASTA</span><br />
						<img src="{{ MEDIA_URL }}/images/vasta.png" alt="VASTA" /><br />
						<span>{% trans "Answer to questions" %}<font color="#FF0000" size="3pt"> (under construction) </font></span>
					</a>
				</li>  --->
				<li class="game">
					<a href="{% url leksa %}">
						<span>LEKSA</span><br />
						<img src="{{ MEDIA_URL }}/images/leksa.png" alt="LEKSA" /><br />
						<span>{% trans "Words and translations" %}</span>
					</a>
				</li>
				
				<li class="game">
					<a href="{% url morfa_s.noun %}">
						<span>MORFA-S</span><br />
						<img src="{{ MEDIA_URL }}/images/morfa.png" alt="MORFA-S" /><br />
						<span>{% trans "Practice morphology" %}</span>
					</a>
				</li>

				<li class="game">
                    <a href="{% url morfa_c.noun %}">
						<span>MORFA-C</span><br />
						<img src="{{ MEDIA_URL }}/images/morfac.png" alt="MORFA-C" /><br />
						<span>{% trans "Practice morphology in context" %}</span>
					</a>
				</li>
				
<!--            <li class="game">
                        <a href="{% url sahka %}">
						<span>SAHKA</span><br />
						<img src="{{ MEDIA_URL }}/images/sahka.png" alt="SAHKA" /><br />
						<span>{% trans "Dialogue game" %} <font color="#FF0000" size="3pt"> (under construction) </font></span>
					</a>
				</li>   ---->
                <li class="game">
                    <a href="{% url numra %}">
						<span>NUMRA</span><br />
						<img src="{{ MEDIA_URL }}/images/numra.png" alt="NUMRA" /><br />
						<span>{% trans "Practice numerals" %}</span>
					</a>
                </li>
			</ul>
			</br>
			
			<p class="intro" align="centre">{% trans "Oahpa is an internet program for learners of Hill Mari. The program can be adjusted to different topics and levels of difficulty, and it generates new task sets automatically." %}</p>
		<!--	<h3>{% trans "Online reference materials" %}</h3> -->
		
			<ul class="linklist">
{% comment %}            {% ifequal LANGUAGE_CODE "en" %}
                <li><a href="http://giellatekno.uit.no/oahpa/sjd/index.eng.html">{% trans "Instructions" %}</a></li>
            {% endifequal %}
            {% ifequal LANGUAGE_CODE "no" %}
                <li><a href="http://giellatekno.uit.no/oahpa/sjd/index.eng.html">{% trans "Instructions" %}</a></li>
            {% endifequal %}
            {% ifequal LANGUAGE_CODE "ru" %}
                <li><a href="http://giellatekno.uit.no/oahpa/sjd/index.html">{% trans "Instructions" %}</a></li>
            {% endifequal %}
            {% ifequal LANGUAGE_CODE "sv" %}
                <li><a href="http://giellatekno.uit.no/oahpa/sjd/index.eng.html">{% trans "Instructions" %}</a></li>
            {% endifequal %}
{% endcomment %}

                <li><a target="_blank" href="http://muter.oahpa.no/mrj/fin/">{% trans "Hill Mari" %}&nbsp;-&nbsp;{% trans "Finnish" %} {% trans "web dictionary" %}</a></li>
{% comment %}
             {% else %}
				<li><a href="http://victorio.uit.no/webdict/index_sjd-rus.html">{% trans "Norwegian" %}-{% trans "Russian" %} {% trans "web dictionary" %}</a></li>
            {% endifequal %}
            
            {% ifequal LANGUAGE_CODE "sme" %}
				<li><a href="http://giellatekno.uit.no/oahpa/sjd/gramm/grammatihkka.html">{% trans "Russian grammar" %}</a></li>
            {% endifequal %}
            {% ifequal LANGUAGE_CODE "fi" %}
				<li><a href="http://giellatekno.uit.no/oahpa/sjd/gramm/grammatihkka.html">{% trans "Russian grammar" %}</a></li>
            {% endifequal %}
            {% ifequal LANGUAGE_CODE "en" %}
				<li><a href="http://giellatekno.uit.no/oahpa/sjd/gramm/grammatihkka.eng.html">{% trans "Russian grammar" %}</a></li>
            {% endifequal %}
            {% ifequal LANGUAGE_CODE "no" %}
				<li><a href="http://giellatekno.uit.no/oahpa/sjd/gramm/grammatihkka.nob.html">{% trans "Russian grammar" %}</a></li>
            {% endifequal %}
            {% ifequal LANGUAGE_CODE "ru" %}
				<li><a href="http://giellatekno.uit.no/oahpa/sjd/gramm/grammatihkka.rus.html">{% trans "Russian grammar" %}</a></li>
            {% endifequal %}
            {% ifequal LANGUAGE_CODE "sv" %}
				<li><a href="http://giellatekno.uit.no/oahpa/sjd/gramm/grammatihkka.nob.html">{% trans "Russian grammar" %}</a></li>
            {% endifequal %}
 {% endcomment %}
                <li><a href="http://oahpa.no/davvi" style="font-size:13px">North Saami Oahpa</a></li>
			</ul>

<!---			<p>{% trans "Are you visiting this site as part of a course?" %} <a href="{% url courses.views.courses_main %}">{% trans "Log in here" %}</a></p> -->
			{% endblock %}
		</div>

		<div id="footer">
			<div id="copyright">
			{% block deeplink %}
			{% if deeplink %}
			<div id="deeplink">
				<a href="{{ deeplink }}">{% trans 'Link to this exercise' %}</a>
			</div>
			{% endif %}
			{% endblock %}

			  <p>
				  {% trans "Copyright 2011-2014 UiT Norges arktiske universitet  " %}<br />
			{% trans "Contact" %} oahpa@uit.no</p>
			</div>
		</div>
	</div>
</body>
</html>
