{% extends 'univ_oahpa.html' %}
{% load i18n %}
{% load cache %}
{% load goal_filters %}
{% get_current_language as LANGUAGE_CODE %}
{% load staticfiles %}


{% comment %}
TODO: internationalization strings

{% endcomment %}

{% block main_js %}{% endblock %}
{% block extrajs %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap_namespaced.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/courses.css" %}" />

	<script src="{% static "js/angular.min.js" %}" type="text/javascript"></script>
	<script src="{% static "js/angular-cookies.js" %}" type="text/javascript"></script>
	<script src="{% static "js/coursepage.js" %}" type="text/javascript"></script> 
{% endblock %}

{% block imgprefix %}numra{% endblock %}

{% block page_class %}fixed{% endblock %}

{% block content %}
    {# Add blocktrans and trans tags #}
	<div id="courses" class="bootstrap-styles" ng-app="CoursePage">
	    <div class="row">
	        <div class="col-md-12 col-sm-12 col-lg-12">

	            <div class="row">
	                <br />
		            <ul id="subnav" class="nav nav-tabs">
		                {% include 'instructor_course_nav_items.html' %}
		            </ul>
	            </div>
	        </div>
	    </div>
        <div class="row">
	        <div class="col-md-12 col-sm-12 col-lg-12">
                {# cache 300 courses user.username #}
                {% for course in profile.instructorships %}
                    <div class="row">
	                    <div class="col-md-12 col-sm-12 col-lg-12">
		                    <h3 class="course_name">{{ course.identifier }} &ndash; {{ course.name }}</h3>
                        </div>
                    </div>

                    <!-- <p class="goal_note">You have not defined any goals for this course.</p> -->
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-lg-3">
                            <ul class="nav nav-stacked">
                                <li><a href="/{{ URL_PREFIX }}/courses/invite/">{% trans "Invite students" %}</a></li>
                                <li><a href="{% url courses.views.courses_coursegoal_construction %}">Create a course goal</a></li>
                                <li><a href="{% url courses.views.courses_goal_construction %}">Create a goal</a></li>
                                <li><a href="/{{ URL_PREFIX }}/messages/compose/">Send message</a></li>
                            </ul>
                        </div>
	                    <div class="col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-md-8 col-sm-8 col-lg-8">
                            <h4>Students</h4>
                            {% include 'student_roster_table.html' %}
                        </div>
                    </div>

                {% endfor %}
                {# endcache #}
            </div>
        </div>
	    <div class="row">
	        <div class="col-md-12 col-sm-12 col-lg-12">
                <h4>Notifications</h4>
                {% include 'user_notifications_block.html' %}
            </div>
        </div>
    </div>

{% endblock %}

{# vim: set ts=4 sw=4 tw=0 syntax=htmldjango : #}

