{% extends 'univ_oahpa.html' %}
{% load i18n %}
{% load cache %}
{% load goal_filters %}
{% get_current_language as LANGUAGE_CODE %}

{% comment %}
TODO: internationalization strings

{% endcomment %}

{% block extrajs %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/bootstrap-theme.css"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/bootstrap_namespaced.css"/>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/courses.css"/>
{% endblock %}

{% block imgprefix %}numra{% endblock %}

{% block page_class %}fixed{% endblock %}

{% block content %}
    {# Add blocktrans and trans tags #}
	<div id="courses" class="bootstrap-styles">
        <div class="row">
	        <div class="col-md-3 col-sm-3 col-lg-3">
                <h4>{% trans 'Welcome' %}, {{ user.username }}!</h4>
                <ul id="subnav">
                    {#  <li><a href="{% url univ_oahpa.courses.urls.logout %}">Log out</a></li> #}
                    {% if user.is_staff %}
                    <li><a href="/{{ URL_PREFIX }}/courses/?student_view=True">{% trans "Grade summary" %}</a></li>
                    <li><a href="/{{ URL_PREFIX }}/admin/courses/">{% trans "Admin interface" %}</a></li>
                    {% endif %}
                </ul>
                <h4>Notifications</h4>
                <div id="notifications">
                </div>
            </div>
	        <div class="col-md-9 col-sm-9 col-lg-9">
                {# cache 300 courses user.username #}
                {% for course in profile.instructorships %}
                    <div class="row">
	                    <div class="col-md-12 col-sm-12 col-lg-12">
		                    <h3 class="course_name">{{ course.identifier }} &ndash; {{ course.name }}</h3>
                        </div>
                    </div>

                    <!-- <p class="goal_note">You have not defined any goals for this course.</p> -->
                    <div class="row">
	                    <div class="col-md-12 col-sm-12 col-lg-12">
                            <h4>Students</h4>
                            {% include 'student_roster_table.html' %}
                        </div>
                    </div>
                    <div class="row">
	                    <div class="col-md-12 col-sm-12 col-lg-12">
                            <a id="create_self_goal" class="btn btn-success" href="{% url courses.views.courses_coursegoal_construction %}">Create a course goal</a>
                            <a id="create_self_goal" class="btn btn-success" href="{% url courses.views.courses_goal_construction %}">Create a goal</a>
                            <a id="create_self_goal" class="btn btn-success" href="#">Send message</a>
                        </div>
                    </div>

                {% endfor %}
                {# endcache #}
            </div>
        </div>
    </div>

{% endblock %}

{# vim: set ts=4 sw=4 tw=0 syntax=htmldjango : #}

