{% extends 'univ_oahpa.html' %}

{% load i18n %}
{% load goal_filters %}
{% load cache %}
{% load staticfiles %}

{% block extrajs %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap_namespaced.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/courses.css" %}" />

    <script src="{% static "js/jquery.1.10.2.min.js" %}"></script>
    <script src="{% static "js/jquery.sparkline.min.js" %}"></script>
    <script type="text/javascript">
        $(function(){
            $('.inlinesparkline').sparkline('html', {
            	'width': '85px',
            	'height': '30px',
            }); 
            $('.piechart').sparkline('html', {
            	'type': 'pie',
            	'width': '25px',
            	'height': '25px',
            	             // correct, correct on first try
            	'sliceColors': ['#0058B2', '#FFB331']
            }); 
        });
    </script>
{% endblock %}

{% get_current_language as LANGUAGE_CODE %}

{% block imgprefix %}numra{% endblock %}

{% block page_class %}fixed{% endblock %}

{% block content %}
    <div id="courses" class="bootstrap-styles">
        <br /> 
        <br /> 
    <div id="user_goal_history">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <h4>{{ goal.short_name }} </h4>
            </div>
            <div class="col-lg-4 col-md-4">
                {% cache 100 user_course_goals_sparkline student.user.username goal.id %}
                    <span class="spark inlinesparkline">{{ spark_data }}</span>
                {% endcache %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                {% cache 60 user_course_goals student.user.username goal.id %}
                    <table class="course_goals">
                        <tr>
                            <th>{% trans "success" %}</th>
                            <th>{% trans "total questions answered" %}</th>
                            <th>{% trans "correct" %}</th>
                            <th class="align-bottom" colspan=2>{% trans "first try / later tries" %}</th>
                            <th>{% trans "rounds" %}</th>
                            <th>{% trans "last attempt" %}</th>
                        </tr>
                    {% for goal in goal_instances %}
                        {% if goal.evaluation %}
                            <tr class="{% cycle 'even' 'odd' %}">
                                </td>
                                <td>
                                    {% if goal.is_complete %}
                                        <span class="star">&#9733;</span>
                                    {% else %}
                                        <span class="star clear">&#9733;</span>
                                    {% endif %}
                                </td>
                                <td>{{ goal.total_answered }}
                                <td>{{ goal.evaluation.progress_pretty }}</td>
                                <td><span class="piechart">{{ goal.evaluation.correct_minus_first }},{{ goal.evaluation.correct_first_try }}</span></td>
                                <td>{{ goal.evaluation.correct }} / {{ goal.evaluation.correct_later_tries }} </td>
                                <td>{{ goal.evaluation.rounds }}</td>
                                <td>{{ goal.last_attempt|date:"DATE_FORMAT" }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th class="align-bottom" colspan=2><span class="pie_label_correct">&nbsp;</span> {% trans "later tries" %} <br /><span class="pie_label_first_try">&nbsp;</span> {% trans "first try" %}</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>
                    </table>
                {% endcache %}
            </div>
            <div class="col-lg-4 col-md-4">
                <dl class="dl-horizontal">
                    <dt>{% trans "Completion criteria" %}</dt><dd>&nbsp;</dd>
                    <dt>{% trans "Correct threshold:" %}</dt> <dd>{{ goal.threshold }}%</dd>
                    <dt>{% trans "Minimum sets: " %}<dd>{{ goal.minimum_sets_attempted }}</dd>
                    {% if goal.correct_first_try %}
                        <dt>{% trans "Correct on first try" %}</dt> <dd>&nbsp;</dd>
                    {% endif %}
                </dl>
                <dl class="dl-horizontal">
                    {% for name, parameter in goal.summary %}
                    <dt>{{ name }}</dt>
                    <dd>{{ parameter }}</dd>
                    {% endfor %}
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9 col-md-9">
                {% cache 60 user_words_to_work_on student.user.username goal.id %}

                {% if 'leksa' in goal.main_type %}
                    {% include 'words_to_work_on_leksa.html' %}
                {% endif %}

                {% if 'numra' in goal.main_type %}
                    {% include 'words_to_work_on_numra.html' %}
                {% endif %}

                {% if 'morfa' in goal.main_type %}
                    {% include 'words_to_work_on_morfa.html' %}
                {% endif %}

                {% endcache %}
            </div>
        </div>
    </div>
    </div>

{% endblock %}
