{% extends "crk_oahpa.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block extrajs %}
		<script src="{{ MEDIA_URL }}/js/jquery-1.6.4.min.js" type="text/javascript"></script>
		<script src="{{ MEDIA_URL }}/js/main.js" type="text/javascript"></script>
		<script src="{{ MEDIA_URL }}/js/putstress.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
{% ifnotequal gametype "sahka" %}
{% ifnotequal gametype "sahka_main" %}
<hr/>
<div id="instructions">
    <p>{% block gamename %}{% endblock %} {% block instructions %}{% endblock %}</p>
</div>
<div id="game_right_float">


	{% block tooltips %}
	<div id="tooltips">
		{% for form in forms %}
			{% block tooltip %}
			{% endblock %}
		{% endfor %}

		{# Feedback messages #}
		{% for form in forms %}
			{% ifequal form.error "error" %}
				{% if form.feedback %}
					{% include 'feedback_tooltip.html' %}
				{% endif %}
			{% endifequal %}
		{% endfor %}

	</div>
    {% endblock %}
</div>
{% endifnotequal %}
{% endifnotequal %}

<div id="game_left">
	<dl id="question_set" class="{% block questionsetclass %}{% endblock %}">
	{% for form in forms %}

	<dt>{% block question %}{% endblock %}</dt>
	{# TODO: Switch rendering of tooltip to a different loop in a different block? #}
    {% if gametype == "sahka" and not form.utterance %}
        {{ form.utterance_id }}
        <input type="hidden" name="{{ forloop.counter }}-userans" value="{{ form.userans }}" />
		<input type="hidden" name="{{ forloop.counter }}-correct" value="{{ form.error }}" />
        {% for detail, value in form.qattrs.items %}
            <input type="hidden" name="{{ forloop.parentloop.counter }}-{{ detail }}" value="{{ value }}" />
        {% endfor %}
        {% for detail, value in form.aattrs.items %}
            <input type="hidden" name="{{ forloop.parentloop.counter }}-{{ detail }}" value="{{ value }}" />
        {% endfor %}

     {% else %}

	<dd>

	{% if form.answer %}

	{#	Show which answers are correct if "show correct" is pressed, else show a form#}
	<span class="leftpart">
	{% if show_correct %}

		{% if form.answertext1 %}{{ form.answertext1 }}{% endif %}

		{% if form.pron %}<span class="pronoun {% if form.object %}has_object{% endif %}">{{ form.pron }}</span>{% endif %}
		{% ifequal form.error "correct" %}
			<span class="correct">{{ form.userans }}</span>
		{% else %}
			{% ifequal form.error "error" %}
				<span class="incorrect">{{ form.userans }}</span>
			{% else %}
				<span class="blankentry">________________</span>{# Blank answer, this gets hidden via CSS in leksa and morfa, but not morfac #}
			{% endifequal %}
		{% endifequal %}

		{% if form.pron_imp %}
			<span class="pronoun {% if form.object %}has_object{% endif %}">{{ form.pron_imp }}</span>
		{% endif %}

		{% if form.object %}
			<span class="object">{{ form.object }}</span>
		{% endif %}

		{% if form.answertext2 %}<span class="answertext">{{ form.answertext2|safe }}</span>{% endif %}

	{% else %}
        {# If just test answers, mark correct answers as green #}

		{% if form.answertext1 %}
		{% if form.answertext1_fake %}{% ifequal form.error "correct" %}{% else %}<span class="{% if form.fake_answer.value %}incorrect{% endif %}">{{ form.fake_answer }}</span>{% endifequal %}{% endif %} <span class="answertext">{{ form.answertext1|safe }}</span>
		{% endif %}

		{% ifnotequal form.userans "" %}

			{% if form.pron %}<span class="pronoun {% if form.object %}has_object{% endif %}">{{ form.pron }}</span>{% endif %}

			{% ifequal form.error "correct" %}
				<span class="correct">{{ form.userans }}</span>
			{% else %}
				<!-- Answer field -->
				<span class="incorrect">{{ form.answer }}</span>
			{% endifequal %}

			{% if form.pron_imp %}
                <span class="pronoun {% if form.object %}has_object{% endif %}">{{ form.pron_imp }}</span>
            {% endif %}

		    {% if form.object %}
			    <span class="object">{{ form.object }}</span>
		    {% endif %}


		{% else %}
			<!-- Answer field -->
			{% if form.pron %}<span class="pronoun {% if form.object %}has_object{% endif %}">{{ form.pron }}</span>{% endif %}
			{% if gametype != "sahka" or forloop.last %}
                {{ form.answer }}
			{% endif %}
			{% if form.pron_imp %}
                <span class="pronoun {% if form.object %}has_object{% endif %}">{{ form.pron_imp }}</span>
            {% endif %}

		    {% if form.object %}
			    <span class="object">{{ form.object }}</span>
		    {% endif %}


		{% endifnotequal %}

		{# TODO: conditionally hide fake input if answer is correct #}
		{% if form.answertext2 %}<span class="answertext">{{ form.answertext2 }}</span>{% if form.answertext2_fake %}{% ifequal form.error "correct" %}{% else %}<span class="{% if form.fake_answer.value %}incorrect{% endif %}">{{ form.fake_answer }}</span>{% endifequal %}{% endif %} {% endif %}

    {% endif %}



		{% ifequal form.error "error" %}
		    <img width="15" height="15" border="0" src="{{ MEDIA_URL }}/images/error.png"/>
		    {% if not show_correct %}
            
			<!-- Feedback -->
			{% if form.feedback %}
			<a href="#" class="feedback_link" id="link_feedback-{{ forloop.counter }}">
					
					{% trans "help" %}
				</a>
			{% endif %}	
			{% else %}
				{% if form.tcomm %}{% trans "This is almost correct!" %}{% endif %}
			{% endif %}
		{% endifequal %}

	</span>
	{% endif %}
	<span class="rightpart">
	{% if show_correct %}
		{% ifnotequal form.error "correct" %}
			<span class="correctanswertext">{{ form.correct_answers }}</span>
		{% else %}
			{# Parens around correct, non-relaxed form. #}
			{% ifequal form.is_relaxed "relaxed" %}
				<span class="correctanswertext">({{ form.correct_answers }})</span>
				<span class="relaxed">{{ form.relaxed }}</span>
			{% endifequal %}
		{% endifnotequal %}

	    <span class="tooltip_question_id">{{ form.tooltip_question_id }}</span>
	{% endif %}
	</span>

	{{ form.word_id }}
	{{ form.tag_id }}
	{{ form.question_id }}
	{{ form.answer_id }}
	{{ form.utterance_id }}
	{{ form.qstring }}
	{{ form.astring }}


	{% block hidden %}{% endblock %}
		<input type="hidden" name="{{ forloop.counter }}-userans" value="{{ form.userans }}" />
		<input type="hidden" name="{{ forloop.counter }}-correct" value="{{ form.error }}" />
	{% for detail, value in form.qattrs.items %}
		<input type="hidden" name="{{ forloop.parentloop.counter }}-{{ detail }}" value="{{ value }}" />
	{% endfor %}
	{% for detail, value in form.aattrs.items %}
		<input type="hidden" name="{{ forloop.parentloop.counter }}-{{ detail }}" value="{{ value }}" />
	{% endfor %}

	</dd>
    {% endif %} {# empty sahka form #}


	{% endfor %}
	</dl>

	{% block submit %}
	{# {% if not all_correct %}  make it possible to see the correct stress markings even if the word form without stress markings was accepted #}
	   {% if not show_correct %}
	   <input type="submit" name="test" value="{% trans "Test answers" %}"/>
	   {% endif %}
	   {% ifequal count 1 %}
	   <input type="submit" name="show_correct" value="{% trans "Show the correct answers" %}" />
	   {% endifequal %}
	{# {% endif %} #}
	{% endblock %}

    <div id="score">
        {% if 1 %}
            {% if all_correct %}
                {% trans "Congratulations!" %}<br />
			{% endif %}
            {% if score %}
                {% trans "Your score:" %} <span class="points">{{ score }}</span>
            {% endif %}
		{% endif %}
	</div>

	{% if comment %}
        <br/>
		{{ comment }}
	{% endif %}

	{% ifnotequal gametype "sahka" %}
	{% ifnotequal gametype "sahka_main" %}

	{% endifnotequal %}
	{% endifnotequal %}


	{% ifnotequal gametype "sahka" %}
	{% ifnotequal gametype "sahka_main" %}
	{% endifnotequal %}
	{% endifnotequal %}

</div>

{% endblock %}
