{% extends "game.html" %}
{% load i18n %}

{% block helpaddress %}
{% ifequal LANGUAGE_CODE "no" %}
<a href="http://giellatekno.uit.no/oahpa/leksa.nno.html"
{% else %}
<a href="http://giellatekno.uit.no/oahpa/leksa.html"
{% endifequal %}
{% endblock %}

{% block gametitlename %}itwêwina{% endblock %}
{% block imgprefix %}leksa{% endblock %}

{% block navbar %}
<ul class="sidelist">
	<li class="selected"><a href="{% url leksa %}">{% trans 'Words' %}</a></li>
	<!-- <li><a href="{% url leksa.sted %}">{% trans 'Names' %}</a></li> -->
</ul>
{% endblock %}

{% block veiledning %}
{% ifequal LANGUAGE_CODE "sme" %}
http://giellatekno.uit.no/oahpa/sme/useoahpa/leksa.html
{% endifequal %}
{% ifequal LANGUAGE_CODE "fi" %}
http://giellatekno.uit.no/oahpa/sme/useoahpa/leksa.fin.html
{% endifequal %}
{% ifequal LANGUAGE_CODE "en" %}
http://giellatekno.uit.no/oahpa/sme/useoahpa/leksa.eng.html
{% endifequal %}
{% ifequal LANGUAGE_CODE "no" %}
http://giellatekno.uit.no/oahpa/sme/useoahpa/leksa.nno.html
{% endifequal %}
{% ifequal LANGUAGE_CODE "sv" %}
http://giellatekno.uit.no/oahpa/sme/useoahpa/leksa.nno.html
{% endifequal %}
{% endblock %}

{% block instructions %}
	Give translations for each word. For verbs, give the <a class="helptext" href="#">3S<span class="shortinfo">Ex. "mîcisow" = "S/he eats"</span></a> form. Words given in green are animate and words given in black are inanimate. Need help <a class="helptext" href="#">selecting<span class="shortinfo">You can choose a semantic set or part of the textbook but not both.</span></a> the proper exercises?
{% endblock %}

{% block name %}{% trans "Quizz" %}{% endblock %}
{% block pagename %}/{{ URL_PREFIX }}/leksa/{% endblock %}

{% block settings %}
    <div class="grammarlinks">
        {% include 'grammar_links_menu.html' %}
    </div>

    <ul id="settingsform">
    	<li><label for="id_{{ settingsform.semtype.name }}">{% trans "Set" %}</label>
    		{{ settingsform.semtype }}</li>
    	<li><label for="id_{{ settingsform.transtype.name }}">{% trans "Select the language pair" %}</label>
    		{{ settingsform.transtype }}</li>
    	<li><label for="id_{{ settingsform.source.name }}">{% trans "Book" %}</label>
    		{{ settingsform.source }}</li>
    </ul>
    
    <ul id="submittable">
        <li><input type="submit" name="settings" value="{% trans "New set" %}" /></li>
    </ul>
{% endblock %}
<input type="submit" name="settings" value="{% trans "New set" %}" />

{% block question %}
<script>
function playSound(soundfile) {
    var audio=document.getElementById("pronounce{{ form.audio }}");
    audio.src=soundfile;
    audio.play();
}
</script>
<span data-form-animacy="{{ form.animacy }}" data-form-trans-anim="{{ form.trans_anim }}">
{{ form.lemma }}
</span>
    <audio id="pronounce{{ form.audio }}"></audio> 
    <a onclick=playSound("{{ MEDIA_URL }}/audio/{{ form.audio }}.wav") href="#">
    {% if form.audio %}
        <img src="{{ MEDIA_URL }}/images/loudspeaker.jpg" heigth="15px" width="20px"/>
    {% endif %}
    </a>
 

{% endblock %}

{% block submit %}
{% if not all_correct %}
   {% if not show_correct %}
   <input type="submit" name="test" value="{% trans "Test answers" %}"/>
   {% endif %}
   {% ifequal count 1 %}
   <input type="submit" name="show_correct" value="{% trans "Show the correct answers" %}" />
   {% endifequal %}
{% endif %}
{% endblock %}

{% block disable_nds %}
{% endblock %}
