{% extends "mgame.html" %}
{% load i18n %}

{% block gamename %}{{ settings.gamename }}{% endblock %}
{% block instructions %}
 <!-- {% ifequal settings.gametype "bare" %}  -->
    {% trans "Add verbs in correct forms. You get translation if you click the word." %}
<!--  {% else %}
    {% trans "Add verbs in correct forms." %}
  {% endifequal %}  -->
{% endblock %}
{% block book %}{% endblock %}

{% block subsetting %}
	{% ifequal settings.gametype "bare" %}
		<li><label for="id_{{ settingsform.vtype.name }}">{% trans "Tense" %}</label>
			{{ settingsform.vtype }}</li>
		<li><label for="id_{{ settingsform.trans_anim.name }}">{% trans "Animacy" %}</label>
			{{ settingsform.trans_anim }}</li>
	{% else %}
		<li><label for="id_{{ settingsform.vtype_context.name }}">{% trans "Tense" %}</label>
			{{ settingsform.vtype_context }}</li>
	{% endifequal %}
{% endblock %}

