{% extends "mgame.html" %}
{% load i18n %}

{% block gamename %}{{ settings.gamename }}{% endblock %}
{% block instructions %}
    {% if settings.gametype == "bare" %} 
        Enter the <a class="helptext" href="#">given verb<span class="shortinfo">Note: All verbs are given in the 3S form.</span></a> in the form that <a class="helptext" href="#">{% trans "corresponds" %}<span class="shortinfo">Ex. "nîpawiw (nîyanân)" gives "ninîpawinân"</span></a> to the pronoun in brackets. 
    {% elif settings.gametype == "context" %}

      {% if settings.qtype == 'V-AI-PRS' %}
        {% trans "Talk about what people do or do not usually do. Complete the response to the question by entering the AI verb in the correct present tense independent " %}<a class="helptext" href="#">form<span class="shortinfo">Ex. If the question uses the 2S form, the 1S form should be used in the answer.</span></a>.
      {% elif settings.qtype == 'V-AI-PRT' %}
        {% trans "Talk about what people did yesterday. Complete the response to the question by entering the AI verb in the correct past tense independent " %}<a class="helptext" href="#">form<span class="shortinfo">Ex. If the question uses the 2S form, the 1S form should be used in the answer.</span></a>.
	  {% elif settings.qtype == 'V-II-PRS' %}
        {% trans "Use II verbs to describe various objects. Complete the translation by entering the II verb in the correct present tense independent form." %}
	  {% elif settings.qtype == 'V-TA-PRS' %}
        {% trans "Talk about what people do or do not usually do. Complete the response to the question by entering the TA verb in the correct present tense independent " %}<a class="helptext" href="#">form<span class="shortinfo">Ex. If the question uses the 2S form, the 1S form should be used in the answer.</span></a>.
	  {% elif settings.qtype == 'V-TA-PRT' %}
        {% trans "Talk about what people did or did not do yesterday. Complete the response to the question by entering the TA verb in the correct past tense independent " %}<a class="helptext" href="#">form<span class="shortinfo">Ex. If the question uses the 2S form, the 1S form should be used in the answer.</span></a>.
	  {% elif settings.qtype == 'V-TI-PRS' %}
        {% trans "Talk about what people do or do not usually do. Complete the response to the question by entering the TI verb in the correct present tense independent " %}<a class="helptext" href="#">form<span class="shortinfo">Ex. If the question uses the 2S form, the 1S form should be used in the answer.</span></a>.
	  {% elif settings.qtype == 'V-TI-PRT' %}
        {% trans "Talk about what people did or did not do yesterday. Complete the response to the question by entering the TI verb in the correct past tense independent " %}<a class="helptext" href="#">form<span class="shortinfo">Ex. If the question uses the 2S form, the 1S form should be used in the answer.</span></a>.
	  {% elif settings.qtype == 'V-AI-FUT-DEF' %}
        {% trans "Talk about what people will or will not do later. Complete the response to the question by entering the AI verb in the correct future definite independent " %}<a class="helptext" href="#">form<span class="shortinfo">Ex. If the question uses the 2S form, the 1S form should be used in the answer.</span></a>.
      {% elif settings.qtype == 'V-AI-FUT-INT' %}
        {% trans "Talk about what people are or are not going to do later. Complete the response to the question by entering the AI verb in the correct future intentional independent " %}<a class="helptext" href="#">form<span class="shortinfo">Ex. If the question uses the 2S form, the 1S form should be used in the answer.</span></a>.
	  {% elif settings.qtype == 'V-TA-FUT-DEF' %}
        {% trans "Talk about what people will or will not do later. Complete the response to the question by entering the TA verb in the correct future definite independent " %}<a class="helptext" href="#">form<span class="shortinfo">Ex. If the question uses the 2S form, the 1S form should be used in the answer.</span></a>.
	  {% elif settings.qtype == 'V-TA-FUT-INT' %}
        {% trans "Talk about what people are or are not going to do later. Complete the response to the question by entering the TA verb in the correct future intentional independent " %}<a class="helptext" href="#">form<span class="shortinfo">Ex. If the question uses the 2S form, the 1S form should be used in the answer.</span></a>.
	  {% elif settings.qtype == 'V-TI-FUT-DEF' %}
        {% trans "Talk about what people will or will not do later. Complete the response to the question by entering the TI verb in the correct future definite tense independent " %}<a class="helptext" href="#">form<span class="shortinfo">Ex. If the question uses the 2S form, the 1S form should be used in the answer.</span></a>.
	  {% elif settings.qtype == 'V-TI-FUT-INT' %}
        {% trans "Talk about what people are or are not going to do later. Complete the response to the question by entering the TI verb in the correct future intentional independent " %}<a class="helptext" href="#">form<span class="shortinfo">Ex. If the question uses the 2S form, the 1S form should be used in the answer.</span></a>.	
	  {% elif settings.qtype == 'V-AI-CNJ-PRS' %}
        {% trans "Talk about what people are or are not doing now. Complete the response to the question by entering the AI verb in the correct present tense conjunct " %}<a class="helptext" href="#">form<span class="shortinfo">Ex. If the question uses the 2S form, the 1S form should be used in the answer.</span></a>.
      {% elif settings.qtype == 'V-AI-CNJ-PRT' %}
        {% trans "Talk about what people were or weren't doing yesterday. Complete the response to the question by entering the AI verb in the correct past tense conjunct " %}<a class="helptext" href="#">form<span class="shortinfo">Ex. If the question uses the 2S form, the 1S form should be used in the answer.</span></a>.
	  {% elif settings.qtype == 'V-TA-CNJ-PRS' %}
        {% trans "Talk about what people are or are not doing now. Complete the response to the question by entering the TA verb in the correct present tense conjunct " %}<a class="helptext" href="#">form<span class="shortinfo">Ex. If the question uses the 2S form, the 1S form should be used in the answer.</span></a>.
	  {% elif settings.qtype == 'V-TA-CNJ-PRT' %}
        {% trans "Talk about what people were or weren't doing yesterday. Complete the response to the question by entering the TA verb in the correct past tense conjunct " %}<a class="helptext" href="#">form<span class="shortinfo">Ex. If the question uses the 2S form, the 1S form should be used in the answer.</span></a>.
	  {% elif settings.qtype == 'V-TI-CNJ-PRS' %}
        {% trans "Talk about what people are or are not doing now. Complete the response to the question by entering the TI verb in the correct present tense conjunct " %}<a class="helptext" href="#">form<span class="shortinfo">Ex. If the question uses the 2S form, the 1S form should be used in the answer.</span></a>.
	  {% elif settings.qtype == 'V-TI-CNJ-PRT' %}
        {% trans "Talk about what people were or weren't doing yesterday. Complete the response to the question by entering the TI verb in the correct past tense conjunct " %}<a class="helptext" href="#">form<span class="shortinfo">Ex. If the question uses the 2S form, the 1S form should be used in the answer.</span></a>.
		
      {% elif settings.qtype == 'V-AI-CNJ-FUT-INT' %}
        {% trans "Talk about what people are or are not going to be doing later. Complete the response to the question by entering the AI verb in the correct future intentional conjunct " %}<a class="helptext" href="#">form<span class="shortinfo">Ex. If the question uses the 2S form, the 1S form should be used in the answer.</span></a>.
	  {% elif settings.qtype == 'V-TA-CNJ-FUT-INT' %}
        {% trans "Talk about what people are or are not going to be doing later. Complete the response to the question by entering the TA verb in the correct future intentional conjunct " %}<a class="helptext" href="#">form<span class="shortinfo">Ex. If the question uses the 2S form, the 1S form should be used in the answer.</span></a>.
	  {% elif settings.qtype == 'V-TI-CNJ-FUT-INT' %}
        {% trans "Talk about what people are or are not going to be doing later. Complete the response to the question by entering the TI verb in the correct future intentional conjunct " %}<a class="helptext" href="#">form<span class="shortinfo">Ex. If the question uses the 2S form, the 1S form should be used in the answer.</span></a>.
	 {% else %}
        {% trans "Add verbs in correct " %}<a class="helptext" href="#">form<span class="shortinfo">Ex. If the question uses the 2S form, the 1S form should be used in the answer.</span></a>.
      {% endif %}

    {% endif %}
<a class="helptext" href="#">Translate<span class="shortinfo">{% trans "Hold the ALT key and click on any word for its translation." %}</span></a> this page.
{% endblock %}
{% block book %}{% endblock %}

{% block subsetting %}
	{% ifequal settings.gametype "bare" %}
		<li><label for="id_{{ settingsform.vtype.name }}">{% trans "Tense" %}</label>
			{{ settingsform.vtype }}</li>
		<li><label for="id_{{ settingsform.trans_anim.name }}">{% trans "Animacy" %}</label>
			{{ settingsform.trans_anim }}</li>
	{% else %}
		<li><label for="id_{{ settingsform.v_trans_anim_context.name }}">{% trans "Transitive/Animacy" %}</label>
			{{ settingsform.v_trans_anim_context }}</li>
		<li><label for="id_{{ settingsform.v_mode_context.name }}">{% trans "Mode" %}</label>
			{{ settingsform.v_mode_context }}</li>
		<li><label for="id_{{ settingsform.v_tense_context.name }}">{% trans "Tense" %}</label>
			{{ settingsform.v_tense_context }}</li>
	{% endifequal %}
{% endblock %}

