{% extends "mgame.html" %}
{% load i18n %}


{% block gamename %}{{ settings.gamename }}{% endblock %}
{% block instructions %}
    {% trans "Complete the translation. Enter the correct demonstrative pronoun." %}
{% endblock %}


{% block subsetting %}
	{% ifequal settings.gametype "bare" %}
		<li><label for="id_{{ settingsform.pron_type.name }}">{% trans "Pronoun type" %}</label>
			{{ settingsform.pron_type }}</li>
		<li><label for="id_{{ settingsform.proncase.name }}">{% trans "Case" %}</label>
			{{ settingsform.proncase }}</li>
	{% else %}
	{# context #}
		<li><label for="id_{{ settingsform.pron_context.name }}">{% trans "Pronoun type" %}</label>
			{{ settingsform.pron_context }}</li>
		{% ifequal settings.pron_context "P-RECIPR" %}
			<li><label for="id_{{ settingsform.wordform_type.name }}">{% trans "Reciprocative type" %}</label>
			{{ settingsform.wordform_type }}</li>
		{% endifequal %}
	{% endifequal %}
{% endblock %}

{# No book for pronouns #}
{% block book %} {% endblock %}

{# Often these have a question mark or punctuation, so test before including #}
{% block question_mark %}
    {% if "?" in question or "." in question %}{% else %}?{% endif %}
{% endblock %}
