{% extends "mgame.html" %}
{% load i18n %}

{% block gamename %}{{ settings.gamename }}{% endblock %}
{% block instructions %}
    {% if settings.gametype == "bare" %} 
        Enter the given verb in the form that <a class="helptext" href="#">{% trans "corresponds" %}<span class="shortinfo">Ex. "nîpawiw (nîyanân)" =  "ninîpawinân"</span></a> to the pronoun in brackets. 
		{% trans "Note: All verbs are given in the 3S form." %}
    {% elif settings.gametype == "context" %}

      {% if settings.vtype_context == 'V-PRS' %}
        {% trans "Talk about what people do or do not usually do. Complete the response to the question by entering the verb in the correct present tense form." %}
      {% elif settings.vtype_context == 'V-PRT' %}
        {% trans "Talk about what people did yesterday. Complete the response to the question by entering the verb in the correct past tense form." %}
      {% else %}
        {% trans "Add verbs in correct forms." %}
      {% endif %}

    {% endif %}
<a class="helptext" href="#">Translate<span class="shortinfo">{% trans "Hold the ALT key and click on any word for its translation." %}</span></a> this page.
{% endblock %}
{% block book %}{% endblock %}

{% block subsetting %}
	{% ifequal settings.gametype "bare" %}
		<li><label for="id_{{ settingsform.vtype.name }}">{% trans "Tense" %}</label>
			{{ settingsform.vtype }}</li>
		<li><label for="id_{{ settingsform.trans_anim.name }}">{% trans "Animacy" %}</label>
			{{ settingsform.trans_anim }}</li>
	{% else %}
		<li><label for="id_{{ settingsform.vtype_context.name }}">{% trans "Tense" %}</label>
			{{ settingsform.vtype_context }}</li>
	{% endifequal %}
{% endblock %}

