{% extends "mgame.html" %}
{% load i18n %}

{% block gamename %}{{ settings.gamename }}{% endblock %}
{% block instructions %}
  {% ifequal settings.gametype "bare" %}
    {% trans "Put each noun in its correct form. Click on a word for its translation." %}
  {% else %}
    {% trans "Add nouns in correct forms." %}
  {% endifequal %}
{% endblock %}

{% block subsetting %}
	{% ifequal settings.gametype "bare" %}
	<li><label for="id_{{ settingsform.case.name }}">{% trans "Type" %}</label>
		{{ settingsform.case }}</li>
  <!--  <li><label>{{ settingsform.singular_only }}{% trans " singular only" %}</label></li> -->
	<!-- <li><label for="id_{{ settingsform.noun_type.name }}">{% trans "Type" %}</label>
	        {{ settingsform.noun_type }}</li>
	</li> --> 
	{% else %}
	<li><label for="id_{{ settingsform.case_context.name }}">{% trans "Type" %}</label>
		{{ settingsform.case_context }}</li>
	{% endifequal %}
{% endblock %}
