{% extends "mgame.html" %}
{% load i18n %}

{% block gamename %}{{ settings.gamename }}{% endblock %}
{% block instructions %}
  {% if settings.gametype == "bare" %}
	  {% trans "Complete the response to the question." %}
  
  {% elif settings.gametype == "context" %}
      {% if settings.case_context == 'N-PL' %}
		<a class="helptext" href="#">{% trans "Enter the plural form of the noun given in brackets." %}<span class="shortinfo">Ex. If you are given "(nêhiyaw)", answer "nêhiyawak".</span></a>
      {% elif settings.case_context == 'N-LOC' %} 
        <a class="helptext" href="#">{% trans "Enter the locative form of the noun given in brackets." %}<span class="shortinfo">Ex. If you are given "(mîcisowikamik)", answer "mîcisowikamikohk".</span></a>
      {% else %}
        <a class="helptext" href="#">{% trans "Enter the correct possessive form of the noun." %}<span class="shortinfo">Ex. If you are given "()", answer "".</span></a>
      {% endif %}
  {% endif %}
<a class="helptext" href="#">Translate<span class="shortinfo">{% trans "Hold the ALT key and click on any word for its translation." %}</span></a> this page.
{% endblock %}

{% block subsetting %}
	{% ifequal settings.gametype "bare" %}
	<li><label for="id_{{ settingsform.case.name }}">{% trans "Type" %}</label>
		{{ settingsform.case }}</li>
  <!--  <li><label>{{ settingsform.singular_only }}{% trans " singular only" %}</label></li> -->
	<!-- <li><label for="id_{{ settingsform.noun_type.name }}">{% trans "Type" %}</label>
	        {{ settingsform.noun_type }}</li>
	</li> --> 
	{% else %}
	<li><label for="id_{{ settingsform.case_context.name }}">{% trans "Type" %}</label>
		{{ settingsform.case_context }}</li>
	{% endifequal %}
{% endblock %}
