{% extends "dato.html" %}
{% load i18n %}

{% block navbar %}
{% endblock %}

{% block instructions %}
  {# TODO: strings for instructions. #}
  {% ifequal gametype "string" %}
    <a class="helptext" href="#">{% trans "Translate" %}<span class="shortinfo">Ex. "$2.50"</span></a> the given sum of money into numerals. Make sure your answer is preceded by "$"! 
  {% else %}
   Enter the Plains Cree <a class="helptext" href="#">{% trans "translation" %}<span class="shortinfo">Ex. "nîso newopehikanak"</span></a> of the given sum of money.
  {% endifequal %}
{% endblock %}

{% block setting_items %}
	<li><label for="id_{{ settingsform.numgame.name }}">{% trans "Choose either numeric to words or vice versa." %}</label>
	    {{ settingsform.numgame }}</li>
</ul>
{% endblock %}

