{% extends "game.html" %}
{% load i18n %}

{% block helpaddress %}
{% ifequal LANGUAGE_CODE "no" %}
<a href="http://giellatekno.uit.no/smaoahpa/numra.nno.html"
{% else %}
<a href="http://giellatekno.uit.no/smaoahpa/numra.html"
{% endifequal %}
{% endblock %}

{% block gametitlename %}akihtâsona{% endblock %}
{% block imgprefix %}numra{% endblock %}


{% block veiledning %}
{% ifequal LANGUAGE_CODE "sme" %}
http://giellatekno.uit.no/oahpa/sme/useoahpa/numra.html
{% endifequal %}
{% ifequal LANGUAGE_CODE "fi" %}
http://giellatekno.uit.no/oahpa/sme/useoahpa/numra.fin.html
{% endifequal %}
{% ifequal LANGUAGE_CODE "en" %}
http://giellatekno.uit.no/oahpa/sme/useoahpa/numra.eng.html
{% endifequal %}
{% ifequal LANGUAGE_CODE "no" %}
http://giellatekno.uit.no/oahpa/sme/useoahpa/numra.nno.html
{% endifequal %}
{% ifequal LANGUAGE_CODE "ru" %}
http://giellatekno.uit.no/oahpa/sme/useoahpa/numra.rus.html
{% endifequal %}
{% ifequal LANGUAGE_CODE "sv" %}
http://giellatekno.uit.no/oahpa/sme/useoahpa/numra.nno.html
{% endifequal %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block name %}{% trans "Numerals" %}{% endblock %}
{% block pagename %}/{{ URL_PREFIX }}/numra/{% endblock %}

{% block instructions %}
  {# TODO: strings for instructions. #}
  {% block gamename %}{% endblock %}
  {% ifequal gametype "string" %}
	Enter the <a class="helptext" href="#">{% trans "numeral" %}<span class=shortinfo>Ex. "23"</span></a> equivalent to the given Cree number.
  {% else %}
	Enter the Plains Cree <a class="helptext" href="#">{% trans "translation" %}<span class=shortinfo">Ex. "nîsitanaw nistosâp"</span></a> of the given number.
  {% endifequal %}
{% endblock %}


{% block settings %}
    <div class="grammarlinks">
        {% include 'grammar_links_menu.html' %}
    </div>
    
    <ul id="settingsform">
        {% include 'numra_submenu.html' %}

        {% block setting_items %}
    	<li><label for="id_{{ settingsform.maxnum.name }}">{% trans "Select the range of numerals." %}</label>
    		{{ settingsform.maxnum }}</li>
    	<li><label for="id_{{ settingsform.numgame.name }}">{% trans "Select the direction." %}</label>{{ settingsform.numgame }}</li>
        {% endblock %}
    </ul>
    
    <ul id="submittable">
        <li><input type="submit" name="settings" value="{% trans "New set" %}" /></li>
    </ul>
{% endblock %}


{% block question %}
{% if form.numstring %}
{{ form.numstring }} 
{% else %}
{{ form.numeral }} 
{% endif %}
{{ form.numeral_id }}
{% endblock %}

{% block disable_nds %}
{% endblock %}
