{% extends "game.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block questionsetclass %}{% ifequal settings.gametype "bare" %}morfa{% else %}morfac{% endifequal %}{% endblock %}
{% block gametitlename %}{% ifequal settings.gametype "bare" %}itwêwinihkewin{% else %}kakwêcihkêmowina{% endifequal %}{% endblock %}
{% block imgprefix %}{% ifequal settings.gametype "bare" %}morfa{% else %}morfac{% endifequal %}{% endblock %}

{% block veiledning %}
{% ifequal LANGUAGE_CODE "sme" %}
http://giellatekno.uit.no/oahpa/sme/useoahpa/morfa.html
{% endifequal %}
{% ifequal LANGUAGE_CODE "fi" %}
http://giellatekno.uit.no/oahpa/sme/useoahpa/morfa.fin.html
{% endifequal %}
{% ifequal LANGUAGE_CODE "en" %}
http://giellatekno.uit.no/oahpa/sme/useoahpa/morfa.eng.html
{% endifequal %}
{% ifequal LANGUAGE_CODE "no" %}
http://giellatekno.uit.no/oahpa/sme/useoahpa/morfa.nno.html
{% endifequal %}
{% ifequal LANGUAGE_CODE "sv" %}
http://giellatekno.uit.no/oahpa/sme/useoahpa/morfa.nno.html
{% endifequal %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block name %}{% trans "Morphology" %}{% endblock %}
{% block pagename %}/{{ URL_PREFIX }}/morfa/{% endblock %}

{% block settings %}
    <div class="grammarlinks">
        {% include 'grammar_links_menu.html' %}
    </div>


	<ul id="settingsform">
	    <li id="pos_menu">
	        <label>Part of Speech</label>
	        <select class="exclude_form_update">
                {% ifequal settings.gametype "bare" %}
		            <option {% ifequal settings.pos "N" %} selected{% else %}{% endifequal %} value="{% url 'morfa_s.noun' %}">{% trans 'Nouns' %}</option>
		            <option {% ifequal settings.pos "V" %} selected{% else %}{% endifequal %}  value="{% url 'morfa_s.verb' %}">{% trans 'Verbs' %}</option>
                {% else %}
		            <option {% ifequal settings.pos "N" %} selected{% else %}{% endifequal %} value="{% url 'morfa_c.noun' %}">{% trans 'Nouns' %}</option>
		            <option {% ifequal settings.pos "V" %} selected{% else %}{% endifequal %} value="{% url 'morfa_c.verb' %}">{% trans 'Verbs' %}</option>
		            <option {% ifequal settings.pos "Pron" %} selected{% else %}{% endifequal %} value="{% url 'morfa_c.pron' %}">{% trans 'Pronouns' %}</option>

                {% endifequal %}

            {% comment %}
            <option 	{% ifequal settings.pos "A" %} selected{% else %}{% endifequal %} value="{% url 'morfa_c.adj' %}">{% trans 'Adjectives' %}</option>
                    <option {% ifequal settings.pos "Num" %} selected{% else %}{% endifequal %} value="{% url 'morfa_c.num' %}">{% trans 'Numerals' %}</option>
                    <option {% ifequal settings.pos "Der" %} selected{% else %}{% endifequal %} value="{% url 'morfa_c.der' %}">{% trans 'Derivations' %}</option>
            {% endcomment %}

	        </select>
	    </li>
		{% block subsetting %}{% endblock %}
        {% if settings.pos != "Num" %}
            {% block book %}
            {% ifequal settings.gametype "bare" %}
            <li><label for="id_{{ settingsform.book.name }}">{% trans "Book" %}</label>
                {{ settingsform.book }}</li>
            {% endifequal %}
            {% endblock %}
        {% endif %}
	</ul>

	<ul id="submittable">
	    <li><input type="submit" name="settings" value="{% trans "New set" %}" /></li>
	</ul>

{% endblock %}

{% block question %}
	{% ifequal settings.gametype "bare" %}
		          {{ form.lemma }}
		    {% comment %}
		    using NDS for this now
	      {% if settings.pos == "Pron" or settings.pos == "Num" %}
		      {{ form.lemma }}
		  {% else %} {# pos = N,V,A - link to translation #}
		      <a href="#" class="link_tooltip" id="link_tooltip-{{ forloop.counter }}">
		      </a>
		  {% endif %}
		      {% endcomment %}
	{% else %} {# Morfa-C #}
        {{ form.question }}{% block question_mark %}{% endblock %}
	      {% if settings.pos != "Pron" %}
		    {% if form.lemma %} (<a href="#" class="link_tooltip" id="link_tooltip-{{ forloop.counter }}">{{ form.lemma }}</a>) {% endif %}
	      {% else %}
	      {% endif %}
	{% endifequal %}
{% endblock %}

{% block tooltip %}
    {% include 'morfa_tooltip.html' %}
{% endblock %}
