.popover ul.errorapi_messages {
    font-size: 11pt;
    line-height: 1.1em;
    padding-left: 1.25em;
}

.popover ul.errorapi_messages li {
    font-weight: 300;
}

.popover .helptext {
    font-weight: bold;
    margin-top: .25em;
    display: block;
}

.popover .shortinfo {
    padding-left: .5em;
    font-weight: 300;
}
