# The MariaDB configuration file

# see /etc/mysql/my.cnf in the image
[client-server]
socket = /tmp/mysql.sock

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mariadb.conf.d/

[mariadb]
pid_file = /run/mysqld/mysqld.pid
