<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/main.css"/>
<style type="text/css">
<!--
.box { vertical-align:middle; background-color: #dddddd; height: 250px; width: 600px; padding: 15px; border: 2px solid #0000ff; -moz-border-radius: 8px; -webkit-border-radius: 8px; position: absolute; top: 50%; left: 50%; margin-left: -300px; margin-top: -200px;}
-->
</style> 
</head>
<body>
<div class="box">
<p>
Nordamisk OAHPA har flyttet til <a href="http://oahpa.no/davvi/">http://oahpa.no/davvi/</a>.
Programmene er forbedret, og de er integrert i kursstier som finnes her: <a href="http://kursa.oahpa.no/">http://kursa.oahpa.no/</a>.
</p>
<p>
I nye Oahpa kan du også logge deg inn med brukernavn og passord fra google eller facebook. Hvis du logger deg inn med et annet brukernavn enn du har brukt i gamle Oahpa, må du sende oss epost med nytt og gammelt brukernavn, slik at vi kan ordne deg tilgang til statistikken din. 
</p>
<p>
Innlogging gjør at du kan følge med på dine egne resultater, og hvis du er student på et kurs som samarbeider med Universitetet i Tromsø, får du tilgang til kursside, og du kan publisere egne tekster.
</p>
</div>
</body>
</html>
