{% extends "mgame.html" %}
{% load i18n %}

{% block gamename %}{{ settings.gamename }}{% endblock %}
{% block instructions %}
    {% if settings.gametype == "bare" %} 
        {% trans "Enter the above verb in the form that corresponds to the pronoun in brackets. Click on a word for its translation. Note: All verbs are given in the 3S form." %}
    {% elif settings.gametype == "context" %}

      {% if settings.vtype_context == 'V-PRS' %}
        {% trans "Talk about what people did or did not do today. Complete the response to the question by entering the verb in the correct form." %}
      {% elif settings.vtype_context == 'V-PRT' %}
        {% trans "Talk about what people did yesterday. Complete the response to the question by entering the verb in the correct form." %}
      {% else %}
        {% trans "Add verbs in correct forms." %}
      {% endif %}

    {% endif %}
{% endblock %}
{% block book %}{% endblock %}

{% block subsetting %}
	{% ifequal settings.gametype "bare" %}
		<li><label for="id_{{ settingsform.vtype.name }}">{% trans "Tense" %}</label>
			{{ settingsform.vtype }}</li>
		<li><label for="id_{{ settingsform.trans_anim.name }}">{% trans "Animacy" %}</label>
			{{ settingsform.trans_anim }}</li>
	{% else %}
		<li><label for="id_{{ settingsform.vtype_context.name }}">{% trans "Tense" %}</label>
			{{ settingsform.vtype_context }}</li>
	{% endifequal %}
{% endblock %}

