{% extends "django_messages/base.html" %} 
{% load i18n %} 
{% block messages_subtitle %}
{% trans "Compose Message"%}
{% endblock %}
{% block messages_content %} 

<form action="" method="post" role="form">
    {% csrf_token %} 
    {% if form.non_field_errors %}
    <div class="form-group">
        <label class="col-sm-2 col-md-2 col-lg-2 control-label">Errors</label>
        <div class="col-sm-6 col-md-6 col-lg-6">
            {{ form.non_field_errors }}
        </div>
    </div>
    {% endif %}

    <div class="form-group">
        <label for="id_recipient">To:</label>
        <br />
        {{ form.recipient }}
        {{ form.recipient.errors }}
    </div>

    <div class="form-group">
        <label for="id_subject">Subject:</label>
        <br />
        {{ form.subject }}
        {{ form.subject.errors }}
    </div>

    <div class="form-group">
        <label for="id_body">Body:</label>
        {{ form.body }}
        {{ form.body.errors }}
    </div>

    <div class="form-group">
        <input type="submit" value="{% trans "Send" %} &raquo;"/>
    </div>
</form>

{% endblock %}
