{% extends "mgame.html" %}
{% load i18n %}

{% block gamename %}{{ settings.gamename }}{% endblock %}
{% block instructions %}
  <!-- {% ifequal settings.gametype "bare" %}  -->
    {% trans "Add nouns in correct forms. You get translation if you click the word." %}
 <!-- {% else %}
    {% trans "Add nouns in correct forms." %}
  {% endifequal %} -->
{% endblock %}

{% block subsetting %}
	{% ifequal settings.gametype "bare" %}
	<li><label for="id_{{ settingsform.case.name }}">{% trans "Case" %}</label>
		{{ settingsform.case }}</li>
<!--	<li><label>{% trans "Stem" %}</label>
		<ul>
			<li>{{ settingsform.bisyllabic }} <label for="id_{{ settingsform.bisyllabic.name }}">{% trans "bisyllabic" %}</label></li>
			<li>{{ settingsform.trisyllabic }} <label for="id_{{ settingsform.trisyllabic.name }}">{% trans "trisyllabic" %}</label></li>
			<li>{{ settingsform.contracted }} <label for="id_{{ settingsform.contracted.name }}">{% trans "contracted" %}</label></li>
		</ul>
	</li> -->
	{% else %}
	<li><label for="id_{{ settingsform.case_context.name }}">{% trans "Case" %}</label>
		{{ settingsform.case_context }}</li>
	{% endifequal %}
{% endblock %}

