{% extends "mgame.html" %}
{% load i18n %}

{% block gamename %}{% trans settings.gamename %}{% endblock %}
{% block instructions %}
{% trans 'Write possessive forms.' %}
{% endblock %}


{% block subsetting %}

{% ifequal settings.gametype "bare" %}
	<li><label for="id_{{ settingsform.case.name }}"> {% trans "Case" %}</label>
		{{ settingsform.case }}</li>
	<li><label for="id_{{ settingsform.number.name }}"> {% trans "Number" %}</label>
		{{ settingsform.number }}</li>	
<!--	<li><label for="id_{{ settingsform.possessive_type.name }}"> {% trans "Possessor" %}</label>
		{{ settingsform.possessive_type }}</li>
	 
	<li><label for="id_{{ settingsform.possessive_person.name }}"> {% trans "Person" %}</label>
                {{ settingsform.possessive_person }}</li> -->
{% else %}
	<li><label for="id_{{ settingsform.possessive_case_context.name }}">{% trans "Case" %}</label>
		{{ settingsform.possessive_case_context }}</li>
{% endifequal %}

{% block book %}
{% endblock %}

{% endblock %}

