{% extends 'univ_oahpa.html' %}

{% load i18n %}
{% load cache %}
{% load goal_filters %}
{% load staticfiles %}

{% get_current_language as LANGUAGE_CODE %}

{% comment %}
TODO: internationalization strings
{% endcomment %}

{% block main_js %}{% endblock %}
{% block extrajs %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap_namespaced.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/courses.css" %}" />
{% endblock %}

{% block imgprefix %}numra{% endblock %}

{% block page_class %}fixed{% endblock %}

{% block content %}
    {# Add blocktrans and trans tags #}
	<div id="courses" class="bootstrap-styles" ng-app="CoursePage">
        <div class="row">
	        <div class="col-md-9 col-sm-9 col-lg-9">
	            <h3>Course invitation</h3>
	            {% if target_course %}
	                <p class="lead">
                        {% blocktrans %}
	                        You've been successfully enrolled in <strong>{{ target_course }}</strong>, check out
	                        your course profile to begin working on course goals, or
	                        click one of the exercises above to begin learning.
                        {% endblocktrans %}
	                </p>
	                <a class="btn btn-success" href="/{{ URL_PREFIX }}/courses/">Course profile</a>
	            {% else %}
	                <p class="lead">{% blocktrans %}Your enrollment key wasn't valid-- check with your instructor.{% endblocktrans %}</p>
	            {% endif %}

	            {% if error %}
	                <p class="error">{{ error }}</p>
	            {% endif %}

            </div>
        </div>
    </div>

{% endblock %}

{# vim: set ts=4 sw=4 tw=0 syntax=htmldjango : #}



