{% load i18n %}

<li class="inactive"><a href="#">{{ user.username }}</a></li>
<li><a href="{% url 'courses_main' %}">{% trans "Courses" %}</a></li>
<li><a href="{% url 'personal_goals' %}">{% trans "Personal Goals" %}</a></li>
<li><a href="{% url 'courses_stats' %}">{% trans "Learning History" %}</a></li>
<li><a href="{% url 'inbox' %}">{% trans "Messages" %}</a></li>
<li><a href="{% url 'logout' %}">{% trans "Log out" %}</a></li>
{% if user_has_surveys %}
    <li><a href="/{{ URL_PREFIX }}/survey/answer/">{% trans "Answer a survey" %}</a></li>
{% endif %}
