/* general */
.clickStyleCorrect {
	color: green !important;
	font-weight: bold !important;
	cursor: text !important;
}

.clickStyleIncorrect {
	color: red !important;
	font-weight: bold !important;
	cursor: text !important;
}

.clozeStyleInput {
	width: 50px !important;
	border: 1px solid grey !important;
	font-weight: bold !important;
}

.clozeStyleInputAdjust {
	width: 70px;
	font-weight: bold !important;
}

.clozeStyleInputUnknown {
	border: 1px solid gray !important;
	color: black !important;
}

.clozeStyleInputIncorrect {
	color: red !important;
}

.clozeStyleHint {
	margin-left: 2px !important;
	margin-right: 2px !important;
	vertical-align: middle !important;
	cursor: pointer !important;
	font-size: 90% !important;
	color: grey !important;
}

.clozeStyleCorrect {
	color: green !important;
	cursor: text !important;
	font-weight: bold !important;
}

.clozeStyleProvided {
	color: black !important;
	cursor: text !important;
	font-weight: bold !important;
}

.clozeStyleIncorrect {
	color: red !important;
}

/* gerunds */

.colorizeStyleGER {
	color: #FF8200 !important;
	font-weight: bold !important;
}

.colorizeStyleINF {
	color: #9331C4 !important;
	font-weight: bold !important;
}

.colorizeStyleINFSPLIT {
	color: black !important;
	font-weight: bold !important;
}

.colorizeStyleCLU {
	color: #2756E3 !important;
	font-weight: bold !important;
}

.clozeStyleBaseform {
	font-style: italic !important;
}

/* nouncountability */

.colorizeStyleCount {
	color: #2756E3 !important;
	font-weight: bold !important;
}

.colorizeStyleNoncount {
	color: #FF8200 !important;
	font-weight: bold !important;
}

.colorizeStyleBoth {
	color: #9331C4 !important;
	font-weight: bold !important;
}

.mcStyleHighlight {
	font-weight: bold !important;
}

.mcStyleAnswer {
	font-weight: normal !important;
	font-style: italic !important;
}

/* passives */
.colorizeStylePassive {
	color: #FF8200 !important;
	font-weight: bold !important;
}

.clozeStylePassiveConversion {
	font-style: italic !important;
}

/* phrasal verbs */

.colorizeStyleVerb {
	color: #FF8200 !important;
	font-weight: bold !important;
}

.colorizeStyleParticle {
	color: #2756E3 !important;
	font-weight: bold !important;
}

/* pos */

.colorizeStyleArts {
	color: #ff8200 !important;
	font-weight: bold !important;
}

.colorizeStyleDets {
	color: #2222FF !important;
	font-weight: bold !important;
}

.colorizeStylePreps {
	color: #A020F0 !important;
	font-weight: bold !important;
}

/* whquestions */

.colorizeStyleWHS {
	color: #9331C4 !important;
	font-weight: bold !important;
}

.colorizeStyleWH {
	color: #2756E3 !important;
	font-weight: bold !important;
}

.colorizeStyleSUBJ {
	color: #8B0000 !important;
	font-weight: bold !important;
}

.colorizeStyleMVERB {
	color: #FF8200 !important;
	font-weight: bold !important;
}

.colorizeStyleNFIN {
	color: #FF8200 !important;
	font-weight: bold !important;
}

.colorizeStyleAUX {
	color: #FF8200 !important;
	font-weight: bold !important;
}

.clickStyleWHS {
	border: 2px solid #1E90FF !important;
}

.clickStyleWH {
	border: 2px solid #0000FF !important;
}

.clickStyleSUBJ {
	border: 2px solid #8B0000 !important;
}

.clickStyleMVERB {
	border: 2px solid #FF4500 !important;
}

.clickStyleNFIN {
	border: 2px solid #FF4500 !important;
}

.clickStyleAUX {
	border: 2px solid #FF4500 !important;
}

.clozeStyleNode {
	text-decoration: underline !important;
	padding: 4px !important;
	cursor: pointer !important;
}
