/* general */
span.werticoretoken {
	float: none !important;
	margin: 0 !important;
}
.clickStyleCorrect {
	color: green !important;
	font-weight: bold !important;
	cursor: text !important;
}

.clickStyleIncorrect {
	color: red !important;
	font-weight: bold !important;
	cursor: text !important;
}

.clozeStyleInput {
	width: 50px !important;
	border: 1px solid grey !important;
	font-weight: bold !important;
}

.clozeStyleInputAdjust {
	width: 70px;
	font-weight: bold !important;
}

.clozeStyleInputUnknown {
	border: 1px solid gray !important;
	color: black !important;
}

.clozeStyleInputIncorrect {
	color: red !important;
}

.clozeStyleHint {
	margin-left: 2px !important;
	margin-right: 2px !important;
	vertical-align: middle !important;
	cursor: pointer !important;
	font-size: 90% !important;
	color: grey !important;
}

.clozeStyleCorrect {
	color: green !important;
	cursor: text !important;
	font-weight: bold !important;
}

.clozeStyleProvided {
	color: black !important;
	cursor: text !important;
	font-weight: bold !important;
}

.clozeStyleIncorrect {
	color: red !important;
}
/* pos */
.colorizeStyleDets {
	color: #2222FF !important;
	font-weight: bold !important;
}

/* UI */
#werticore-inst-notification {
	position: fixed !important;
	background: white !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	border: 1px solid #999999 !important;
	z-index: 9999 !important;
	font-size: 12pt !important;
	padding: 5px !important;
	top: 0px;
	left: 0px;
	display: none;
}
#werticore-inst-message {
	padding: 10px !important;
	color: black !important;
	display: block !important;
	font-family: sans-serif !important;
	font-size: 120% !important;
	position: relative !important;
	text-align: center !important;
}
#werticore-inst-click {
	color: black !important;
	display: block !important;
	font-family: sans-serif !important;
	font-size: 100% !important;
	position: relative !important;
	margin: auto !important;
	width: 50px !important;
	padding: 1px !important;
	background: lightgray !important;
	-moz-border-radius: 5px !important;
	border: 1px solid black !important;
	text-align: center !important;
}
