{% extends "game.html" %}
{% load i18n %}
{% load cache %}
{% get_current_language as LANGUAGE_CODE %}

{% block questionsetclass %}{% ifequal settings.gametype "bare" %}morfa{% else %}morfac{% endifequal %}{% endblock %}
{% block gametitlename %}{% ifequal settings.gametype "bare" %}MORFA-S{% else %}MORFA-C{% endifequal %}{% endblock %}
{% block imgprefix %}{% ifequal settings.gametype "bare" %}morfa{% else %}morfac{% endifequal %}{% endblock %}

{% block veiledning %}
{% ifequal LANGUAGE_CODE "sme" %}
http://giellatekno.uit.no/oahpa/sme/useoahpa/morfa.html
{% endifequal %}
{% ifequal LANGUAGE_CODE "fi" %}
http://giellatekno.uit.no/oahpa/sme/useoahpa/morfa.fin.html
{% endifequal %}
{% ifequal LANGUAGE_CODE "en" %}
http://giellatekno.uit.no/oahpa/sme/useoahpa/morfa.eng.html
{% endifequal %}
{% ifequal LANGUAGE_CODE "no" %}
http://giellatekno.uit.no/oahpa/sme/useoahpa/morfa.nno.html
{% endifequal %}
{% ifequal LANGUAGE_CODE "sv" %}
http://giellatekno.uit.no/oahpa/sme/useoahpa/morfa.nno.html
{% endifequal %}
{% endblock %}

{% block navbar %}
{% ifequal settings.gametype "bare" %}
	<ul class="sidelist">
		{% ifequal settings.pos "N" %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'morfa_s.noun' %}">{% trans 'Nouns' %}</a></li>
		{% ifequal settings.pos "V" %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'morfa_s.verb' %}">{% trans 'Verbs' %}</a></li>
		{% ifequal settings.pos "A" %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'morfa_s.adj' %}">{% trans 'Adjectives' %}</a></li>
	</ul>
{% else %}
	<ul class="sidelist">
		{% ifequal settings.pos "N" %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'morfa_c.noun' %}">{% trans 'Nouns' %}</a></li>
		{% ifequal settings.pos "V" %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'morfa_c.verb' %}">{% trans 'Verbs' %}</a></li>
	</ul>
{% endifequal %}
{% endblock %}

{% block name %}{% trans "Morphology" %}{% endblock %}

{% block pagename %}/{{ URL_PREFIX }}/morfa/{% endblock %}


{% block settings %}
    <p> <font color="#FF0000" size="2pt">{% trans "NB! This is a test version. The games Leksa and Numra are working properly but Morfa-S and Morfa-C can still contain some errors." %}</font></p>

    <div class="grammarlinks">
        {% include 'grammar_links_menu.html' %}
    </div>

	<ul id="settingsform">
		{% block subsetting %}{% endblock %}
        {% if settings.pos != "Num" %}
            {% block book %}
            {% ifequal settings.gametype "bare" %}
            <li><label for="id_{{ settingsform.book.name }}">{% trans "Book" %}</label>
                {{ settingsform.book }}</li>
            {% endifequal %}
            {% endblock %}
        {% endif %}
	</ul>

	<ul id="submittable">
	    <li><input type="submit" name="settings" value="{% trans "New set" %}" /></li>
	</ul>

{% endblock %}

{% block question %}
<script>
function playSound(soundfile) {
    var audio=document.getElementById("pronounce{{ forloop.counter }}");
    audio.src=soundfile;
    audio.play();
}
</script>
	{% ifequal settings.gametype "bare" %}
	         {% if settings.pos == "Pron" or settings.pos == "Num" %}
		      {{ form.lemma }}
		 {% else %} {# pos = N,V,A - link to translation #}
		      <a href="#" class="link_tooltip" id="link_tooltip-{{ forloop.counter }}">{{ form.lemma }}</a>
		 {% endif %}
	{% else %} {# Morfa-C #}
		      {{ form.question }}

		     <audio id="pronounce{{ forloop.counter }}"></audio>
		      <a onclick=playSound("{{ MEDIA_URL }}/audio/audio_out{{ forloop.counter }}.wav") href="#">
		<img src="{{ MEDIA_URL }}/images/loudspeaker.jpg" heigth="15px" width="20px"/>
		      </a>

		      {% if form.lemma %} (<a href="#" class="link_tooltip" id="link_tooltip-{{ forloop.counter }}">{{ form.lemma }}</a>) {% endif %}
		   {% endifequal %}
{% endblock %}

{% block tooltip %}
    {% include 'morfa_tooltip.html' %}
{% endblock %}
