
#center {
  background-image: url(/oahpa/media/bakgrunn12.jpg);
  border: 0px solid #150517;
  padding: 20px 40px;
}
#left {
  border: 0px solid #150517;
  right: 210px;          /* LC width */
  width: 120px;          /* LC width */
}
