<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	    <title>{% block title %}{% endblock %}</title>

		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/main.css"/>
		<!--[if gte IE 7]>
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/ie_fixes.css"/>
		<![endif]-->

		{% comment %}
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/mobile.css"/>
		{% endcomment %}

		{% block extracss %}
		{% endblock %}

		{% block extrajs %}
		{% endblock %}

		<!--[if lt IE 7.]>
		<script defer type="text/javascript" src="{{ MEDIA_URL }}/js/pngfix.js"></script>
		<![endif]-->
	</head>

	{% load i18n %}

<body class="{% block bodyclass %}main{% endblock %}">
	<div id="page" class="{% block pageclass %}{% endblock %}">
		<div id="headerimg"><a href="/{{ URL_PREFIX }}/"><img src="{{ MEDIA_URL }}/images/Oahpa_logo0001.png" alt="OAHPA!"/></a></div>
		<a class="hide" href="#content">Skip to content</a>

		{% block language_select %}
		<div id="language_options">
			{% get_current_language as LANGUAGE_CODE %}
			<form action="/{{ URL_PREFIX }}/i18n/setlang/" method="post" name="newlang">
				<dl>
					<dt><label for="language_select">{% trans "Interface language" %}</label></dt>
					<dd>
						<input name="next" type="hidden" value="{% block pagename %}{% endblock %}" />
						<select id="language_select" name="language" onChange="javascript:this.form.submit();">

						{% ifequal LANGUAGE_CODE "ru" %}
							<option value="ru" selected="selected">Pусский язык</option>
						{% else %}
							<option value="ru">Pусский язык</option>
						{% endifequal %}

						{% ifequal LANGUAGE_CODE "sjd" %}
							<option value="sjd" selected="selected">Kildin Sámi</option>
						{% else %}
							<option value="sjd">Kildin Sámi</option>
						{% endifequal %}

						{% ifequal LANGUAGE_CODE "en" %}
							<option value="en" selected="selected">English</option>
						{% else %}
							<option value="en">English</option>
						{% endifequal %}

						{% ifequal LANGUAGE_CODE "no" %}
							<option value="no" selected="selected">Norsk</option>
						{% else %}
							<option value="no">Norsk</option>
						{% endifequal %}

						{% ifequal LANGUAGE_CODE "fi" %}
						 	<option value="fi" selected="selected">Suomi</option>
						{% else %}
						 	<option value="fi">Suomi</option>
						{% endifequal %}
                        {% ifequal LANGUAGE_CODE "sme" %}
							<option value="sme" selected="selected">Davvisámi</option>
						{% else %}
							<option value="sme">Davvisámi</option>
						{% endifequal %}

					</select>
					</dd>
				</dl>
				<input type="submit" class="hide" value="submit" />
			</form>
			<!--
			<form action="/{{ URL_PREFIX }}/dialect/" method="post">
				<dl>
					<dt><label for="dialect">{% trans "Kildin Sami dialect" %}</label></dt>
					<dd>
						<input name="next" type="hidden" value="/{{ URL_PREFIX }}/" />
						<select name="dialect" onChange="javascript:this.form.submit();">
						{% if dialect %}
							{% ifequal dialect "GG" %}
								<option value="GG" selected="selected">{% trans 'GG' %}</option>
								<option value="KJ">{% trans 'KJ' %}</option>
							{% else %}
								<option value="GG">{% trans 'GG' %}</option>
								<option value="KJ" selected="selected">{% trans 'KJ' %}</option>
							{% endifequal %}
						{% else %}
							<option value="GG">{% trans 'GG' %}</option>
							<option value="KJ">{% trans 'KJ' %}</option>
						{% endif %}
					</select>
					</dd>
				</dl>
				<input type="submit" class="hide" value="submit" />
			</form>
			-->
		</div>
		{% endblock %}

		<div id="header">
			{% block header_content %}
			<h1><img src="{{ MEDIA_URL }}/images/Oahpa_logo0001.png" alt="OAHPA!" /></h1>
			<h2>Тӣррв!</h2>
			{% endblock %}
		</div>

		<div id="content">
			{% block main_content %}
			<ul id="games_menu">
				<li class="game">
					<a href="{% url 'leksa' %}">
						<span>LEKSA</span><br />
						<img src="{{ MEDIA_URL }}/images/leksa.png" alt="LEKSA" /><br />
						<span>{% trans "Words and translations" %}</span>
					</a>
				</li>
                <li class="game">
                    <a href="{% url 'numra' %}">
						<span>NUMRA</span><br />
						<img src="{{ MEDIA_URL }}/images/numra.png" alt="NUMRA" /><br />
						<span>{% trans "Practise numerals" %}</span>
					</a>
                </li>
			</ul>
			{% comment %}
			<h3>{% trans "Online reference materials" %}</h3>
			{% endcomment %}
			<p class="intro">{% trans "Oahpa is an internet program for youth and grown ups learning Kildin Sámi. The program can be adjusted to different themes and levels of difficulty, and it generates new task sets automatically." %}</p>
			{% comment %}
			<p>{% trans "Oahpa is connected with online reference materials." %}</p>
			{% endcomment %}
			<ul class="linklist">
            {% ifequal LANGUAGE_CODE "sme" %}
				<li><a href="http://oahpa.no/sjd/index.eng.html">{% trans "Veiledning" %}</a></li>
            {% endifequal %}
            {% ifequal LANGUAGE_CODE "fi" %}
                <li><a href="http://oahpa.no/sjd/index.fin.html">{% trans "Veiledning" %}</a></li>
            {% endifequal %}
            {% ifequal LANGUAGE_CODE "en" %}
                <li><a href="http://oahpa.no/sjd/index.eng.html">{% trans "Veiledning" %}</a></li>
            {% endifequal %}
            {% ifequal LANGUAGE_CODE "no" %}
                <li><a href="http://oahpa.no/sjd/index.nob.html">{% trans "Veiledning" %}</a></li>
            {% endifequal %}
            {% ifequal LANGUAGE_CODE "ru" %}
                <li><a href="http://oahpa.no/sjd/index.html">{% trans "Veiledning" %}</a></li>
            {% endifequal %}
            {% ifequal LANGUAGE_CODE "sv" %}
                <li><a href="http://oahpa.no/sjd/index.nob.html">{% trans "Veiledning" %}</a></li>
            {% endifequal %}
            {% ifequal LANGUAGE_CODE "fi" %}
                <li><a href="http://gtweb.uit.no/webdict/index_sjd-rus.html">{% trans "Kildin Sámi" %}-{% trans "Russian" %} {% trans "web dictionary" %}</a></li>
            {% else %}
				<li><a href="http://gtweb.uit.no/webdict/index_sjd-rus.html">{% trans "Kildin Sámi" %}-{% trans "Russian" %} {% trans "web dictionary" %}</a></li>
            {% endifequal %}
            <!--
            {% ifequal LANGUAGE_CODE "sme" %}
				<li><a href="http://giellatekno.uit.no/oahpa/sjd/gramm/grammatihkka.html">{% trans "Kildin Sámi grammar" %}</a></li>
            {% endifequal %}
            {% ifequal LANGUAGE_CODE "fi" %}
				<li><a href="http://giellatekno.uit.no/oahpa/sjd/gramm/grammatihkka.html">{% trans "Kildin Sámi grammar" %}</a></li>
            {% endifequal %}
            {% ifequal LANGUAGE_CODE "en" %}
				<li><a href="http://giellatekno.uit.no/oahpa/sjd/gramm/grammatihkka.eng.html">{% trans "Kildin Sámi grammar" %}</a></li>
            {% endifequal %}
            {% ifequal LANGUAGE_CODE "no" %}
				<li><a href="http://giellatekno.uit.no/oahpa/sjd/gramm/grammatihkka.nob.html">{% trans "Kildin Sámi grammar" %}</a></li>
            {% endifequal %}
            {% ifequal LANGUAGE_CODE "ru" %}
				<li><a href="http://giellatekno.uit.no/oahpa/sjd/gramm/grammatihkka.rus.html">{% trans "Kildin Sámi grammar" %}</a></li>
            {% endifequal %}
            {% ifequal LANGUAGE_CODE "sv" %}
				<li><a href="http://giellatekno.uit.no/oahpa/sjd/gramm/grammatihkka.nob.html">{% trans "Kildin Sámi grammar" %}</a></li>
            {% endifequal %}
            -->
                <li><a href="http://oahpa.no/davvi" style="font-size:13px">North Saami Oahpa</a></li>
			</ul>
			{% endblock %}
		</div>

		<div id="footer">
			<div id="copyright">
			{% block deeplink %}
			{% if deeplink %}
			<div id="deeplink">
				<a href="{{ deeplink }}">{% trans 'Link to this exercise' %}</a>
			</div>
			{% endif %}
			{% endblock %}

			  <p>
				  {% trans "Copyright 2011-2026 The Arctic University of Norway " %}<br />
			{% trans "Contact" %} oahpa@uit.no</p>
			</div>
		</div>
	</div>
</body>
</html>
