{% extends "num.html" %}
{% load i18n %}

{% block navbar %}
<ul class="sidelist">
<li><a href="/nu_oahpa/numra/">{% trans 'Cardinals' %}</li>
<li><a href="/nu_oahpa/numra_ord/">{% trans 'Ordinals' %}</a>
<li class="selected">{% trans 'Clock' %}</a></li>
<li><a href="/nu_oahpa/numra_date/">{% trans 'Date' %}</li>
</ul>
{% endblock %}

{% block instructions %}
  {% ifequal gametype "string" %}
    {% trans "Enter the numeral. (Ex. 10:21)" %}
  {% else %}
    {% trans "Enter the time in North Sámi. (Ex. beal vihtta)." %}
  {% endifequal %}
{% endblock %}


{% block settings %}

<ul id="settingsform">
	<li><label for="id_{{ settingsform.gametype.name }}">{% trans "Select how many points of time to include." %}</label>
		{{ settingsform.gametype }}</li>
	<li><label for="id_{{ settingsform.numgame.name }}">{% trans "Select the direction" %}</label>{{ settingsform.numgame }}</li>
</ul>

<input type="submit" name="settings" value="{% trans "New set" %}" />

{% endblock %}

