{% extends "num.html" %}
{% load i18n %}
{% load trans_to %}

{% block navbar %}
	{% with "numra_ordinal" as gamename_nav %}
        {% include 'numra_submenu.html' %}
	{% endwith %}
{% endblock %}

{% block instructions %}
  {# TODO: strings for instructions. #}
  {% ifequal gametype "string" %}
    <t class="interface">{% trans_to "Write a numeral followed by a period. (Ex. 32.)" "sme" %}<span class="invisible">{% trans "Write a numeral followed by a period. (Ex. 32.)" %}</span></t>
  {% else %}
    <t class="interface">{% trans_to "Write the ordinal numbers in North Sámi. (Ex. ovccát)" "sme" %}<span class="invisible">{% trans "Write the ordinal numbers in North Sámi. (Ex. ovccát)" %}</span></t>
  {% endifequal %}
{% endblock %}

