{% extends 'rus_oahpa_main.html' %}
{% load i18n %}
{{ lang_switch }}
{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}
   
{% block title %}{% endblock %}
	
{% block bodyclass %} {% endblock %}
{% block pageclass %}game{% endblock %}

{# Hide language select menus #}
{% block language_select %} {% endblock %}

{% block header_content %} {% endblock %}


{% block main_content %}
<ul id="games_menu" class="small">

	<li class="game">
		<a href="{% url morfa_c.noun %}">
			<img src="{{ MEDIA_URL }}/images/morfac_small.png" alt="MORFA-C"/><br/>
			<span class="gamename">MORFA-C</span>
		</a>
	</li>

	<li class="game">
		<a href="{% url morfa_s.noun %}">
			<img src="{{ MEDIA_URL }}/images/morfa_small.png" alt="MORFA-S"/><br/>
			<span class="gamename">MORFA-S</span>
		</a>
	</li>

<!--    <li class="game">
		<a href="{% url vasta_s %}">
			<img src="{{ MEDIA_URL }}/images/vasta_small.png" alt="VASTA"/><br/>
			<span class="gamename">VASTA</span>
		</a>
	</li>
    
    <li class="game">
		<a href="{% url sahka %}">
			<img src="{{ MEDIA_URL }}/images/sahka_small.png" alt="SAHKA"/><br/>
			<span class="gamename">SAHKA</span>
		</a>
	</li>  ---->
    
	<li class="game">
		<a href="{% url leksa %}">
			<img src="{{ MEDIA_URL }}/images/leksa_small.png" alt="LEKSA"/><br/>
			<span class="gamename">LEKSA</span>
		</a>
	</li>

	<li class="game">
		<a href="{% url numra %}">
			<img src="{{ MEDIA_URL }}/images/numra_small.png" alt="NUMRA"/><br/>
			<span class="gamename">NUMRA</span>
		</a>
	</li>
	

</ul>
<div id="leftcontent">
	<div id="navbar">
		<img width="120" height="120" border="0" src="{{ MEDIA_URL }}/images/{% block imgprefix %}{% endblock %}_big.png" alt="Game logo" />
		<div class="bigheader">{% block gametitlename %}{% endblock %}</div>
		{% block navbar %}{% endblock %}
	</div>
	
	<strong>{% trans "Reference materials" %}</strong>
	<ul class="sidelist small">
		<li><a href="{% block veiledning %}{% endblock %}">{% trans "Instructions" %}</a></li> 
<!--        {% ifequal LANGUAGE_CODE "fi" %}
            <li><a href="http://victorio.uit.no/webdict/index_sme-fin.html">{% trans "Dictionary" %}</a></li>
        {% else %}
            <li><a href="http://victorio.uit.no/webdict/index_sme-nob.html">{% trans "Dictionary" %}</a></li>
        {% endifequal %}
        {% ifequal LANGUAGE_CODE "sme" %}
            <li><a href="http://giellatekno.uit.no/oahpa/sme/gramm/grammatihkka.html">{% trans "Grammar" %}</a></li>
        {% endifequal %}
        {% ifequal LANGUAGE_CODE "fi" %}
            <li><a href="http://giellatekno.uit.no/oahpa/sme/gramm/grammatihkka.html">{% trans "Grammar" %}</a></li>
        {% endifequal %}
        {% ifequal LANGUAGE_CODE "en" %}
            <li><a href="http://giellatekno.uit.no/oahpa/sme/gramm/grammatihkka.eng.html">{% trans "Grammar" %}</a></li>
        {% endifequal %}
        {% ifequal LANGUAGE_CODE "no" %}
            <li><a href="http://giellatekno.uit.no/oahpa/sme/gramm/grammatihkka.nob.html">{% trans "Grammar" %}</a></li>
        {% endifequal %}
        {% ifequal LANGUAGE_CODE "sv" %}
            <li><a href="http://giellatekno.uit.no/oahpa/sme/gramm/grammatihkka.nob.html">{% trans "Grammar" %}</a></li>
        {% endifequal %} -->
    </ul> 

<!--	<strong>{% trans "Online courses" %}</strong>
	<ul class="sidelist small">
		{% if user.is_authenticated %}
			<li><a href="{% url rus_oahpa.courses.views.courses_main %}">{% trans "View progress" %}</a></li>
			<li><a href="{% url rus_oahpa.courses.urls.logout %}">{% trans "Log out" %}</a></li>
		{% else %}
    		<li><a href="/rus_oahpa/courses/login/">{% trans "Log in" %}</a></li>
    	{% endif %}
    </ul>
	
--->	
</div>

{% comment %}
<a href="/rus_oahpa/rus_feedback/">{% trans 'Feedback' %}</a><br/>
{% endcomment %}

<div id="rightcontent">
	{% block rightcontent %}
	<a name="content" class="hide">&nbsp;</a>
	<form action="" method="post" id="gameform" name="gameform">
		
	<div id="settings">
		{% block settings %}{% endblock %}
	</div>
	
	<div id="game">
	    {% block content %}{% endblock %}
	</div>
	
	</form>
	{% endblock %}

</div>

{% endblock %}

