{% extends 'univ_oahpa.html' %}
{% load i18n %}
{% load goal_filters %}
{% get_current_language as LANGUAGE_CODE %}

{% comment %}
TODO: link in user interface

{% endcomment %}

{% block page_class %}fixed{% endblock %}
{% block imgprefix %}numra{% endblock %}

{% block content %}
	{# Add blocktrans and trans tags #}
	<div id="courses">
		<ul id="subnav">
			<li><a href="{% url univ_oahpa.courses.urls.logout %}">{% trans "Log out" %}</a></li>
			{% if profile.is_instructor %}
			<li><a href="/{{ URL_PREFIX }}/courses/">{% trans "Course overview" %}</a></li>
			{% endif %}
			{% if user.is_staff %}
			<li><a href="/{{ URL_PREFIX }}/admin/courses/">{% trans "Admin interface" %}</a></li>
			{% endif %}
		</ul>
		<h2>{% trans 'Welcome' %}, {{ user.username }}!</h2>
		{% if is_student %}
			<p>{% trans "Your personal goals" %}</p>
		        {% if user_defined_goals|length > 0 %}
			        {% with user_defined_goals as goal_set %}
				        {% include 'courses/goal_table_list.html' %}
			        {% endwith %}
			        <a href="{% url courses.views.courses_goal_construction %}">Create a new goal for yourself</a>
			    {% else %}
			        <a href="{% url courses.views.courses_goal_construction %}">Create a goal for yourself</a>
			    {% endif %}
			<p>{% trans "Your courses" %} </p>
			<div class="courselist">
			{% for course in courses %}
				<h3>{{ course.identifier }} &ndash; {{ course.name }}</h3>
				{% if course.site_link %}
				    <a href="{{ course.site_link }}" target="BLANK">{% trans "View course lessons" %}</a></li>
				{% endif %}
				{% if course.goal_set.all|length > 0 %}
				    {% with course.goal_set.all as goal_set %}
				        {% include 'courses/goal_table_list.html' %}
				    {% endwith %}
			    {% endif %}
			{% endfor %}
			</div>
			{% if new_profile %}
				<p>{% trans "You don't have any scores yet, go play some games!" %}</p>
			{% else %}
			    <br /> 
			    <br /> 
				{% load pretty_logs %}
				<h3>{% trans "Learning stats" %}</h3>
				<p>{% trans "The following scores represent your progress in the games available in Oahpa. Instructors will see your scores as shown below, but will also be able to see individual scores from every game. Good luck!" %}</p>
				<dl class="course_progress">
					{% for summary in summaries %}
					<dt>{% for a in summary.game.name|filter_log %}{{ a }}{% if not forloop.last %} - {% endif %}{% endfor %}</dt>
						<dd>
							<ul>
								<li>{% trans "Average" %} &mdash; {{ summary.average }}</li>
								<li>{% trans "Highest score" %} &mdash; {{ summary.maximum }}</li>
								<li>{% trans "Lowest score" %} &mdash; {{ summary.minimum }}</li>
								<li>{% trans "Number of tries" %} &mdash; {{ summary.count }}</li>
							</ul>		
						</dd>
					{% endfor %}
				</dl>

			{% endif %}
		{% else %}
		<p>{% trans "You are a course instructor." %} {% trans "To view your own grade summary," %} <a href="/{{ URL_PREFIX }}/courses/?student_view=True">{% trans "click here" %}</a></p>
			<p><a href="/{{ URL_PREFIX }}/admin/courses/">{% trans "View students' grades" %}</a></p>
		{% endif %}
	</div>

{% endblock %}

