{% extends 'univ_oahpa.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% comment %}
TODO: internationalization strings

{% endcomment %}

{% block imgprefix %}numra{% endblock %}

{% block page_class %}fixed{% endblock %}

{% block content %}
	{# Add blocktrans and trans tags #}
	<div id="courses">
		<ul id="subnav">
			<li><a href="{% url univ_oahpa.courses.urls.logout %}">Log out</a></li>
		</ul>
		<h2>{% trans 'Welcome' %}, {{ user.username }}!</h2>

		<p>{% trans "You are a course instructor." %}</p>
		{% for course in courses %}
		<div class="instructor_course">
			<h3>{{ course.identifier }} - {{ course.name }}</h3>
			<a href="{{ course.site_link }}">Site.uit.no</a>

			<br />
			<ul class="course_students">
			{% for student in course.students.all %}
			<li><strong class="student_name">{{ student.user.username }}</strong>
				<ul class="row">
					<li>{% trans "login count" %}: {{ student.login_count }}</li>
					<li>{% trans "last login" %}: {{ student.last_login }}</li>
				</ul>
				{% if student.grades %}
				<table class="grades">
				<tr>
					<th>{% trans "exercise type" %}</th>
					<th>{% trans "average score" %}</th>
					<th>{% trans "minimum score" %}</th>
					<th>{% trans "maximum score" %}</th>
					<th>{% trans "game count" %}</th>
				</tr>
				{% for grade in student.grades|dictsort:"game_name" %}
				<tr class="{% cycle "even" "odd" %}">
					<td>{{ grade.game_name }}</td>
					<td>{{ grade.average }}</td>
					<td>{{ grade.minimum }}</td>
					<td>{{ grade.maximum }}</td>
					<td>{{ grade.count }}</td>
				</tr>
				{% endfor %}
				</table>
				{% endif %}
			</li>
			{% endfor %}
			</ul>
		</div>
		{% endfor %}

	</div>

{% endblock %}

{# vim: set ts=4 sw=4 tw=0 syntax=htmldjango : #}

