{% extends 'univ_oahpa.html' %}
{% load i18n %}
{% load goal_filters %}
{% get_current_language as LANGUAGE_CODE %}

{% comment %}
TODO: link in user interface

{% endcomment %}

{% block extrajs %}
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/bootstrap-theme.css"/>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/bootstrap_namespaced.css"/>
{% endblock %}

{% block page_class %}fixed{% endblock %}
{% block imgprefix %}numra{% endblock %}

{% block content %}
	{# Add blocktrans and trans tags #}
	<div id="courses" class="bootstrap-styles">
	    <div class="container col-md-12 col-sm-12 col-lg-12">
	        <div class="row">
		        <ul id="subnav" class="nav nav-tabs">
			        <li class="active"><a href="/{{ URL_PREFIX }}/courses/">Courses &amp; Goals</a></li>
			        <li><a href="/{{ URL_PREFIX }}/courses/stats/">stats</a></li>
			        {% if profile.is_instructor %}
			        <li><a href="/{{ URL_PREFIX }}/courses/">{% trans "Course overview" %}</a></li>
			        {% endif %}
			        {% if user.is_staff %}
			        <li><a href="/{{ URL_PREFIX }}/admin/courses/">{% trans "Admin interface" %}</a></li>
			        {% endif %}
			        <li><a href="{% url univ_oahpa.courses.urls.logout %}">{% trans "Log out" %}</a></li>
		        </ul>
	        </div>

		    <div class="row">
		        <div class="col-md-12">

		            <h3>{% trans 'Welcome' %}, {{ user.username }}!</h3>

			        <div class="goals_overview">
			            <h4 class="section_header">{% trans "Your goals" %}</h4>
		                {% if user_defined_goals|length > 0 %}
			                {% with user_defined_goals as goal_set %}
				                {% include 'courses/goal_table_list.html' %}
			                {% endwith %}
			            {% endif %}
			            <a id="create_self_goal" class="btn btn-success" href="{% url courses.views.courses_goal_construction %}">Create a goal</a>
			        </div>

		            {% if is_student %}

		                <hr />

			            <div class="courselist bootstrap-styles">
			                <h4 class="section_header">{% trans "Your course goals" %} </h4>
			                {% for course in courses %}
			                    <div class="row">
				                    <div class="col-md-12 col-sm-12 col-lg-12">
				                        <h3 class="course_name">{{ course.identifier }} &ndash; {{ course.name }}</h3>
                                    </div>
                                </div>
                                <div class="row">
				                    <div class="course_block">
				                        {% if course.coursegoal_set.all|length > 0 %}
				                            {% for coursegoal in course.coursegoal_set.all %}
				                                {% if coursegoal|goals|length > 0 %}
				                                    <div class="coursegoal row">
				                                        <div class="col-md-4 col-sm-4 col-lg-4">
				                                            <h4>{{ coursegoal.short_name }}</h4>
				                                            <h5 class="cumulative_progress">{{ coursegoal|cumulative_progress:user }}</h5>
				                                            <div class="well">
				                                                <p class="goal_description">{{ coursegoal.description }}</p>
				                                            </div>
				                                        </div>
				                                        <div class="col-md-8 col-sm-8 col-lg-8">
				                                            {% with coursegoal|goals as goal_set %}
				                                                {% include 'courses/goal_table_list.html' %}
				                                            {% endwith %}
				                                        </div>
                                                    </div>
                                                    <div class="clearfix visible-xs"></div>
                                                {% endif %}
				                            {% endfor %}
			                            {% else %}
				                                <div class="col-md-12 col-sm-12 col-lg-12">
			                                        <p class="goal_note">Your instructor
			                                            has not yet defined any goals
			                                            for this course.</p>
			                                    </div>
			                                </div>
			                            {% endif %}
				                        {% if course.site_link %}
				                            <a class="course_link" href="{{ course.site_link }}" target="BLANK">{% trans "View course lessons" %}</a></li>
				                        {% endif %}
			                        </div>

			                    </div>
			                </div>
			                {% endfor %}
			            </div>
		            {% else %}
		                <div class="instructor_block">
		                    <p>{% trans "You are a course instructor." %} {% trans "To view your own grade summary," %} <a href="/{{ URL_PREFIX }}/courses/?student_view=True">{% trans "click here" %}</a></p>
			                    <p><a href="/{{ URL_PREFIX }}/admin/courses/">{% trans "View students' grades" %}</a></p>
			            </div>
		            {% endif %}
		        </div>
		    </div>
		</div>
	</div>

{% endblock %}

