{% load goal_filters %}

<table class="course_goals">
    <tr>
        <th>&nbsp;</th>
        <th>Goal</th>
        <th>Description</th>
        <th>Progress</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
{% for goal in goal_set %}
    <tr>
        {% comment %}TODO: test if it's already in progress or
        been done and restyle, or sort by completed
        date? {% endcomment %}
        <td>
            {% if goal|complete_for:student.user %}
                <span class="star">&#9733;</span>
            {% else %}
                &nbsp;
            {% endif %}
        </td>
        <td>{{ goal.short_name }}</td>
        {% if goal.usergoalinstance_set.all|goal_instances_for:student.user.username|length > 0 %}
            {% with goal.usergoalinstance_set.all|goal_instances_for:student.user.username|first as g %}
            <td class="current_progress">
                {{ g.progress|format_percent }}
            </td>
            <td class="current_progress sets">
                {{ g.rounds }}
            </td>
            <td class="current_progress sets">
                <a class="goal_history" href="{% url courses.views.goal_history goal.id %}">History</a>
            </td>
            {% endwith %}
        {% else %}
            <td></td>
            <td></td>
            <td></td>
        {% endif %}
    </tr>
{% endfor %}
</table>


