
#container {
			float: left;
}



#upper {
			float: top;
			height: 7em;
			background: #779999;
			padding: 3px 10px 3px 10px;
			color: white;
}

#language {
			position: absolute;
			right: 0;
			padding: 3px 5px 3px 5px;
			width: 10em;
			height: 7em;
}

#navigation {
			position: absolute;
			top: 8em;
			left: 2;
			padding: 3px 5px 3px 15px;
			width: 10em;
}

#content {
		 margin-left: 11em;
		 margin-right: 11em;
		 padding: 10px 10px 3px 10px;
}

table {
       cellpadding=18;
}

h1 { font-size: xx-large 
}
h2 { font-size: large 
}

body {color: gray}

a {
	color: #333366;
	}
p {font-family: "sans serif"}
hr {color: sienna}

.warning {
   color: Red;
   font-weight: bold;
}
