

.headerlink {
  font-family: Helvetica Neue;
  color: #150517;
}
.plain {
  font-family: Arial Pro;
  color: #150517;
}
.selected {
  font-weight: bold;
  color: #150517;
}
.sidelist {
  font-size: 120%;
  margin-left: 0;
  padding-left: 15px;
  list-style: none;
}
.instructions {  
  border-width: 1px;
  border-style: solid;
  border-color: #150517;
}

a {font-size: 100%; 
    text-decoration: none; }
  a:link {
    color: #150517; }
  a:visited {
    color: #150517; }

.popupcontent{
   position: absolute;
   visibility: hidden;
   overflow: hidden;
   border:1px solid #CCC;
   background-color:#F9F9F9;
   border:1px solid #333;
   padding:5px;
}

.header {
  font-family: Helvetica Neue;
  font-style: bold;
  color: #150517;
}
.headerlink {
  font-family: Helvetica Neue;
  color: #150517;
}
.bigheader {
  font-family: Helvetica Neue;
  font-size: 150%;
  color: #150517;
}
