
#mainheader {
  padding: 10px 0px 10px 10px;
  height 120px;
  margin: 10px;
  top: 0px;
  left: 0px;
  width: 80%;
  font-family: Arial Pro;
  color: black;
  position: absolute;
  clear: both;
}

#maincontent {
  padding: 10px 10px 10px 10px;
  margin: 10px;
  top: 120px;
  width: 80%;
  font-family: Arial Pro;
  color: black;
  position: absolute;
  clear: both;
  left: 0px;
}

#rightbar {
  position: absolute;
  right: 10px;
  top: 140px;
  width: 130px;
  padding: 10px 10px 10px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #150517;
}

#copyright {
  position: absolute;    
  bottom: 0px;
  left: 0px;
  padding: 10px 10px 10px 10px;
  font-family: Arial Pro;
  color: #150517;
  font-size: 80%
}
.bigheader {
  font-family: Helvetica Neue;
  font-size: 150%;
  color: #150517;
}
.sidelist {
  font-size: 120%;
  margin-left: 0;
  padding-left: 15px;
  list-style: none;
}
.mainbody {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #150517;
  font-size: 120%;
  background-image: url(/oahpa/media/bakgrunn12.jpg);
}
