<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/smaoahpa/media/css/smaoahpa_main.css"/>
<!--[if lt IE 7.]>
<script defer type="text/javascript" src="/smaoahpa/media/js/pngfix.js"></script>
<![endif]-->
</head>

{% load i18n %}			

<body>
	<div id="page">

		<div id="language_select">
			{% get_current_language as LANGUAGE_CODE %}
			<form action="/smaoahpa/i18n/setlang/" method="post" name="newlang">
				<label for="language_select">{% trans "Interface language" %}</label>
				<input name="next" type="hidden" value="{% block pagename %}{% endblock %}" />
				<select id="language_select" name="language" onChange="javascript:this.form.submit();">
				
				{% ifequal LANGUAGE_CODE "no" %}
					<option value="no" selected="selected">Norsk</option>
				{% else %}
					<option value="no">Norsk</option>
				{% endifequal %}
				
				{% ifequal LANGUAGE_CODE "sma" %}
					<option value="sma" selected="selected">South Sami</option>
				{% else %}
					<option value="sma">South Sami</option>
				{% endifequal %}
				
				{% ifequal LANGUAGE_CODE "en" %}
					<option value="en" selected="selected">English</option>
				{% else %}
					<option value="en">English</option>
				{% endifequal %}

				{% ifequal LANGUAGE_CODE "sv" %}
					<option value="sv" selected="selected">Svenska</option>
				{% else %}
					<option value="sv">Svenska</option>
				{% endifequal %}
					  
				{% ifequal LANGUAGE_CODE "fi" %}
				 	<option value="fi" selected="selected">Suomi</option> 
				{% else %}
				 	<option value="fi">Suomi</option> 
				{% endifequal %}
				{#  #}
				{# {% ifequal LANGUAGE_CODE "de" %} #}
				{# 	<option value="de" selected="selected">Deutsch</option> #}
				{# {% else %} #}
				{# 	<option value="de">Deutsch</option> #}
				{# {% endifequal %} #}
				 
				</select>
			</form>
			<form action="/smaoahpa/dialect/" method="post">
				<label for="dialect">{% trans "Southern Sami dialect" %}</label>
				<input name="next" type="hidden" value="/smaoahpa/" />
				<select name="dialect" onChange="javascript:this.form.submit();">
				{% if dialect %}
					{% ifequal dialect "SH" %}
						<option value="SH" selected="selected">{% trans 'SH' %}</option>
						<option value="L">{% trans 'L' %}</option>
					{% else %}
						<option value="SH">{% trans 'SH' %}</option>
						<option value="L" selected="selected">{% trans 'L' %}</option>
					{% endifequal %}  
				{% else %}
					<option value="SH">{% trans 'SH' %}</option>
					<option value="L">{% trans 'L' %}</option>
				{% endif %}
				</select>
			</form>
		</div>
		
		<div id="header">
			<h1><img src="/smaoahpa/media/images/Oahpa_logo0001.png" alt="OAHPA!" /></h1>
			{% block header_content %}
			<h2>Buerie båeteme!</h2>
			<p class="intro">{% trans "Sma-Oahpa is a small demo of learning exercises for learners of South Saami language. One can currently choose between South Saami&hArr;Norwegian, with more language pairs to come soon." %}</p>
			{% endblock %}
		</div>

		<div id="content">

			<ul id="games_menu">
				<li class="game">
					
					<a href="/smaoahpa/morfa/">
						<span>Morfa</span><br />
						<img src="/smaoahpa/media/images/morfa.png" alt="Morfa-S" /><br />
						<span>{% trans "Practise morphology" %}</span>
					</a>
				</li>
				<li class="game">
					<a href="/smaoahpa/leksa/">
						<span>Leksa</span><br />
						<img src="/smaoahpa/media/images/leksa.png" alt="Leksa" /><br />
						<span>{% trans "Words and translations" %}</span>
					</a>
				</li>
				<li class="game">
					<a href="/smaoahpa/numra/">
						<span>Numra</span><br />
						<img src="/smaoahpa/media/images/numra.png" alt="Numra" /><br />
						<span>{% trans "Practise numerals" %}</span>
					</a>
				</li>
				<li class="game">
					<a href="/smaoahpa/morfac/">
						<span>Morfa-C</span><br />
						<img src="/smaoahpa/media/images/morfac.png" alt="Morfa-S" /><br />
						<span>{% trans "Practise morphology in context" %}</span>
					</a>
				</li>
			</ul>
			
			<ul id="games_menu_row2">

				<li class="game">
				</li>
				<li class="game">
				</li>
			</ul>
			
			<h3>{% trans "Online reference materials" %}</h3>
			<p>{% trans "Oahpa is connected with online reference materials, some of which have been produced using the same data which made these games." %}</p>
			<ul class="linklist">
				<li><a href="http://victorio.uit.no/webdict/index_sma-nob.html">{% trans "South Sámi" %}-{% trans "Norwegian" %} {% trans "dictionary" %}</a></li>
				<li><a href="http://giellatekno.uit.no/uped/smagramm/grammatikk.nob.html">{% trans "South Sámi" %} {% trans "grammar" %}</a></li>
			</ul>

			{# <p>Are you visiting this site as part of a course? <a href="{% url courses.views.courses_main %}">Log in here</a></p> #}
		</div>

{% comment %}

	http://giellatekno.uit.no/uped/smagramm/grammatikk.nob.html
	http://victorio.uit.no/webdict/index_sma-nob.html
	<p><a href="http://victorio.uit.no/webdict/index_sma-nob.html">{% trans "South Sámi" %}-{% trans "Norwegian" %} {% trans "dictionary" %}</a></p>

	<p><a href="http://giellatekno.uit.no/uped/smagramm/grammatikk.nob.html">{% trans "South Sámi" %} {% trans "grammar" %}</a></p>
{% endcomment %}

		<div id="footer">
			<div id="copyright">
			  <p>
				  {% trans "Copyright 2011 Universitetet i Troms&oslash; og Aajege Saemien g&iuml;ele- j&iuml;h maahtoejarnge" %}<br />
			{% trans "Contact" %} oahpa@hum.uit.no</p>
			</div>
		</div>
	</div>
</body>
</html>
