{% extends "univ_oahpa.html" %}
{% load i18n %}

{% block content %}

<p>{% trans "You have been logged out from Oahpa." %} <a href="https://kursa.oahpa.no/wp-login.php?action=logout">{% trans "Click to log out from Kursa to complete the process." %}</a></p>
<p>{% trans "If you do not log out from kursa, you will be automatically logged back in again." %} {% trans "If you are seeing this page and do not expect to, you have likely been logged out from Kursa, and you will need to log in again." %}</p>

{% endblock %}
