<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename='bootstrap/css/bootstrap-layouts.css')}}" rel="stylesheet" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='bootstrap/js/bootstrap-dropdown.js')}}"></script>
        
        <!--[if lt IE 9]>
              <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

        <link href="{{url_for('static', filename='css/base.css')}}" rel="stylesheet" />

        {% block extra_css %}
        {% endblock %}

    </head>

    <body>
        <header>
            <div class="navbar navbar-static-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="brand" href="/">Vuosttaš Neahttasánit</a>
                        <ul class="nav">
                            <li><a href="/neahttasanit/">Home</a></li>
                            <li><a href="/plugin/">Plugins</a></li>
                            <li><a href="/about/">About</a></li>
                            <li><a href="/contact/">Contact</a></li>
                            {% block search_li %}
                            <li clas="dropdown">
                                <a href="#" id="langselect" class="dropdown-toggle" data-toggle="dropdown">sme->nob <b class="caret"></b></a>
                            <ul class="dropdown-menu" id="langpairs" role="menu"
                                data-for="target_lang">
                              <li class="selected"><a tabindex="-1" href="#"
                                      data-value="smenob">nordsamisk -> norsk</a></li>
                              <li><a tabindex="-1" href="#"
                                      data-value="smefin">nordsamisk -> finsk</a></li>
                              <li><a tabindex="-1" href="#"
                                      data-value="smesmj">nordsamisk -> lulesamisk</a></li>
                              <li><a tabindex="-1" href="#"
                                      data-value="nobsme">norsk -> nordsamisk</a></li>
                            </ul>
                            </li>
                            {% endblock %}
                        </ul>
                        {% block search_li_form %}
                        <form class="navbar-search pull-left">
                            <input type="text" class="search-query" placeholder="{% block placeholder %}Search{% endblock %}">
                        </form>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </header>


        <div class="container">
            <content>
                {% block content %}
                <div class="container-fluid">
                    {% block layout %}
                        <div class="span4">
                            <div class="well">
                            {% block left %}
                            {% endblock %}
                            </div>
                        </div>
                        <div class="span10">
                            {% block content_right %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
                {% endblock %}
            </content>
        </div>

        <footer class="footer">
            <!-- TODO: link to json -->
            <!-- 
            <ul class="undertabs nav nav-pills">
                <li><a href="#">JSON</a></li>
            </ul>
            -->
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span4 offset1">
                        <img src="{{url_for('static', filename='img/uitlogo.png')}}" id="uitlogo" width="100" height="100" class="pull-right"></img>
                    </div>
                    <div class="span4">
                        <p class="lead">Created with free and open-source language tools from <em><a href="http://giellatekno.uit.no">Giellatekno</a></em>, a Sámi Language Technology group at the <a href="http://uit.no">University of Tromsø</a>.</p>
                    </div>
                </div>
            </div>
        </footer>

    </body>

</html>
