<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename='bootstrap/css/bootstrap-layouts.css')}}" rel="stylesheet" />
        <script type="text/javascript" src="{{url_for('static', filename='bootstrap/js/bootstrap-dropdown.js')}}"></script>
        
        <!--[if lt IE 9]>
              <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
        <style type="text/css">
            .navbar {
                margin-bottom: 40px;
            }
            footer {
                background-color: #BBB;
                border-top: 1px solid #888;
                position: inline;
                bottom: 0;
            }
            content {
                display: block;
                min-height: 500px;
            }
        </style>
    </head>

    <body>
        <header>
            <div class="navbar navbar-static-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="brand" href="/">Vuosttaš Neahttasánit</a>
                        <ul class="nav">
                            <li><a href="index.html">Home</a></li>
                            <li clas="dropdown">
                                <a href="#" id="langselect" class="dropdown-toggle" data-toggle="dropdown">sme->nob <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="langselect">
                                    <li><a href="#">nordsamisk->norsk</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-search pull-left">
                            <input type="text" class="search-query" placeholder="{% block placeholder %}Search{% endblock %}">
                        </form>
                    </div>
                </div>
            </div>
        </header>


        <div class="container">
            <content>
                <div class="container-fluid">
                    {% block layout %}
                        <div class="span4">
                            <div class="well">
                            {% block left %}
                            {% endblock %}
                            </div>
                        </div>
                        <div class="span10">
                            {% block content %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            </content>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="span6 offset2">
                        <p class="lead">
                            <ul class="inline">
                                <li><a href="http://giellatekno.uit.no">Giellatekno</a></li>
                                <li><icon class="icon-star-empty" /></li>
                                <li><a href="http://divvun.no">Divvun</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

    </body>

</html>
