{% extends 'base.html' %}

{% block extra_css %}
{# https://gist.github.com/1866577 #}
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-typeahead-fork.js')}}"></script>
<script type="text/javascript">

// For Firefox: reenable buttons when back button is pressed
$(window).bind("unload", function() {
    $('input').attr('readonly', false);
    $('button').attr('disabled', false);
});

$(document).ready( function() {
    $('input[name="lookup"]').typeahead({
        items: 5,
        source: function (typeahead, query) {
            if (query.length > 1) {
                var _from = typeahead.$element.attr('data-language-from')
                    , _to = typeahead.$element.attr('data-language-to')
                    , url = '/autocomplete/' + _from + '/' + _to + '/'
                    ;
                return $.get(url, { lookup: query }, function (data) {
                    return typeahead.process(data);
                });
            } else {
                return [] ;
            }
        }
    });
    $('input').focus(function(evt) {
        $('input').attr('readonly', false);
        $('button').attr('disabled', false);
    });
    // Discourage submission if there is nothing to submit
    $('form').submit(function(evt) {
        var inputs = $(evt.target).find('input[type="text"]')
          , submit = $(evt.target).find('button[type="submit"]')
          ;
        for (_i = 0, _len = inputs.length; _i < _len; _i++) {
            i = inputs[_i];
            if ($(i).val().length === 0) {
                return false;
            } else {
                continue;
            }
        }
        inputs.prop("readonly", true);
        submit.prop("disabled", true);
    });

    {#
    $('.example_set button').click(function(evt) {
    	var target = $(evt.target).parents('.example_set')
    	                          .find('blockquote.examples') ;
    	console.log(target) ;
    	if (target.hasClass('hidden-phone')) {
    	    target.hide();
    	    target.removeClass('hidden-phone') ;
    	    target.slideDown() ;
    	} else {
    	    target.slideUp(400, function(){
    	        target.hide();
    	        target.addClass('hidden-phone') ;
    	    }) ;
    	}
    });
    #} 
});
</script>

{% endblock %}

{% block search_li %}
{% endblock %}

{% block search_li_form %}
{% endblock %}

{% block extra_nav %}
        {# Dictionaries #}
        {% for iso_pair, names in language_pairs.iteritems() %}
            <li class="visible-thin hidden-desktop hidden-tablet {%- if iso_pair[0] == _from and iso_pair[1] == _to %} active{% endif -%}">
                <a href="/{{ iso_pair[0] }}/{{ iso_pair[1] }}/">
                {% for lang, name in names.iteritems() %}
                    <span class="i18n" lang="{{ lang }}">{{ name[0] }} ↔ {{ name[1] }}</span>
                {% endfor %}
                </a></li>
        {% endfor %}
{% endblock %}

{% block bodyclass %}main_search{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span4 hidden-phone">
                <ul class="nav nav-collapse nav-tabs nav-stacked">
                {% for iso_pair, names in language_pairs.iteritems() %}
                    {% if iso_pair[0] != "SoMe" %}
                        <li class="{%- if iso_pair[0] == _from and iso_pair[1] == _to %} active{% endif -%}">
                            <a href="/{{ iso_pair[0] }}/{{ iso_pair[1] }}/">
                            {% for lang, name in names.iteritems() %}
                                <span class="i18n" lang="{{ lang }}">{{ name[0] }} ↔ {{ name[1] }}</span>
                            {% endfor %}
                            </a>
                        </li>
                    {% endif %}
                    {# Start a new nav if there are variants #}
                    {# TODO: include in mobile menu somehow #}
                    {# TODO: make this work from config settings, for now hard-coded #}
                    {%- if iso_pair[0] == 'sme' and iso_pair[1] == 'nob' and iso_pair[0] == _from and iso_pair[1] == _to %}
                    </ul>
                    <span class="nav-header variantnote">Written variant</span>
                    <ul class="nav nav-collapse nav-tabs nav-stacked subnavcoloring">
                        <li class="active"><a href="/sme/nob/">Standard (áčđŋšŧž)</a></li>
                        <li><a href="/SoMe/nob/">Social Media (acdnstz)</a></li>
                    </ul>
                    <ul class="nav nav-collapse nav-tabs nav-stacked">
                    {%- endif -%}

                    {%- if iso_pair[0] == 'sme' and iso_pair[1] == 'fin' and iso_pair[0] == _from and iso_pair[1] == _to %}
                    </ul>
                    <span class="nav-header variantnote">Written variant</span>
                    <ul class="nav nav-collapse nav-tabs nav-stacked subnavcoloring">
                        <li class="active"><a href="/sme/nob/">Standard (áčđŋšŧž)</a></li>
                        <li><a href="/SoMe/fin/">Social Media (acdnstz)</a></li>
                    </ul>
                    <ul class="nav nav-collapse nav-tabs nav-stacked">
                    {%- endif -%}
                {% endfor %}
                </ul>
            </div>
            <div class="span8">
                <h4 id="dict_title">{%- for iso_pair, names in language_pairs.iteritems() %}
                    {% if iso_pair[0] == _from and iso_pair[1] == _to %}
                    {%- for lang, name in names.iteritems() %}
                        <span class="i18n" lang="{{ lang }}">{{ name[0] }} → {{ name[1] }}</span>
                    {% endfor -%}
                    {% endif %}
                    {% endfor -%}
                    <span style="font-size: 80%">(<a href="/{{ _to }}/{{ _from }}/">⇄ Swap</a>)</span></h4>

                <form id="neahttasaanit" class="form-inline"
                    method="post"
                    action="/{{ _from }}/{{ _to }}/">
                    <div class="input-append">
                        <input type="text" 
                               name="lookup" 
                               autocorrect="off"
                               autocapitalize="off"
                               autocomplete="off"
                               data-language-from="{{ _from }}"
                               data-language-to="{{ _to }}"
                               {% if user_input -%}value="{{ user_input }}"{% endif %}
                               placeholder="ohcansátni"></input>
                               <button type="submit" class="btn" name="search">
                                   <span>{% trans %}Search{% endtrans %}</span>
                                   {# 
                                   <span class="i18n" lang="sme">Oza</span>
                                   <span class="i18n" lang="nob">Søk</span>
                                   <span class="i18n" lang="fin">Hae</span>
                                   <span class="i18n" lang="eng">Search</span>
                                   #}
                               </button>
                    </div>
                </form>

                {# TODO: deep link needs to go to specific lexeme when it comes from the front page #}
                {% if word_searches %}
                    <div class="results">
                        <div class="row-fluid">
                            <span class="span8">
                            {% for lexeme in word_searches %}
                            {% if lexeme.lookups %}
                                {% for lookup in lexeme.lookups %}
                                {% if _from == "SoMe" %}
                                    <p><a href="/detail/sme/{{ _to }}/{{ lookup.left }}.html?e_node={{ lookup.entry_hash }}">
                                {% else %}
                                    <p><a href="/detail/{{ _from }}/{{ _to }}/{{ lookup.left }}.html?e_node={{ lookup.entry_hash }}">
                                {% endif %}
                                        {{ lookup.left }}
                                </a> ({{ lookup.pos|tagfilter(_from) }}) &ndash; </p>
                                <ol>{%- for tx in lookup.right -%}
                                        <li>
                                            {%- include 'main_page_li.html' -%}
                                        </li>
                                    {%- endfor -%}
                                </ol>
                                {% endfor %}
                            {% else %}
                                {% if errors %}
                                    <div class="alert">
                                        <ul>
                                            {% for error in errors %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            {% endif %}

                            {% endfor %}
                            {% if not successful_entry_exists %}
                                <p>{% trans %}Definition not found for:{% endtrans %}</p>
                                <ul class="unknown_lexemes">
                                {% for lexeme in word_searches %}
                                    <li>{{ lexeme.input }}</li>
                                {% endfor %}
                                </ul>
                                <p class="lead">&nbsp;</p>
                            {% endif %}
                            </span>

                            <div class="span4">
                                {%- if analyses %}
                                <div class="well">
                                    <p style="font-size: 95%;"><em>{{ user_input }}</em>{% trans user_input=user_input %} is a possible form of ... {% endtrans %}</p>
                                    <dl class="possible_analyses">
                                        {% for grouper, forms in analyses|groupby(0) %}
                                            {% for lemmagroup, lemmafs in forms|groupby(1) %}
                                                <dt>{{ lemmagroup }}</dt>
                                                <dt>
                                                    <ul class="possible_forms">
                                                        {% for form, lemma, tag in lemmafs %}
                                                            <li>{{ ' '.join(tag)|tagfilter(_from) }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </dd>
                                            {% endfor %}
                                        {% endfor %}
                                    </dl>
                                </div>
                                {%- endif -%}
                            </div>

                        
                        </div>
                    </div>
                {% else %}
                    {% if not show_info %}
                    <div class="alert alert-error">
                        <p>
                            <span>{% trans input=user_input %}Word {{ input }} not found.{% endtrans %}</span>
                        </p>
                    </div>
                    {% endif %}
                {% endif %}
                {% if show_info %}
                    <div class="alert alert-success">
                        <p>
                            <span>{% trans %}Search for a word, or a word form for a word analysis and definition.{% endtrans %}</span>
                        </p>
                    </div>
                {% endif %}
            </div>
            
        </div>

    </div>

    </div>
    <br />
{% endblock %}
