{% extends 'base.html' %}

{% block search_li %}
{% endblock %}

{% block search_li_form %}
{% endblock %}

    <!--
        <p>A web-based, open-sourced dictionary that analyzes what you
            type to give more meaningful results.</p>
        -->

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="span4">
                <ul class="nav nav-tabs nav-stacked">
                {% for iso_pair, names in language_pairs.iteritems() %}
                    <li class="{%- if iso_pair[0] == _from and iso_pair[1] == _to %}active{% endif -%}">
                        <a href="/kursadict/{{ iso_pair[0] }}/{{ iso_pair[1] }}/">
                        {% for lang, name in names.iteritems() %}
                            <span class="lang_name" lang="{{ lang }}">{{ name[0] }} ↔ {{ name[1] }}</span>
                        {% endfor %}
                        </a></li>
                {% endfor %}
                </ul>
            </div>
            <div class="span8">
                <h3>{%- for iso_pair, names in language_pairs.iteritems() %}
                    {% if iso_pair[0] == _from and iso_pair[1] == _to %}
                    {%- for lang, name in names.iteritems() %}
                        <span class="lang_name" lang="{{ lang }}">{{ name[0] }} -&gt; {{ name[1] }}</span>
                    {% endfor -%}
                    {% endif %}
                    {% endfor -%}
                    <span style="font-size: 80%">(<a href="/kursadict/{{ _to }}/{{ _from }}/">⇄ Swap</a>)</span></h3>

                <form id="kursadict" class="form-inline"
                    method="post"
                    action="/kursadict/{{ _from }}/{{ _to }}/">
                    <div class="input-append">
                        <input type="text" 
                               name="lookup" 
                               {% if user_input -%}value="{{ user_input }}"{% endif %}
                               placeholder="ohcesátni"></input>
                           <button type="submit" class="btn" name="search">Oza</button>
                           Advansert
                    </div>
                </form>

                {% if word_searches %}
                <div class="results">
                    {% for lexeme in word_searches %}
                    {% if lexeme.lookups %}

                        {% for lookup in lexeme.lookups %}
                        <p><a href="/kursadict/detail/{{ _from }}/{{ _to }}/{{ lookup.left }}.html">{{ lookup.left }}</a> ({{ lookup.pos }}) – </p>
                        <ol>
                            {% for tx in lookup.right %}
                            <li>{{ tx }}</li>
                            {% endfor %}
                        </ol>
                        {% endfor %}

                    {% else %}
                        <p>Ukjent ord: {{ lexeme.input }}</l>
                    {% endif %}

                    {% endfor %}
                    
                </div>
                {% endif %}
            </div>
            
        </div>

<!--
    <div class="container">
        <br />
        <br />
        <br />
        <hr class="soften">
        <div class="marketing">
            <div class="row-fluid">
                <div class="span4">
                <h1>Open source, open data</h1>
                <p class="marketing-byline">Built on data you can use,
                    and with an open API for word information, and
                    linguistic tools.</p>
                </div>
                <div class="span4">
                <h1>Open source, open data</h1>
                <p class="marketing-byline">Built on data you can use,
                    and with an open API for word information, and
                    linguistic tools.</p>
                </div>
                <div class="span4">
                <h1>Open source, open data</h1>
                <p class="marketing-byline">Built on data you can use,
                    and with an open API for word information, and
                    linguistic tools.</p>
                </div>
            </div>
        </div>
-->
    </div>

    </div>
    <br />
{% endblock %}
