{% extends 'base.html' %}

{% block extra_css %}
{# https://gist.github.com/1866577 #}
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-collapse.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-typeahead-fork.js')}}"></script>

<script type="text/javascript">
$('.typeahead').typeahead({
  process: function(typeahead, results) {
    console.log(results);
  },
  source: function(typeahead, query) {
    var lang,
      _this = this;
    console.log(typeahead);
    console.log(query);
    console.log(this);
    lang = typeahead.attr('data-language');
    return $.ajax({
      url: "/kursadict/autocomplete/?q=" + query,
      success: function(data) {
        console.log(data);
        return typeahead.process(data);
      }
    });
  },
  property: "name"
});
</script>
{% endblock %}

{% block search_li %}
{% endblock %}

{% block search_li_form %}
{% endblock %}

    <!--
        <p>A web-based, open-sourced dictionary that analyzes what you
            type to give more meaningful results.</p>
        -->


{% block extra_nav %}
        {% for iso_pair, names in language_pairs.iteritems() %}
            <li class="visible-thin hidden-desktop hidden-tablet {%- if iso_pair[0] == _from and iso_pair[1] == _to %} active{% endif -%}">
                <a href="/kursadict/{{ iso_pair[0] }}/{{ iso_pair[1] }}/">
                {% for lang, name in names.iteritems() %}
                    <span class="lang_name" lang="{{ lang }}">{{ name[0] }} ↔ {{ name[1] }}</span>
                {% endfor %}
                </a></li>
        {% endfor %}
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span4 hidden-phone">
                <ul class="nav nav-collapse nav-tabs nav-stacked">
                {% for iso_pair, names in language_pairs.iteritems() %}
                    <li class="{%- if iso_pair[0] == _from and iso_pair[1] == _to %} active{% endif -%}">
                        <a href="/kursadict/{{ iso_pair[0] }}/{{ iso_pair[1] }}/">
                        {% for lang, name in names.iteritems() %}
                            <span class="lang_name" lang="{{ lang }}">{{ name[0] }} ↔ {{ name[1] }}</span>
                        {% endfor %}
                        </a></li>
                {% endfor %}
                </ul>
            </div>
            <div class="span8">
                <h4 id="dict_title">{%- for iso_pair, names in language_pairs.iteritems() %}
                    {% if iso_pair[0] == _from and iso_pair[1] == _to %}
                    {%- for lang, name in names.iteritems() %}
                        <span class="lang_name" lang="{{ lang }}">{{ name[0] }} → {{ name[1] }}</span>
                    {% endfor -%}
                    {% endif %}
                    {% endfor -%}
                    <br class="visible-phone" />
                    <span style="font-size: 80%">(<a href="/kursadict/{{ _to }}/{{ _from }}/">⇄ Swap</a>)</span></h4>

                <form id="kursadict" class="form-inline"
                    method="post"
                    action="/kursadict/{{ _from }}/{{ _to }}/">
                    <div class="input-append">
                        <input type="text" 
                               name="lookup" 
                               data-language="{{ _from }}"
                               data-provide="typeahead"
                               {% if user_input -%}value="{{ user_input }}"{% endif %}
                               placeholder="ohcansátni"></input>
                               <button type="submit" class="btn" name="search">
                                   <span class="i18n" lang="sme">Oza</span>
                                   <span class="i18n" lang="nob">Søk</span>
                                   <span class="i18n" lang="eng">Search</span>
                               </button>
                           Advansert
                    </div>
                </form>

                {% if word_searches %}
                    <div class="results">
                        {% for lexeme in word_searches %}
                        {% if lexeme.lookups %}

                            {% for lookup in lexeme.lookups %}
                            <p><a href="/kursadict/detail/{{ _from }}/{{ _to }}/{{ lookup.left }}.html">{{ lookup.left }}</a> ({{ lookup.pos }}) – </p>
                            <ol>
                                {% for tx in lookup.right %}
                                <li>{{ tx }}</li>
                                {% endfor %}
                            </ol>
                            {% endfor %}

                        {% else %}
                            {% if errors %}
                                <div class="alert">
                                    <ul>
                                        {% for error in errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                <p>Ukjent ord: {{ lexeme.input }}</l>
                            {% endif %}
                        {% endif %}

                        {% endfor %}
                        
                    </div>
                {% else %}
                    <div class="alert alert-success">
                        <p>
                            <span class="i18n" lang="nob">Søk etter et ord, eller ordform for å få analyse og betydning.</span>
                            <span class="i18n" lang="fin">Kirjoita sana, eli sananmuoto saadakseen analyyseja ja tarkoitukseja.</span>
                            <span class="i18n" lang="eng">Search for a word, or a word form for a word analysis and definition.</span>
                            <span class="i18n" lang="sme"></span>
                        </p>
                    </div>
                {% endif %}
            </div>
            
        </div>

<!--
    <div class="container">
        <br />
        <br />
        <br />
        <hr class="soften">
        <div class="marketing">
            <div class="row-fluid">
                <div class="span4">
                <h1>Open source, open data</h1>
                <p class="marketing-byline">Built on data you can use,
                    and with an open API for word information, and
                    linguistic tools.</p>
                </div>
                <div class="span4">
                <h1>Open source, open data</h1>
                <p class="marketing-byline">Built on data you can use,
                    and with an open API for word information, and
                    linguistic tools.</p>
                </div>
                <div class="span4">
                <h1>Open source, open data</h1>
                <p class="marketing-byline">Built on data you can use,
                    and with an open API for word information, and
                    linguistic tools.</p>
                </div>
            </div>
        </div>
-->
    </div>

    </div>
    <br />
{% endblock %}
