<div id="i18n_translations">
    <ul class="nav nav-pills">
      <li class="dropup">
        <a class="dropdown-toggle"
           data-toggle="dropdown"
           href="#">
            <b class="caret"></b>
            {% trans %}Language{% endtrans %}
          </a>
        <ul class="dropdown-menu">
            <li><a href="/locale/se/">{% trans %}North Sámi{% endtrans %}</a></li>
            <li><a href="/locale/no/">{% trans %}Norwegian{% endtrans %}</a></li>
            <li><a href="/locale/fi/">{% trans %}Finnish{% endtrans %}</a></li>
        </ul>
      </li>
    </ul>
</div>

