    <ul id="i18n_translations" class="nav nav-pills pull-right hidden-phone">
      <li class="dropdown">
        <a class="dropdown-toggle"
           data-toggle="dropdown"
           href="#">
            {% trans %}Language{% endtrans %}
            <b class="caret"></b>
          </a>
        <ul class="dropdown-menu">
            <li><a href="/locale/se/">{% trans %}North Sámi{% endtrans %}</a></li>
            <li><a href="/locale/no/">{% trans %}Norwegian{% endtrans %}</a></li>
            <li><a href="/locale/fi/">{% trans %}Finnish{% endtrans %}</a></li>
        </ul>
      </li>
    </ul>

