<!-- These are required for everything to work, but they may be
     installed somewhere already, if adding to an existing site. -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<!-- Here's the important part... -->
<link href="{{ host }}{{url_for('static', filename='css/jquery.neahttadigisanit.css')}}" rel="stylesheet" />
<link href="{{ host }}{{url_for('static', filename='js/jquery.neahttadigisanit.min.js')}}" rel="stylesheet" />

<script type='text/javascript'>
    $(document).ready(function (){
        // Enable options for inline clicking
        $(document).selectToLookup({
          tooltip: true,
          displayOptions: true,
          spinnerImg: 'dev/img/spinner.gif'
        });
    });
</script>
<!-- end -->
