{% extends 'base.html' %}

{% block extra_js %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <h3>{% trans %}Neahttadigisánit Reader{% endtrans %}</h3>
    </div>
    <div class="row-fluid">

        <div class="span5">
            <p color="red">{% trans %}WARNING!! Support for Internet Explorer and Firefox is temporary out of order!{% endtrans %}</p>
            <h4>{% trans %}Bookmarklet{% endtrans %}</h4>
            <p>{% trans %}Drag and drop the following link to your Bookmark toolbar,
                then click it when you are on a page you wish to read. The
                service will automatically be installed, and you will see a
                menu icon on the left-hand side of the page.{% endtrans %}</p>
            <p class="label" id="bookmarklet"><a href="javascript:{{- bookmarklet|safe -}}">{% trans %}Read with Neahttadigisánit{% endtrans %}</a></p>
            <p>{% trans %}In order to look up a word, hold Alt or Option (⌥) and double
                click the word. The service will will connect to this
                website and return dictionary entries after a brief
                pause.{% endtrans %}</p>
            <p>{% trans %}To change the dictionary, click the menu icon.{% endtrans %}</p>
            <h4>{% trans %}Bugs?{% endtrans %}</h4>
            <p>{% trans %}If you encounter bugs, or the bookmarklet does not work on a
                particular page, contact us with the page URL or details of
                what you were reading when you encountered the problem.{% endtrans %}</p>
            <p>{% trans %}We do not store any private data, but we do collect
                individual dictionary lookups for statistics and to improve
                the dictionary.{% endtrans %}</p>
        </div>
        <div class="span7">
            <h4>&nbsp;</h4>
            <img id="reader_screenshot" src="{{url_for('static', filename='img/reader_example.png')}}" id="uitlogo"></img>
        </div>
    </div>

</div>

{% endblock %}

