{% extends 'base.html' %}

{% block extra_css %}
<link href="{{url_for('static', filename='css/detail.css')}}" rel="stylesheet" />
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-collapse.js')}}"></script>
<!-- <script type="text/javascript" src="{{url_for('static', filename='js/dropdown-button.js')}}"></script> -->
<script type="text/javascript">
  $(document).ready( function() {
   $(document).find('#langpairs li a').click(function(obj) {
     var elem    = $(obj.target).parent('a');
     var new_val = $(obj.target).attr('data-value') ||
                   $(elem).attr('data-value') ;
     var _from = new_val.slice(0, 3)
       , _to   = new_val.slice(3, 6)
       ;
     var _url   = "/" + (_from) + "/" + (_to) + "/"
       , _label = "" + (_from) + "->" + (_to)
       ;
     $(document).find('#neahttadigisanit button span.val_name').html(_label);
     $(document).find('#neahttadigisanit').attr('action', _url);
   });
  });
</script>
{% endblock %}

{% block float_right %}
    {%- if result.analyses %}
    <div class="well">
        <strong>{{ result.input }} is a possible form of ... </strong>
        <dl class="possible_analyses">
            {% for grouper, forms in result.analyses|groupby(0) %}
            <dt>{{ grouper }}</dt>
            <dd><ul class="possible_forms">{% for form, pos, tag in forms %}<li>{{ tag }}</li>{% endfor %}</ul></dd>
            {% endfor %}

        {# for form, pos, tag in result.analyses %}
            <dt><a href="{{ form|urlencode }}.html">{{ form }}</a></dt>
            <dd>{{ tag }}</dd>
        {%- endfor -#}
        </dl>
    </div>
    {%- endif -%}
{% endblock %}

{% block content_left %}
    <div class="row-fluid">
       <div class="span12">
           <form id="neahttadigisanit" class="form-inline pull-left"
               method="post"
               action="/{{ _from }}/{{ _to }}/">
           <div class="input-prepend input-append">
             <div class="btn-group">
               <button class="btn dropdown-toggle" data-toggle="dropdown">
                   <span class="val_name">{{ _from }}→{{ _to }}</span>
                 <span class="caret"></span>
               </button>
               <ul class="dropdown-menu" id="langpairs" role="menu"
                   data-for="target_lang">

                {# TODO: dropdown select to language pair for form submit #}
                {% for iso_pair, names in language_pairs.iteritems() %}
                 <li class="selected{%- if iso_pair[0] == _from and iso_pair[1] == _to %} active{% endif -%}"><a tabindex="-1" href="#"
                         data-value="{{ iso_pair[0]}}{{ iso_pair[1] }}">
                        {% for lang, name in names.iteritems() %}
                            <span class="i18n" lang="{{ lang }}">{{ name[0] }} → {{ name[1] }}</span>
                        {% endfor %}
                    </a></li>
                {% endfor %}
                 
               </ul>
             <input type="text" name="lookup"
                    placeholder="{{ user_input }}"></input>
             <div class="btn-group">
               <button type="submit" class="btn" name="search">
                   <span class="i18n" lang="sme">Oza</span>
                   <span class="i18n" lang="nob">Søk</span>
                   <span class="i18n" lang="fin">Hae</span>
                   <span class="i18n" lang="eng">Search</span>
               </button>
             </div>
           </div>
           </div>
          <div id="results"></div>
        </form>
       </div>
       <br />
    </div>

    {% for lexeme in result.lexicon %}
    <div class="row-fluid lexeme">
        {% if lexeme.entries %}
            <div class="span6">
            <p class="lead">{{ lexeme.input[0] }} ({{ lexeme.input[1] }}) </p>

            {% for tg in lexeme.entries.lookups %}
                <ul class="meanings">
                    {% for mg in tg.meaningGroups %}
                        {% if mg.language and mg.language == _to %}
                            <li>
                            {%- for txl in mg.translations -%}
                            {{ txl }}{%- if not loop.last %}, {% endif -%}
                            {%- endfor -%}
                            {%- if mg.examples -%}
                            <br />
                            <blockquote class="examples">
                            <dl>
                                {%- for from, to in mg.examples %}
                                <dt>{{ from }}</dt>
                                <dd>{{ to }}</dd>
                                {%- endfor %}
                            </dl>
                            </blockquote>
                            {% endif -%}
                            </li>
                        {% elif not mg.language %}
                            <li>
                            {%- for txl in mg.translations -%}
                            {{ txl }}{%- if not loop.last %}, {% endif -%}
                            {%- endfor -%}
                            {%- if mg.examples -%}
                            <br />
                            <blockquote class="examples">
                            <dl>
                                {%- for from, to in mg.examples %}
                                <dt>{{ from }}</dt>
                                <dd>{{ to }}</dd>
                                {%- endfor %}
                            </dl>
                            </blockquote>
                            {% endif -%}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
            </div>

            <div class="span4">
                {% if lexeme.paradigms %}
                    <dl class="dl-horizontal miniparadigm">
                    {%- for lemma, tag, form in lexeme.paradigms -%}

                        {% if tag %}
                            <dt>{{ ' '.join(tag) }}</dt>
                        {% endif %}

                        {# TODO: bootstrap accordian #}
                        {% if form %}
                        <dd>
                        {%- for f in form -%}{%- if loop.first %}{{ f }} {% if loop.length > 1 -%}<a class="extraexpand" href="#"><span class="label extralabel">+</span></a>{%- endif -%}{%- endif -%}{%- endfor -%}
                            <span class="extra_forms" id="extras">
                            {%- for f in form -%}
                            {%- if not loop.first %}{{ f }} {% endif -%}
                            {%- endfor -%}
                            </span>
                        </dd>
                        {% else %}
                            <dd>?</dd>
                        {% endif %}

                    {%- endfor -%}
                    </dl>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% endfor %}

    {% if more_detail_link %}
        <p>
            <a href="/detail/{{ _from }}/{{ _to }}/{{ user_input }}.html">
                <span class="i18n" lang="nob">Vil du se mer informasjon om ordet?</span>
            </a>
        </p>
    {% endif %}

{% endblock %}
