{% extends 'base.html' %}

{% block extra_css %}
<link href="{{url_for('static', filename='css/detail.css')}}" rel="stylesheet" />
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-collapse.js')}}"></script>
{% endblock %}

{% block float_right %}
    {%- if result.analyses %}
    <div class="well">
        <strong>{{ result.input }} is a possible form of ... </strong>
        <dl class="possible_analyses">
            {% for grouper, forms in result.analyses|groupby(0) %}
            <dt>{{ grouper }}</dt>
            <dd><ul class="possible_forms">{% for form, pos, tag in forms %}<li>{{ tag }}</li>{% endfor %}</ul></dd>
            {% endfor %}

        {# for form, pos, tag in result.analyses %}
            <dt><a href="{{ form|urlencode }}.html">{{ form }}</a></dt>
            <dd>{{ tag }}</dd>
        {%- endfor -#}
        </dl>
    </div>
    {%- endif -%}
{% endblock %}

{% block content_left %}
    <div class="row-fluid">
       <div class="span12">
         <form id="kursadict" class="form-inline pull-left">
           <div class="input-prepend input-append">
             <div class="btn-group">
               <button class="btn dropdown-toggle" data-toggle="dropdown">
                   <span class="val_name">{{ _from }}→{{ _to }}</span>
                 <span class="caret"></span>
               </button>
               <ul class="dropdown-menu" id="langpairs" role="menu"
                   data-for="target_lang">

                {# TODO: dropdown select to language pair for form submit #}
                {% for iso_pair, names in language_pairs.iteritems() %}
                 <li class="selected{%- if iso_pair[0] == _from and iso_pair[1] == _to %} active{% endif -%}"><a tabindex="-1" href="#"
                         data-value="{{ iso_pair[0]}}{{ iso_pair[1] }}">
                        {% for lang, name in names.iteritems() %}
                            <span class="i18n" lang="{{ lang }}">{{ name[0] }} → {{ name[1] }}</span>
                        {% endfor %}
                    </a></li>
                {% endfor %}
                 
               </ul>
             <input type="text" name="lookup"
                    placeholder="{{ user_input }}" style="width: 10em;"></input>
             <div class="btn-group">
              <button type="submit" class="btn" name="search">Oza</button>
             </div>
             <input type="hidden" name="target_lang" value="smenob"></input>
           </div>
           </div>
          <div id="results"></div>
        </form>
       </div>
       <br />
    </div>

    {% for lexeme in result.lexicon %}
    <div class="row-fluid lexeme">
        {% if lexeme.entries %}
            <div class="span6">
            <p class="lead">{{ lexeme.input[0] }} ({{ lexeme.input[1] }}) </p>

            {% for tg in lexeme.entries.lookups %}
                <ul class="meanings">
                    {% for mg in tg.meaningGroups %}
                        <li>
                        {%- for txl in mg.translations -%}
                        {{ txl }}{%- if not loop.last %}, {% endif -%}
                        {%- endfor -%}
                        {%- if mg.examples -%}
                        <br />
                        <blockquote class="examples">
                        <dl>
                            {%- for from, to in mg.examples %}
                            <dt>{{ from }}</dt>
                            <dd>{{ to }}</dd>
                            {%- endfor %}
                        </dl>
                        </blockquote>
                        {% endif -%}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
            </div>

            <div class="span4">
                {% if lexeme.paradigms %}
                    <dl class="dl-horizontal miniparadigm">
                    {%- for lemma, tag, form in lexeme.paradigms -%}

                        {% if tag %}
                            <dt>{{ ' '.join(tag) }}</dt>
                        {% endif %}

                        {# TODO: bootstrap accordian #}
                        {% if form %}
                        <dd>
                        {%- for f in form -%}{%- if loop.first %}{{ f }} {% if loop.length > 1 -%}<a class="extraexpand" href="#"><span class="label extralabel">+</span></a>{%- endif -%}{%- endif -%}{%- endfor -%}
                            <span class="extra_forms" id="extras">
                            {%- for f in form -%}
                            {%- if not loop.first %}{{ f }} {% endif -%}
                            {%- endfor -%}
                            </span>
                        </dd>
                        {% else %}
                            <dd>?</dd>
                        {% endif %}

                    {%- endfor -%}
                    </dl>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% endfor %}

{% endblock %}

