{% extends 'davvi_oahpa.html' %}
{% load i18n %}
{% load cache %}
{% load goal_filters %}

{% load staticfiles %}

{% block extrajs %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap_namespaced.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/courses.css" %}" />
{% endblock %}

{% get_current_language as LANGUAGE_CODE %}

{% comment %}
TODO: internationalization strings

{% endcomment %}

{% block imgprefix %}numra{% endblock %}

{% block page_class %}fixed{% endblock %}

{% block content %}
	{# Add blocktrans and trans tags #}
	<div id="courses" class="bootstrap-styles">
		<ul id="subnav">
			<li><a href="{% url 'davvi_oahpa.courses.urls.logout' %}">{% trans "Log out" %}</a></li>
		</ul>
		<h2>{{ student }}</h2>

        <dl class="dl-horizontal">
			<dt>{% trans "last login" %}</dt>
			<dd>{{ student.last_login }}</dd>
		    <dt>{% trans "login count" %}</dt>
		    <dd>{{ student.login_count }}</dd>
		</dl>

		<h3>{{ course }}</h3>

		<div class="student_coursegoal_progress">
		    <h4>Goal progress</h4>
			{% if course.coursegoal_set.all|length > 0 %}
				{% for coursegoal in course.coursegoal_set.all %}
				    <div class="row">
				    {% if coursegoal|goals_with_progress:student|length > 0 %}
				        <div class="col-md-2">
				            <h4>{{ coursegoal.short_name }}</h4>
				        </div>
				        <div class="col-md-10">
				        {% with coursegoal|goals_with_progress:student as goal_set %}
				            {% include 'instructor_goal_table_list.html' %}
				        {% endwith %}
				        </div>
				    {% else %}
				        <br />
				        <div class="col-md-2">
				            <h4>{{ coursegoal.short_name }}</h4>
				        </div>
				        <div class="col-md-10">
				            <h5>{% trans "No progress yet" %}</h5>
				        </div>
                    <div class="clearfix visible-xs visible-md visible-lg"></div>
				    {% endif %}
				    </div>
				{% endfor %}
			{% endif %}
		</div>

		<br />
		<br />
		<br />
		<h3>{% trans "Summary of all work" %}</h3>
		<table class="grades">
		<tr>
			{# TODO: padding here is not working #}
			<th>{% trans "exercise" %}&nbsp;</th>
			<th>{% trans "average" %}&nbsp;</th>
			<th>{% trans "minimum" %}&nbsp;</th>
			<th>{% trans "maximum" %}&nbsp;</th>
			<th>{% trans "game count" %}</th>
		</tr>

		{% for grade in student.grades|dictsort:"game_name" %}
		<tr class="{% cycle "even" "odd" %}">
			<td>{{ grade.game_name }}</td>
			<td>{{ grade.average }}</td>
			<td>{{ grade.minimum }}</td>
			<td>{{ grade.maximum }}</td>
			<td>{{ grade.count }}</td>
		</tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}

{# vim: set ts=4 sw=4 tw=0 syntax=htmldjango : #}


