{% load i18n %}

<table class="course_students course_goals">
    <tr>
        <th></th>
        <th>{% trans "last login" %}</th>
        <th>{% trans "login count" %}</th>
    </tr>
{% for student in course.students.all %}
    <tr>
        <td>
            <a href="/{{ URL_PREFIX }}/courses/{{ course.id }}/{{ student.user.id }}">
                {{ student.user.username }}
            </a>
        </td>
        <td>{{ student.last_login }}</td>
        <td>{{ student.login_count }}</td>
    </tr>
{% endfor %}
</table>
