{% load goal_filters %}
{% load i18n %}
<h3>{% trans "Words to work on" %}</h3>

<table>
    <tr>
        <th>Incorrect count</th>
        <th>Correct answer</th>
        <th>Your errors</th>
    </tr>
    {% for w in incorrects|dictsortreversed:"count" %}
        <tr class="{% cycle 'even' 'odd' %}">
            <td>{{ w.count }}</td>
            <td>{% for c in w.correct_answer %}
                    {{ c }}<br /> 
                {% endfor %}
            </td>
            <td class="correct_checking">{% for i in w.user_inputs %}{% with w.correct_answer|first as corr %}{% for h in i|highlight_differences:corr %}{% if h.highlight %}<strong>{% endif %}{{ h.char }}{% if h.highlight %}</strong>{% endif %}{% endfor %}{% endwith %}
                {% if not forloop.last %}<br />{% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>

