#survey_notice {
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 140px;
    background-color: #FFF;
    border: 1px solid #888;
    padding: 10px;
    z-index: 9000;
}

#survey_notice p.small {
    font-size: 80%;
    font-style: italic;
    margin-top: .75em;
    margin-bottom: 0;
}

.required-false {
    opacity: .6;
}

.form_success h5 {
    font-size: 140%;
    font-weight: 300;
}

.form_errors h5 {
    font-size: 120%;
}

.form_errors h5, .form_errors .lead {
    color: #900;
}

.btn.next-survey {
    color: #FFF !important;
    font-weight: 500 !important;
    margin-left: 2em;
    margin-top: 1em;
}
