.required-false {
    opacity: .6;
}

.form_success h5 {
    font-size: 140%;
    font-weight: 300;
}

.form_errors h5 {
    font-size: 120%;
}

.form_errors h5, .form_errors .lead {
    color: #900;
}

.btn.next-survey {
    color: #FFF !important;
    font-weight: 500 !important;
    margin-left: 2em;
    margin-top: 1em;
}
