.required-false {
    opacity: .6;
}

.form_success h5 {
    font-size: 140%;
    font-weight: 300;
}

.form_errors h5 {
    font-size: 120%;
}

.form_errors h5, .form_errors .lead {
    color: #900;
}
