#wertiview-toolbar-enabled {
	list-style-image: url("chrome://view/skin/toolbar.png");
	width: auto;
}

#wertiview-toolbar-enabled[wertiview-state="enabled"] {
	-moz-image-region: rect(0px 18px 18px 0px);
}

#wertiview-toolbar-enabled[wertiview-state="disabled"] {
	-moz-image-region: rect(18px 18px 36px 0px);
}

#wertiview-toolbar-palette-button {
	list-style-image: url("chrome://view/skin/toolbar.png");
	-moz-image-region: rect(0px 18px 18px 0px);
	width: auto;
}

#wertiview-toolbar-single-button {
	list-style-image: url("chrome://view/skin/pencil-eraser.png");
	-moz-image-region: rect(0px 18px 18px 0px);
	width: auto;
}

#wertiview-toolbar-single-button:not([disabled="true"]):hover,
#wertiview-toolbar-single-button:not([disabled="true"]):hover:active {
	-moz-image-region: rect(18px 18px 36px 0px);	
}

#wertiview-toolbar-single-button[disabled="true"] {
	-moz-image-region: rect(36px 18px 54px 0px);	
}

#wertiview-toolbar-remove-button {
	list-style-image: url("chrome://view/skin/pencil-eraser.png");
	-moz-image-region: rect(0px 36px 18px 18px);
	width: auto;
	padding: 0px 5px 0px 5px;
}

#wertiview-toolbar-remove-button:not([disabled="true"]):hover, 
#wertiview-toolbar-remove-button:not([disabled="true"]):hover:active {
	-moz-image-region: rect(18px 36px 36px 18px);
}

#wertiview-toolbar-remove-button[disabled="true"] {
	-moz-image-region: rect(36px 36px 54px 18px);
}