/* @override http://localhost:8000/smn_oahpa/media/css/smn_oahpa.css */

body {
	font-family: "HelveticaNeue", sans-serif;
    margin:10px 10px 0px 10px;
    padding:0px;
    font-family: Arial Pro;
    color: #150517;
    background-image: url(/smn_oahpa/media/images/sma_bg.jpg);
}

.headerlink {
  font-family: "HelveticaNeue", sans-serif;
  color: #150517;
}

.plain {
  font-family: "HelveticaNeue", sans-serif;
  color: #150517;
}

.selected {
  font-weight: bold;
  color: #150517;
}
.sidelist {
  font-size: 120%;
  margin-left: 0;
  padding-left: 15px;
  list-style: none;
}
.instructions {  
  border-width: 1px;
  border-style: solid;
  border-color: #150517;
}

img { -ms-interpolation-mode:bicubic; }

a {font-size: 100%; 
    text-decoration: none; }
  a:link {
    color: #150517; }
  a:visited {
    color: #150517; }

.popupcontent{
   position: absolute;
   visibility: hidden;
   overflow: hidden;
   border:1px solid #CCC;
   background-color:#F9F9F9;
   border:1px solid #333;
   padding:5px;
}

.header {
  font-family: Helvetica Neue;
  font-style: bold;
  color: #150517;
}
.headerlink {
  font-family: Helvetica Neue;
  color: #150517;
}
.bigheader {
  font-family: Helvetica Neue;
  font-size: 150%;
  color: #150517;
}

table td {
	font-family:  "HelveticaNeue", sans-serif; 
	font-size: 95%;
}

div.tooltip {
	display: block;
	position: absolute;
	left: 430px;
	top: 250px;
	
	height: 3em;
	padding: 5px;	
	background-color: #FEF;
	border: 1px solid #CCC;
	
	font-size: 12pt;
}

#auth {
	border-top: 3px double #777;
}

#auth ul {
	margin: 0;
	padding: .5em 1em;
	font-size: 90%;
	font-family: sans-serif;
}

#auth ul li {
	list-style-type: none;
	margin: 0em;
}

#auth a {
	color: #900;
}

#leftcontent {
	font-family: sans-serif;
}

#leftcontent a {
	color: #900;
}

#leftcontent ul.small {
	font-size: 90%;
}

#leftcontent ul.small li {
	margin-bottom: .5em;
}


html {
    overflow: scroll;
    height: 100%;
    margin-bottom: 1px;
}


#leftcontent {
	position: fixed;
	left: 10px;
	top: 95px;
	width: 140px;
	font-family: Arial Pro;
}

#centercontent {
	position:absolute;
	background:#fff;
	margin-left: 141px;
	margin-right:1px;
	top: 95px;
	padding: 10px;
	border: 1px solid #150517;
	font-family: Times;
	margin-bottom: 1px;
}

body #centercontent {
	top: 95px;
	margin-left: 141px;
	margin-right:11px;
}

#rightcontent {
	position: fixed;
	right:10px;
	top:95px;
	width:120px;
}

#banner {
	height:80px;
}

html > body #banner {
	height:80px;
}

