amqp==1.4.9
anyjson==0.3.3
appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
billiard==3.3.0.23
celery==3.1.23
cffi==1.6.0
cryptography==1.3.2
decorator==4.0.9
Django==1.8.6
django-celery==3.1.17
django-extensions==1.6.7
django-forms-bootstrap==3.0.1
django-messages==0.5.1
django-model-utils==2.5
django-modeltranslation==0.11
django-notifications-hq==1.1
django-serializers==0.6.0
djangorestframework==3.3.3
ecdsa==0.13
enum34==1.1.6
Fabric==1.11.1
flup==1.0.2
gnureadline==6.3.3
idna==2.1
ipaddress==1.0.16
ipython==4.2.0
ipython-genutils==0.1.0
itsdangerous==0.24
jsonfield==1.0.3
kombu==3.0.35
Markdown==2.6.6
MySQL-python==1.2.5
paramiko==2.0.0
pathlib2==2.1.0
pexpect==4.1.0
pickleshare==0.7.2
ptyprocess==0.5.1
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
pytz==2016.4
schematics==1.1.1
simplegeneric==0.8.1
simplejson==3.8.2
six==1.8.0
traitlets==4.2.1
Werkzeug==0.11.10
