{% extends "game.html" %}
{% load i18n %}

{% block helpaddress %}
{% ifequal LANGUAGE_CODE "no" %}
<a href="http://giellatekno.uit.no/oahpa/vasta.nno.html"
{% else %}
<a href="http://giellatekno.uit.no/oahpa/vasta.html"
{% endifequal %}
{% endblock %}
{% block imgprefix %}vasta{% endblock %}
{% block gametitlename %}<a href="{% url 'vasta_s' %}">VASTA</a>{% endblock %}

{% block navbar %}
<ul class="sidelist">
{% ifequal gametype "cealkka" %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'vasta_s' %}">{% trans 'Vasta-S' %}</a></li>
{% ifequal gametype "qa" %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'vasta_f' %}">{% trans 'Vasta-F' %}</a></li>
</ul>
{% endblock %}

{% block veiledning %}
{% ifequal LANGUAGE_CODE "sme" %}
http://oahpa.no/index.html
{% endifequal %}
{% ifequal LANGUAGE_CODE "fi" %}
http://oahpa.no/{{ lll1 }}/index.fin.html
{% endifequal %}
{% ifequal LANGUAGE_CODE "en" %}
http://oahpa.no/{{ lll1 }}/index.eng.html
{% endifequal %}
{% ifequal LANGUAGE_CODE "no" %}
http://oahpa.no/{{ lll1 }}/index.html
{% endifequal %}
{% ifequal LANGUAGE_CODE "ru" %}
http://oahpa.no/{{ lll1 }}/index.rus.html
{% endifequal %}
{% endblock %}


{% block name %}{% trans "Vasta" %}{% endblock %}
{% block pagename %}/{{ lll1_oahpa }}/vasta/{% endblock %}
{% block instructions %}
{% ifequal gametype "cealkka" %}
{% trans "Answer the questions with full sentences." %} </br>
{% trans "The blue words are given in the primary form. Your task is to write them in the correct grammatical form." %}
{% else %}
{% trans "Answer to the questions with full sentences. Be aware of that if there is moai/mii in the question, you have to answer with doai/dii. " %}
{% endifequal %}
{% endblock %}

{% block settings %}
<div class="grammarlinks">
        {% include 'grammar_links_menu.html' %}
</div>
<table width="700">
<!-- emergency tag starts -->
<tr>
<!--{% trans "NB! NB! The Vasta game is not working properly, due to technical problems! NB! NB!" %}-->
<!--{% trans "NB! NB! The Vasta game is temporarily out of order, due to technical maintenance! NB! NB!" %} -->
</tr>
<!-- emergency tag ends -->
<tr>
<td>{% trans "Level" %}</td>
<!-- {% ifequal gametype "cealkka" %}<td>{% trans "Number of task words" %}</td>{% endifequal %} -->
</tr>
<tr>
<td>{{ settingsform.level }}</td>
<!--  {% ifequal gametype "cealkka" %}<td>{{ settingsform.lemmacount }}</td>{% endifequal %}  -->
</tr>
</table>
<input type="submit" name="settings" value="{% trans "New set" %}" />
<!----<input type="hidden" name="gametype" value="qa" /> --->


{% endblock %}

{% block question %}
<tr>
<td><br/>{{ form.question }}</td>
</tr>
<tr>
</br>
    {% for w in form.awords %}
        {% if w.taskword %}
            <span style="color:#0000FF">{{ w.fullform }}</span>
        {% else %}
            {{ w.fullform }}
        {% endif %}
        {% if forloop.last %}
            &#46;
        {% endif %}
    {% endfor %}

</tr>
</br>
{% endblock %}

{% block submit %}
<tr>
<td>
</td>
<td>
  {% if not all_correct %}
  <input type="submit" name="test" value="{% trans "Test answers" %}"/>
  {% endif %}
</td>
</tr>

{% if messages %}
<tr><td>
<table border='1' cellpadding='10' bgcolor='#F9F9F9'>
<tr><td>
{% for m in messages %}{{ m|safe }}<br/>{% endfor %}
</td></tr>
</table>
</td></tr>
{% endif %}

{% endblock %}
