{% load i18n %}
{{ lang_switch }}
{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/oahpa/media/css/oahpa.css"/>
<link rel="stylesheet" type="text/css" href="/oahpa/media/css/oahpa_main.css"/>
<!--[if lt IE 7.]>
<script defer type="text/javascript" src="/oahpa/media/js/pngfix.js"></script>
<![endif]-->
</head>
<body class="mainbody">

<div id="mainheader" height="180">
<table cellspacing="0px" cellpadding="0px">
<tr>
<td>
<div class="plainbackground">
<a href="http://beta.visl.sdu.dk/"><img width="220"  src="/oahpa/media/images/visl_map.png" alt="VISL"/></a>
</div>
</td>
<td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
<td>
<font size="+5" font-family="arial">
<a href="http://beta.visl.sdu.dk/"> &nbsp; &nbsp; &nbsp; &nbsp;VISL&nbsp; &nbsp; &nbsp; &nbsp;</a></font>
</td>
<td>
 &nbsp; &nbsp; &nbsp; &nbsp;
</td>
<td class="plain">
<font size="+2" font-family="arial">
<a href="http://beta.visl.sdu.dk/">VISL</a>  {% trans "is a collection of grammar games developed for grammar learning by Syddansk Universitet. Here are the VISL games for North Sami. Note! Some of the games require the latest Java version, and do not function on Mac computers." %}
</font>
</td>
</tr>
</table>

</div>

<div id="maincontent" style="top:190px;font-size:90%;">
<center>

<table cellspacing="2px" cellpadding="2px">
<tr>
<td>
<table cellspacing="0px" cellpadding="2px" align="center" width="700">
<tr>
<td class="header" width="200">
<center>
<div class="plainbackground">
<a href="http://beta.visl.sdu.dk/visl/sme/edutainment/games/paintbox.php?S=/global/edutainment/games/paintbox-start-both">
<img  width="100"  border="0" src="/oahpa/media/images/paintbox.png"/><br/>
</div>PAINTBOX</a>

</center>
</td>
<td class="header" width="200">
<center>
<div class="plainbackground">
<a href="http://beta.visl.sdu.dk/visl/sme/edutainment/games/wordfall.php">
<img width="180" border="0" src="/oahpa/media/images/wordfall.png"/><br/>
</div>
WORDFALL</a>
</center>
</td>
<td class="header" width="200">
<center>
<div class="plainbackground">
<a href="http://beta.visl.sdu.dk/visl/sme/edutainment/games/shoot.php">
<img width="180" border="0" src="/oahpa/media/images/shooting.png"/><br/>
</div>
SHOOTING GALLERY</a>
</center>
</td>
</tr>

<tr>
<td>
<center>
<p class="plain">{% trans "Paint nouns, verbs and other words." %}
<font color="blue" size="-1">
{% ifequal LANGUAGE_CODE "en" %}
<a href="http://giellatekno.uit.no/oahpa/Paintbox_eng.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "sme" %}
<a href="http://giellatekno.uit.no/oahpa/Paintbox_sme.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "no" %}
<a href="http://giellatekno.uit.no/oahpa/Paintbox_nno.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "fi" %}
<a href="http://giellatekno.uit.no/oahpa/Paintbox_eng.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "sv" %}
<a href="http://giellatekno.uit.no/oahpa/Paintbox_nno.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "" %}
<a href="http://giellatekno.uit.no/oahpa/Paintbox_nno.html">
{% endifequal %}
{% trans "(instructions)" %}</a></font>
</p>
</center>
</td>
<td>
<center>
<p class="plain">{% trans "Nouns, verbs and other words shall be put into the right place." %}
<font color="blue" size="-1">
{% ifequal LANGUAGE_CODE "en" %}
<a href="http://giellatekno.uit.no/oahpa/WordFall_eng.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "sme" %}
<a href="http://giellatekno.uit.no/oahpa/WordFall_sme.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "no" %}
<a href="http://giellatekno.uit.no/oahpa/WordFall_nno.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "sv" %}
<a href="http://giellatekno.uit.no/oahpa/WordFall_nno.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "fi" %}
<a href="http://giellatekno.uit.no/oahpa/WordFall_eng.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "" %}
<a href="http://giellatekno.uit.no/oahpa/WordFall_nno.html">
{% endifequal %}
{% trans "(instructions)" %}</a></font>
</p></center>
</td>
<td>
<center>
<p class="plain">{% trans "Shoot nouns, verbs and other words flying through the air." %}
<font color="blue" size="-1">
{% ifequal LANGUAGE_CODE "en" %}
<a href="http://giellatekno.uit.no/oahpa/Shooting_eng.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "sme" %}
<a href="http://giellatekno.uit.no/oahpa/Shooting_sme.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "no" %}
<a href="http://giellatekno.uit.no/oahpa/Shooting_nno.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "sv" %}
<a href="http://giellatekno.uit.no/oahpa/Shooting_nno.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "fi" %}
<a href="http://giellatekno.uit.no/oahpa/Shooting_eng.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "" %}
<a href="http://giellatekno.uit.no/oahpa/Shooting_nno.html">
{% endifequal %}
{% trans "(instructions)" %}</a></font>
</p>
</center>
</td>
</tr>

<tr>
<td class="header" width="200">
<center>
<div class="plainbackground">
<a href="http://beta.visl.sdu.dk/visl/sme/edutainment/games/labyrinth.php">
<img width="150" border="0" src="/oahpa/media/images/labyrinth.png"/><br/>
</div>
LABYRINTH</a>
</center>
</td>


<td class="header" width="200">
<center>
<div class="plainbackground">
<a href="http://beta.visl.sdu.dk/visl/sme/edutainment/games/syntris.php">
<img width="120" border="0" src="/oahpa/media/images/syntris.png"/><br/>
</div>SYNTRIS</a>

</center>
</td>

<td class="header" width="200">
<center>
<div class="plainbackground">
<a href="http://beta.visl.sdu.dk/visl/sme/edutainment/games/spacerescue.php">
<img width="180" border="0" src="/oahpa/media/images/spacerescue.png"/><br/>
</div>
SPACE RESCUE</a>
</center>
</td>

</tr>
<tr>
<td>
<center>
<p class="plain">{% trans "Hurry through the labyrinth to the right part of speech." %}
<font color="blue" size="-1">
{% ifequal LANGUAGE_CODE "en" %}
<a href="http://giellatekno.uit.no/oahpa/Labyrinth_eng.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "sme" %}
<a href="http://giellatekno.uit.no/oahpa/Labyrinth_sme.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "no" %}
<a href="http://giellatekno.uit.no/oahpa/Labyrinth_nno.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "sv" %}
<a href="http://giellatekno.uit.no/oahpa/Labyrinth_nno.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "fi" %}
<a href="http://giellatekno.uit.no/oahpa/Labyrinth_eng.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "" %}
<a href="http://giellatekno.uit.no/oahpa/Labyrinth_nno.html">
{% endifequal %}
{% trans "(instructions)" %}</a></font>
</p>
</center>
</td>
<td>
<center>
<p class="plain">{% trans "Sentence members shall fall into right place - a Tetris game." %}
<font color="blue" size="-1">
{% ifequal LANGUAGE_CODE "en" %}
<a href="http://giellatekno.uit.no/oahpa/Syntris_eng.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "sme" %}
<a href="http://giellatekno.uit.no/oahpa/Syntris_sme.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "no" %}
<a href="http://giellatekno.uit.no/oahpa/Syntris_nno.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "sv" %}
<a href="http://giellatekno.uit.no/oahpa/Syntris_nno.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "fi" %}
<a href="http://giellatekno.uit.no/oahpa/Syntris_eng.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "" %}
<a href="http://giellatekno.uit.no/oahpa/Syntris_nno.html">
{% endifequal %}
{% trans "(instructions)" %}</a></font>
</p>
</center>
</td>
<td>
<center>
<p class="plain">{% trans "You shall save the parts of speech. (NOT for Mac!)" %}
<font color="blue" size="-1">
{% ifequal LANGUAGE_CODE "en" %}
<a href="http://giellatekno.uit.no/oahpa/SpaceRescue_eng.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "sme" %}
<a href="http://giellatekno.uit.no/oahpa/SpaceRescue_sme.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "no" %}
<a href="http://giellatekno.uit.no/oahpa/SpaceRescue_nno.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "sv" %}
<a href="http://giellatekno.uit.no/oahpa/SpaceRescue_nno.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "fi" %}
<a href="http://giellatekno.uit.no/oahpa/SpaceRescue_eng.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "" %}
<a href="http://giellatekno.uit.no/oahpa/SpaceRescue_nno.html">
{% endifequal %}
{% trans "(instructions)" %}</a></font>
</p>
</center>
</td>
</tr>

<tr>
<td class="header" width="200">
<center>
<div class="plainbackground">
<a href="http://beta.visl.sdu.dk/visl2/killerfiller.html">
<img width="180" border="0" src="/oahpa/media/images/killerlogo.png"/><br/>
</div>
KILLER FILLER</a>
</center>
</td>
<td class="header" width="200">
<center>
<div class="plainbackground">
<a href="http://beta.visl.sdu.dk/visl2/bestotesto_start_sme.htm">
<img width="120" border="0" src="/oahpa/media/images/animalquiz.png"/><br/>
</div>
ANIMAL QUIZ</a>
</center>
</td>
<td class="header" width="200">
<center>
<div class="plainbackground">
<a href="http://beta.visl.sdu.dk/visl/sme/parsing/nonautomatic/treebank.php">
<img width="120" border="0" src="/oahpa/media/images/trelogo.png"/><br/>
</div>
TREEBANK</a>
</center>
</td>
</tr>

<tr>
<td>
<center>
<p class="plain">{% trans "Write the correct wordform for the lemma." %}
<font color="blue" size="-1">
{% ifequal LANGUAGE_CODE "en" %}
<a href="http://giellatekno.uit.no/oahpa/Killerfiller_eng.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "sme" %}
<a href="http://giellatekno.uit.no/oahpa/Killerfiller_sme.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "no" %}
<a href="http://giellatekno.uit.no/oahpa/Killerfiller_nno.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "sv" %}
<a href="http://giellatekno.uit.no/oahpa/Killerfiller_nno.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "fi" %}
<a href="http://giellatekno.uit.no/oahpa/Killerfiller_eng.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "" %}
<a href="http://giellatekno.uit.no/oahpa/Killerfiller_nno.html">
{% endifequal %}
{% trans "(instructions)" %}</a></font>
</p>
</center>
</td>
<td>
<center>
<p class="plain">{% trans "Guess the right animal." %}
<font color="blue" size="-1">
<a href="http://giellatekno.uit.no/oahpa/animalquiz.html">
{% trans "(instructions)" %}</a></font>
</p>
</center>
</td>
<td>
<center>
<p class="plain">{% trans "Examine and build sentence trees." %}
<font color="blue" size="-1">
{% ifequal LANGUAGE_CODE "en" %}
<a href="http://giellatekno.uit.no/oahpa/cealkkamuorraravvagat.eng.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "sme" %}
<a href="http://giellatekno.uit.no/oahpa/cealkkamuorraravvagat.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "no" %}
<a href="http://giellatekno.uit.no/oahpa/cealkkamuorraravvagat.nno.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "sv" %}
<a href="http://giellatekno.uit.no/oahpa/cealkkamuorraravvagat.nno.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "fi" %}
<a href="http://giellatekno.uit.no/oahpa/cealkkamuorraravvagat.eng.html">
{% endifequal %}
{% ifequal LANGUAGE_CODE "" %}
<a href="http://giellatekno.uit.no/oahpa/cealkkamuorraravvagat.nno.html">
{% endifequal %}
{% trans "(instructions)" %}</a></font>
</p>
</center>
</td>
</tr>
</table>

</td>
</tr>
</table>
</div>
</center>


<div id="rightbar" style="top:220px">
<form action="/{{ URL_PREFIX }}/i18n/setlang/" method="post" name="newlang">
<table>
<tr><td>
{% trans "Page language" %}
<input name="next" type="hidden" value="{% block pagename %}{% endblock %}" />
<select name="language" onChange="javascript:this.form.submit();">

{% ifequal LANGUAGE_CODE "en" %}
<option value="en" selected="selected">English</option>
{% else %}
<option value="en">English</option>
{% endifequal %}

{% ifequal LANGUAGE_CODE "sme" %}
<option value="sme" selected="selected">Davvisámegiella</option>
{% else %}
<option value="sme">Davvisámegiella</option>
{% endifequal %}

{% ifequal LANGUAGE_CODE "no" %}
<option value="no" selected="selected">Norsk</option>
{% else %}
<option value="no">Norsk</option>
{% endifequal %}

{% ifequal LANGUAGE_CODE "sv" %}
<option value="sv" selected="selected">Svensk</option>
{% else %}
<option value="sv">Svensk</option>
{% endifequal %}

{% ifequal LANGUAGE_CODE "fi" %}
<option value="fi" selected="selected">Suomi</option>
{% else %}
<option value="fi">Suomi</option>
{% endifequal %}
</select>
</td></tr>
<tr><td>
</td></tr>
</table>
</form>
</td>
</tr>
</table>
</form>
</td></tr>
<tr>
<td>
&nbsp;<br/>
<table>
<tr>
<td>
<div class="plainbackground" >
<a href="http://giellatekno.uit.no/oahpa/OAHPAveiledning.html">
<img height="80" border="0" src="/oahpa/media/images/littleman.png"/><br/>
<font size="0">{% trans 'Teachers and students guide' %}</font></a>
</div>
&nbsp;<br/>

</td>
</tr>
<tr>
<td>
<a href="/{{ URL_PREFIX }}/">
<img border="0" width="80" src="/oahpa/media/images/Oahpa_logo0001red.png" alt="OAHPA!"/><br/>
{% trans 'Main page' %}</a><br/>&nbsp;
</td>
</tr>
<tr>
<td><a href="http://giellatekno.uit.no/oahpa/index.html">{% trans 'About OAHPA!' %}</a><br/>&nbsp;</td>
</tr>
<tr>
<td><a href="/{{ URL_PREFIX }}/feedback/">{% trans 'Feedback' %}<br/>&nbsp;</td>
</tr>
<tr>
<td>
<center>
<img width="50" height="50" src="/oahpa/media/images/LogoSamisk.jpg"/>
</center>
</td>
</tr>
</table>
</td>
</tr>
</table>
</center>
</div>

{% comment %}
<div id="copyright">
<p>
{% trans "Copyright 2013-2026 The Arctic University of Norway" %}
{% trans "Contact" %}</p>
</div>
{% endcomment %}
</body>
</html>
