{% extends 'yrk_oahpa.html' %}
{% load i18n %}
{% load cache %}
{% get_current_language as LANGUAGE_CODE %}

{% comment %}
TODO: internationalization strings

{% endcomment %}

{% block imgprefix %}numra{% endblock %}

{% block page_class %}fixed{% endblock %}

{% block content %}
	{# Add blocktrans and trans tags #}
	<div id="courses">
		<ul id="subnav">
			<li><a href="{% url yrk_oahpa.courses.urls.logout %}">Log out</a></li>
		</ul>
		<h2>{% trans 'Welcome' %}, {{ user.username }}!</h2>

		<p>{% trans "You are a course instructor." %}</p>
		{# cache 300 courses user.username #}
		{% for course in courses %}
		<div class="instructor_course">
			<h3>{{ course.identifier }} - {{ course.name }}</h3>
			<p>{% trans "Course content is available online" %}: <a href="{{ course.site_link }}">{{ course.site_link }}</a></p>

			<br />
			<ul class="course_students">
			{% for student in course.students.all %}
			<li><strong class="student_name">{{ student.user.username }}</strong>
				<ul class="row">
					<li>{% trans "last login" %}: {{ student.last_login }}</li>
					<li>{% trans "login count" %}: {{ student.login_count }}</li>
				</ul>
				{% if student.grades %}
				<table class="grades">
				<tr>
					{# TODO: padding here is not working #}
					<th>{% trans "exercise" %}&nbsp;</th>
					<th>{% trans "average" %}&nbsp;</th>
					<th>{% trans "minimum" %}&nbsp;</th>
					<th>{% trans "maximum" %}&nbsp;</th>
					<th>{% trans "game count" %}</th>
				</tr>
				{% for grade in student.grades|dictsort:"game_name"|slice:":5" %}
				<tr class="{% cycle "even" "odd" %}">
					<td>{{ grade.game_name }}</td>
					<td>{{ grade.average }}</td>
					<td>{{ grade.minimum }}</td>
					<td>{{ grade.maximum }}</td>
					<td>{{ grade.count }}</td>
				</tr>
				{% endfor %}
				</table>
				<p><a href="/yrk_oahpa/courses/{{ student.user.id }}">{% trans "More information about this student" %}.</a></p>
				{% endif %}
			</li>
			{% endfor %}
			</ul>
		</div>
		{% endfor %}
		{# endcache #}

	</div>

{% endblock %}

{# vim: set ts=4 sw=4 tw=0 syntax=htmldjango : #}

