/* @override http://localhost:8000/smaoahpa/media/css/new_form.css */

body {
	font-family: sans-serif;
	font-size: 12pt;
}

#gameform dt label {
	font-size: 15pt;
}

#gameform dd {
	position: relative;
}

#gameform dd input {
	padding: 3px;
	font-size: 14pt;
	width: 12em;
}

#gameform dd {
	margin-top: .25em;
	margin-bottom: 1em;
}

#gameform .right input {
	background-color: #CEC;
	border: 1px solid #3A3;
}

#gameform .green_text {
	color: #151;
	font-weight: bold;
}

#gameform .red_text {
	color: #511;
	font-weight: bold;
}


#gameform .wrong input {
	background-color: #ECC;
	border: 1px solid #A33;
}

#gameform span.answers {
	display: block;
	position: absolute;
	width: 12em;
	
	background-color: #EEE;
	padding: 4px;
	top: .2em;
	left: 16em;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	border: #CCC 1px solid;
}

span.answers ul {
	list-style-type: circle;
	margin: 0 0 0 0;
	padding: 0 0 0 1.4em;
	
}

/* Correct/Incorrect labels */
#gameform span.evaluation {
	display: block;
	position: relative;
	top: -.1em;
	line-height: 1.5em;
}
