{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Error API Test Page</title>

    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap_namespaced.css" %}"/>

	<script src="{% static "js/angular.min.js" %}" type="text/javascript"></script>
	<script src="{% static "js/angular-cookies.js" %}" type="text/javascript"></script>
	<script src="{% static "js/error_api.js" %}" type="text/javascript"></script> 
</head>

<body lang="{% if session_locale %}{{ session_locale }}{% endif %}" class="bootstrap-styles" ng-app="ErrorAPI">

    <!-- TODO:
        * ng-error-watch - directive for specifying what elements to watch for
        clicks.
    -->

    <div class="container">
        <p>This page is intended to be a bare demo of the essentials to implement
            the Error service on a page.</p>

        <p>Accessing the service requires <code>ng-app="ErrorAPI"</code>,
            <code>ng-controller="ErrorRequester"</code> on the container that
            will be watched for links, as well as a <code>data-error-watch</code> attribute to define
            the kinds of links that will be clickable.  /p>
            
            
        <p>Individual links that are intended to trigger the lookup can
            optionally be marked with <code>data-lemma</code> or
            <code>data-task</code> attributes to constrain morphological
            feedback messages.</p>

        <h3>Test words</h3>

        <div ng-controller="ErrorRequester" data-error-watch="ul.samples a">
            <ul class="samples">
                <li>Basic lookup: <a data-error-fst href="#">viessui</a></li>
                <li>Constrain to lemma with data-lemma attr: <a data-error-fst href="#" data-lemma="viessu">viessui</a></li>
                <li>Constrain to task with data-task attr: <a data-error-fst href="#" data-task="Pl+Acc">viessuide</a></li>
                <li>Constrain to task and lemma: <a data-error-fst href="#" data-lemma="viessu" data-task="Pl+Acc">viessuide</a></li>
            </ul>
        </div>
    </div>

</body>

</html>
{# vim: set ts=4 sw=4 tw=0 syntax=htmldjango : #}
