{% extends "num.html" %}
{% load i18n %}

{% block navbar %}
	{% with "numra_ordinal" as gamename_nav %}
        {% include 'numra_submenu.html' %}
	{% endwith %}
{% endblock %}

{% block instructions %}
  {# TODO: strings for instructions. #}
  {% ifequal gametype "string" %}
    {% trans "Write a numeral followed by fullstop (for example, 1.). Please keep to this format." %}
  {% else %}
    {% trans "Write the ordinal numbers in Moksha (for example, васень)." %}
  {% endifequal %}
{% endblock %}
