/*
* Licensed to the Apache Software Foundation (ASF) under one or more
* contributor license agreements.  See the NOTICE file distributed with
* this work for additional information regarding copyright ownership.
* The ASF licenses this file to You under the Apache License, Version 2.0
* (the "License"); you may not use this file except in compliance with
* the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/

body {
    font-family: "Verdana", Helvetica, sans-serif;
    background-color: #EBF2F8;
    color: #000000;
    font-size: 90%;
	/* centers the page in the browser window */
	margin:0 auto;
	width:800px;
	
}

.focus {  
  color: red; 
  }
  
.formative {  
  color: green; 
  }
  
p {
  line-height: 160%;
  text-align: left;
  margin-top: .8em;
  margin-bottom: 0em;
  font-family: "Verdana";
}

em {
    font-weight: normal;
    font-style: italic;
    color: #black;
}

/* example style for lene */

/*To test this example, uncomment the <li class="oahpa_quote"> elements,
do forrest run in $GTHOME/ped, and view the doc by entering
http://localhost:8888/pp.html in a web browsers address field.

The .oahpa_quote class can be used in other elements, e.g. in <p> by
writing <p class="oahpa_quote">.

One can change the style .oahpa_quote in giron.screen.css, and 
to view the changes, refresh the view of the file in ones web browser.*/
.lg_mat {
    font-weight: normal;
    font-style: italic;
    color: darkred;
    font-size: 1em;
}


h1, h2, h3, h4, h5, h6 { font-family: Georgia, Arial, Helvetica, sans-serif; }

h1     { font-size : 2.08em; margin: 25px 0px 0px 0px;  padding: 0px; font-weight: normal; }
h2     { font-size : 1.4em; margin: 0.9em 0px 0px 0px; padding: 0px; font-weight : normal;}
h3     { font-size : 1.3em; margin: 0.8em 0px 0px 0px; padding: 0px; font-weight : normal; }
.h3 { margin: 22px 0px 3px 0px; }
h4     { font-size : 1.1em; margin: 0.7em 0px 0px 0px; padding: 0px; font-weight : normal; text-align: left; }
.h4 { margin: 18px 0px 0px 0px; }
h4.faq { font-size : 1.1em; margin: 18px 0px 0px 0px; padding: 0px; font-weight : bold;   text-align: left; }
h5     { font-size : 0.9em; margin: 14px 0px 0px 0px; padding: 0px; font-weight : normal; text-align: left; }

#content h1 { margin-bottom: .5em; }

#content ul { 
list-style-type: none;
padding: 0.5em 0 1em 1em;
 }

#menu h1 {
  margin: 0;
  padding: 10px;
  background: #336699;
  color: white;
}
strong {
font-weight: bold;


}

#content {
	background: none repeat scroll 0 0 white;
    padding: 20px 20px 50px 20px;
    margin-left: 30px;
    font-family : Verdana, Helvetica, sans-serif;
    font-size: 0.90em;
	max-width: 480px;
/*	min-width: 300px; */
/*	height: 100%; */
/* 	border-style: solid; */	
}

#content a:link { color: #336699;}
#content a:visited { color: #336699;}
#content a:hover { color: #002B54;}

#content li {
    padding: 0 0px;
	line-height: 160%
}


#content li, {
  line-height: 160%;
/* text-indent: -10px;  */
/*  margin-left: 10px; */
  margin-top: .2em;
  margin-bottom: .2em;
}
#content th, #content td {
}

.red {
  color: red;
}
#content .attribution {
  text-align: right;
  font-style: italic;
  font-size: 0.9em;
  margin-top: 1em;
}

/**
* Content table related
*/

#content table {
	border: 0;
	width: 450px;
	margin: 10px 10px 10px 0px;
}


* html #content table { margin-left: -3px; }

#content th, #content td {
  margin: 0;
  padding: 5px;
  vertical-align: top;
}

.codefrag {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1em;
}

.align-left { 
 float:left; 
 margin: 0 10px 25px 0; 
 }

.align-right { 
 float:right; 
 margin: 0 10px 25px 0; 
 }


/* Table related generic */

table .title { background-color: #000000; }
.ForrestTable {
    color: #ffffff;
    background-color: #80A1B6;
    width: 50%;
    font-size : 90%;
    empty-cells: show;
}
table caption {
    padding-left: 5px;
    color: #000000;
    text-align: left;
    font-weight: bold;
    background-color: #4A6D8C;
}
.ForrestTable td {
    color: #000;
    background-color: #FFFFFF;
	
}
.ForrestTable th { text-align: center; 

}

	td.lightshadow  {
	background-color:#E2E2E2;	
	}

	td.small  {
    font-style: italic;
    font-size: 80%;
	}
	
	td.fatbottom {
	border-bottom: solid 2px black;
	}
	td.fattop {
	border-top: solid 2px black;
	}

	td.center {
    text-align: center;
	}


/**
 * Page Header
 */

#container {
    position: relative;
    float: left;
    max-width: 1200px;
	min-width: 500px;
    background-color: #FFFFFF;
}

#container #header {
    position: relative;
    float: left;
    width: 100%;
    background-color: #002B54;
/*     background-image: url("../themes/images/header_white_line.gif"); */
    background-position: bottom left;
    background-repeat: repeat-x;
	
}
/* #header {
border-bottom-color: #EBF2F8;
border-bottom-style: dashed;
border-bottom-width: 2px;

} */

/* branding-logo Template */
#header .logo {
    padding: 0px 0px 0px 0px;
/*     float: center; */
/*     text-align: center; */
/* 	left: 180px; */
}
#header .logoImage {
  width: 100%;
}

#header .searchbox {
    position: absolute;
    margin: 0;
    right: 10px;
    height: 42px;
    white-space: nowrap;
    text-align: right;
    color: #000000;
    background-color: #4A6D8C;
    z-index:0;
    bottom: 18px; /* compensate for IE rendering issue */
}
/* DUC - Formerly searchbox */
#header .search-input {
    padding: 5px 10px;
}


#header .search-field {
    float: left;
}

/* Navigation - Top Horizontal Tabbed Navigation */

#nav-main {
    font-size: 0.9em;
    clear: both;
    padding-left: 20px;
    margin: 0;
    list-style: none;
}

#nav-main li {
    float: left;
    background-repeat: no-repeat;
    background-position: top right;
    margin: 0 1px 5px 0;
    padding: 5px;
	border-right: #D1E5F0;
	border-bottom: #F3763F;
	border-color: #F3763F;
	background-color: #002B54;
}

#nav-main li a {
    float: left;
    display: block;
    font-family: verdana, arial, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    background-repeat: no-repeat;
    background-position: top left;
    padding: 5px 15px 10px;
    width: .1em; /* IE/Win fix */
}
#nav-main li a:link {  color: #80A1B6; }
#nav-main li a:visited { color: #80A1B6; }
#nav-main li a:hover { color: #fff }

#nav-main > li a { width: auto; } /* Rest of IE/Win fix */

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#nav-main a { float: none; }
/* End IE5-Mac hack */

#nav-main .current {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: top right;
	border-right: 0;
	border-bottom: groove;
	border-color: #80A1B6;
}

#nav-main .current a {
    font-weight: bold;
    padding-bottom: 5px;
    background-repeat: no-repeat;
    background-position: top left;
}


#publishedStrip {
    position: relative;
    background: #4A6D8C;
    clear:both;
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom:3px;
    color: #fff;
    font-size : 0.8em;
    font-weight: bold;
    text-align:right;
    min-height:10px;
}

#level2tabs {
    color: #000000;
    margin: 0;
    float:left;
    position:relative;
    background-color: #4A6D8C ;
}
#level2tabs a{padding-right: 5px;}
#level2tabs a:link {  color: #000000; }
#level2tabs a:visited {  color: #000000; }
#level2tabs a:hover { color: #000066; }
#page {
    position: relative;
    background: white;
    clear:both;
	
}


/* Navigation - Left Side Vertical Navigation */

#nav-section ul {
    list-style: none;
    margin: 0px 0px 0 0;
    padding: 0px 20px 0 0;
}

#leftbar a {  font-weight: normal; font-family: georgia;}
#leftbar a:link { color: #336699: }
#leftbar a:visited { color: #336699; }
#leftbar a:active { color: #000000; }
#leftbar a:hover { color: #002B54; }

#menuarea { width:10em;}

#leftbar {
    position: relative;
    float: left;
    width: 180px;
	height: 100%;
/*	min-height: 100%; */
    padding: 45px 20px 0 20px;
    margin: 0 0 0 50px;	
    z-index: 20;     
	background-color: #fff;
    font-size: 0.9em;
    color: #000000;
/*	border-left-color: #EBF2F8;
	border-left-style: dotted;
	border-left-width: 2px 10px; */
	
}


.pagegroup ul {
    list-style: none;
}

.pagegroup {
        display: block;
        cursor:pointer;
}

#nav-section {
float: left;
}

#nav-section span {
        background-repeat: no-repeat;
        background-position: center left;
        margin: 0px;
        padding: 2px 12px;
        font-weight : regular;
		font-size: 110%;
		color: #336699;
		
}
#nav-section .pagegroup span {
        color: #336699;
}
.pagegroupselected span {
        line-height: 160%;
		font-family: Georgia;
		
}
.pagegroupopen span {
        color: #000000;
}

.pagegroupselected {
        display: block;
        cursor:pointer;
}

.pagegroupopen {
        display: block;
        cursor:pointer;
}
#nav-section .menuitemgroup {
        margin: 0px 0px 12px 0px;
        padding: 0px;
        font-weight : normal;
		font-size: 100%;		
		}

#nav-section .selectedmenuitemgroup{
        margin: 0px 0px 6px 3px;
        padding: 0px;
        /*font-weight : bold;*/ }

#nav-section .menuitem {
        padding: 0px 0px 2px 3px;
        background-repeat: no-repeat;
        background-position: center left;
        font-weight : normal;
        margin-left: 10px;
		font-size: 0.85em;
		line-height: 160%;
		font-family: "Verdana";
	/*	border-bottom: 1px dotted #CCCCCC; */
}

#nav-section .menupage {
	margin-left: 15px;
        background-repeat: no-repeat;
        background-position: top left;
        font-style : normal;
}

#nav-section .menupagetitle {
        color: #80A1B6;
        padding: 5px 0 5px 0;
        font-weight : regular;
        margin-right: 0px;
		margin-left: -6px;
        border-color: #999999;
		color: #002B54;
		font-family: Georgia;
		font-size: 0.85em;
}

#nav-section .menupageitemgroup {
        padding: 3px 0px 4px 6px;
        font-style : normal;
        border-bottom: 1px solid ;
        border-left: 1px solid ;
        border-right: 1px solid ;
        margin-right: 10px;
        border-color: #999999;
        background-color: #CFDCED;
}

#nav-section .menupageitem {
        color: #000000;
        font-style : normal;
        font-weight : normal;
        border-width: 0px;
        font-size: 0.9em;
}

#nav-section .menupageitem a:link { color: #000000;}
#nav-section .menupageitem a:visited { color: #000000;}
#nav-section .menupageitem a:hover {
        background-color: #4A6D8C;
        color: #000000;
}

 #leftbar {
	float: right;
	height: 100%;
/*	margin-top: 30px; */
} 

#leftbar #credit {
    text-align: center;
}

#leftbar #credit2 {
    text-align: center;
    padding: 3px 3px 3px 3px;
    background-color: #ffffff;
}

#leftbar #credit2 a:hover {
  background-color: #FFFFFF;
}

/* DUC - Formerly searchbox */
#leftbar .searchbox {
    text-align: center;  
}
#leftbar .search-input {
    padding: 3px 3px;
    margin: 0;
}

#feedback {
    color: black;
    background: #CFDCED;
    text-align:center;
    margin-top: 5px;
}
#feedback #feedbackto {
    font-size: 0.9em;
    color: black;
}
#footer {
    font-size: x-small;
    clear: both;
    position: relative; /* IE bugfix (http://www.dracos.co.uk/web/css/ie6floatbug/) */
    width: 100%;
    background-color: #ffffff;
    border-top-color: #EBF2F8;
	border-top-style: dotted;
	border-top-width: 2px 10px;
    color: black;
}
#footer .copyright {
    position: relative; /* IE bugfix cont'd */
    padding: 5px;
    margin: 0;
    width: 75%;
}
#footer .lastmodified {
    position: relative; /* IE bugfix cont'd */
    float: right;
    width: 35%;
    padding: 5px;
    margin: 0;
    text-align: right;
}

#footer #siteinfo-compliance-links {
    text-align: left;
    float:left;
}


/**
 * Misc Styles
 */

acronym { cursor: help; }
.boxed          { background-color: #4A6D8C;}
.underlined_5   { border-bottom: solid 5px #4A6D8C;}
.underlined_10  { border-bottom: solid 10px #4A6D8C;}
.code           { border-color: #CFDCED;} 


/* ==================== snail trail ============================ */

.trail {
  position: relative; /* IE bugfix cont'd */
  float: left;
  margin: -10px 5px 0px 5px;
  padding: 0;
}

#content .motd-area {
    position: relative; /* IE bugfix cont'd */
    float: left;
    width: 35%;
    background-color: #f0f0ff;
    border-top: solid 1px #4A6D8C;
    border-bottom: solid 1px #4A6D8C;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 10%;
    padding-bottom: 5px;
    padding-top: 5px;
}

#content-minitoc-area {
    border-top: dotted 1px #80A1B6;
    border-bottom: dotted 1px  #80A1B6;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0%;
    padding-bottom: 10px;
    padding-top: 5px;
	max-width: 480px;
}
/*** CD : Lien en bleu lors du survol de la souris... **/
#content-minitoc-area a:hover   { border: 0px solid #a5b6c6; background: #CFDCED; }

.minitoc {
    list-style-image: url('../themes/images/current.gif');
    font-weight: normal;
	margin-left: 10px;
	
}

li p {
    margin: 0;
    padding: 0;
}

#export-link {
    position: relative; /* IE bugfix cont'd */
    float: right;
    margin: 5px 5px;
    padding: 0;
}
#export-link .caption {
    display: block;
    font-size: 0.7em;
    padding-left: 1px;
}
#export-link .format {
    display: block;
    text-align: center;
    text-decoration: none;
}

.printlink {
    float: right;
}
.printlink br {
    margin-top: -10px;
    padding-left: 1px;
}
.printlink a {
    display: block;
    font-size: 0.7em;
    text-align: center;
    margin: 0;
    padding: 0;
}
.printlink img {
    display: block;
    height: 16px;
    width: 16px;
}

p.instruction {
  display: list-item;
  list-style-image: url('../themes/images/instruction_arrow.png');
  list-style-position: outside;
  margin-left: 2em;
} 

.breadtrail {
    background: #CFDCED;
    color: #0F3660;
    border-bottom: solid 1px white;
    padding: 3px 10px;
    font-size: 0.8em;
    min-height:12px;
}
.breadtrail a:link { color: #0F3660; }
.breadtrail a:visited { color: #0F3660; }
.breadtrail a:hover { color: #000066; }

#page .breadtrail {
    clear:both;
    position: relative;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    padding: 0px 200px;
    z-index:10;
}

#branding-tagline-name {
    display: none;
}

#branding-tagline-tagline {
    display: none;
}

a:link { color: #80A1B6; } 
a:visited { color: #80A1B6; } 
a:hover { color: #000066; }

/* This stuff was in giron.basic.css. Any duplicate code or other code that
could be combined have been added above */

img { 
	border: 0; 
}

.clearboth {
  clear: both;
}

.frame {
  border: solid black 1px;
  margin: 1em 3em;
}

.frame .label {
  background: #369;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
}
.frame .content {
  padding: 5px 10px;
  background: #F0F0FF;
  color: black;
  line-height: 120%;
  font-size: 0.9em;
}
/*
 * Notes, Warnings, Fixme ...
 */
.note, .warning, .fixme {
  border: solid black 1px;
  margin: 1em 3em;
}
.fixme    { border-color: #CC6600;} 
.note     { border-color: #006699;} 
.warning  { border-color: #990000;} 

/* Label */
.note    .label { background: #336699; }
.warning .label { background: #CC0000; }
.fixme   .label { background: #C6C600; }

.note .label, .warning .label, .fixme .label {
  color: white;
  font-weight: bold;
  padding: 5px 10px;
}

/* Content */
.note    .content { background: #F0F0FF; }
.warning .content { background: #FFF0F0; }
.fixme   .content { background: #FFFFBF; }

.note .content, .warning .content, .fixme .content {
  color: black;
  line-height: 120%;
  font-size: 0.9em;
  padding: 5px 10px;
}

.last_modified {
	color: lightgray;
	font-size: 70%;
	text-align: right;
	margin-top: 5em;
}
