<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	    <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet"
              href="{{ MEDIA_URL }}/css/neahttadigisanit.css"></link>

		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/main.css"/>
		<!--[if gte IE 7]>
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/ie_fixes.css"/>
		<![endif]-->

		{% comment %}
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/mobile.css"/>
		{% endcomment %}



		{% block extracss %}
		{% endblock %}

		{% block extrajs %}
		{% endblock %}

		<!--[if lt IE 7.]>
		<script defer type="text/javascript" src="{{ MEDIA_URL }}/js/pngfix.js"></script>
		<![endif]-->
	</head>

	{% load i18n %}

<body class="{% block bodyclass %}main{% endblock %}">
	<div id="page" class="{% block pageclass %}{% endblock %}">
		<div id="headerimg"><a href="/{{ URL_PREFIX }}/"><img src="{{ MEDIA_URL }}/images/nehiyawetan.png" alt="OAHPA!"/></a></div>
		<a class="hide" href="#content">Skip to content</a>

		{% block language_select %}
		<div id="language_options">
			{% get_current_language as LANGUAGE_CODE %}
			<form action="/{{ URL_PREFIX }}/i18n/setlang/" method="post" name="newlang">
				<dl>
					<dt><label for="language_select">{% trans "Interface language" %}</label></dt>
					<dd>
						<input name="next" type="hidden" value="{% block pagename %}{% endblock %}" />
						<select id="language_select" name="language" onChange="javascript:this.form.submit();">

						{% comment %}
						    {% ifequal LANGUAGE_CODE "crk" %}
							    <option value="crk" selected="selected">Plains Cree</option>
						    {% else %}
							    <option value="crk">Plains Cree</option>
						    {% endifequal %}
						{% endcomment %}
					<!--	{% ifequal LANGUAGE_CODE "fi" %}
							<option value="fi" selected="selected">Suomi</option>
						{% else %}
							<option value="fi">Suomi</option>
						{% endifequal %} -->


						{% ifequal LANGUAGE_CODE "en" %}
							<option value="en" selected="selected">English</option>
						{% else %}
							<option value="en">English</option>
						{% endifequal %}

					</select>
					</dd>
				</dl>
				<input type="submit" class="hide" value="submit" />
			</form>
			<!--
			<form action="/{{ URL_PREFIX }}/dialect/" method="post">
				<dl>
					<dt><label for="dialect">{% trans "Russian dialect" %}</label></dt>
					<dd>
						<input name="next" type="hidden" value="/{{ URL_PREFIX }}/" />
						<select name="dialect" onChange="javascript:this.form.submit();">
						{% if dialect %}
							{% ifequal dialect "GG" %}
								<option value="GG" selected="selected">{% trans 'GG' %}</option>
								<option value="KJ">{% trans 'KJ' %}</option>
							{% else %}
								<option value="GG">{% trans 'GG' %}</option>
								<option value="KJ" selected="selected">{% trans 'KJ' %}</option>
							{% endifequal %}
						{% else %}
							<option value="GG">{% trans 'GG' %}</option>
							<option value="KJ">{% trans 'KJ' %}</option>
						{% endif %}
					</select>
					</dd>
				</dl>
				<input type="submit" class="hide" value="submit" />
			</form>
			-->
		</div>
		{% endblock %}

		<div id="header">
			{% block header_content %}
			<h1><img src="{{ MEDIA_URL }}/images/nehiyawetan.png" alt="OAHPA!" /></h1>
			<h2>tânisi</h2>
			{% endblock %}
		</div>

		<div id="content">
			{% block main_content %}
			<ul id="games_menu">

				<li class="game">
					<a href="{% url "leksa" %}">
						<span>itwêwina êkwa itwêstamâkêwina</span><br />
						<img src="{{ MEDIA_URL }}/images/leksa.png" alt="LEKSA" /><br />
						<span>{% trans "Words and translations" %}</span>
					</a>
				</li>

				<li class="game">
					<a href="{% url 'morfa_s.noun' %}">
						<span>itwêwinihkêwin</span><br />
						<img src="{{ MEDIA_URL }}/images/morfa.png" alt="MORFA-S" /><br />
						<span>{% trans "Inflect words" %}</span>
					</a>
				</li>

				<li class="game">
                    <a href="{% url 'morfa_c.noun' %}">
						<span>kakwêcihkêmowina </span><br />
						<img src="{{ MEDIA_URL }}/images/morfac.png" alt="MORFA-C" /><br />
						<span>{% trans "Inflect words in sentences" %}</span>
					</a>
				</li>

                <li class="game">
                    <a href="{% url 'numra' %}">
						<span>akihtâsona</span><br />
						<img src="{{ MEDIA_URL }}/images/numra_crk.png" alt="NUMRA" /><br />
						<span>{% trans "Practice numerals" %}</span>
					</a>
                </li>
			</ul>
			</br>
			{% comment %}
			<h3>{% trans "Online reference materials" %}</h3>
			{% endcomment %}
			<p class="intro" align="centre">{% trans "nêhiyawêtân is an internet program for learners of Plains Cree. The program can be adjusted to different topics and levels of difficulty, and it generates new task sets automatically. This is a beta demo version." %}</p>

			<ul class="linklist">
                <li><a target="_blank" href="http://pikiskwewina.oahpa.no/">{% trans "Plains Cree" %}-{% trans "English" %} {% trans "web dictionary" %}</a></li>
			</ul>

			{% endblock %}
		</div>

		<div id="footer">
			<div id="copyright">
			{% block deeplink %}
			{% if deeplink %}
			<div id="deeplink">
				<a href="{{ deeplink }}">{% trans 'Link to this exercise' %}</a>
			</div>
			{% endif %}
			{% endblock %}

			  <p>
				  {% trans "Copyright 2016-2026 The Arctic University of Norway and University of Alberta " %}<br />
			{% trans "Contact" %} oahpa@uit.no</p>
			</div>
		</div>
	</div>
    {% block disable_nds %}
    <script type="text/javascript"
            src="{{ MEDIA_URL }}/js/neahttadigisanit.jquery.min.js"></script>

    <script type="text/javascript">
        // Wait for the document to load...
        $(document).ready(function (){
            window.NDS_API_HOST = 'http://altlab.ualberta.ca/itwewina/';

            // Initialize and configure NDS
            $(document).selectToLookup({
                // This specifies the dictionary set to
                api_host: 'http://altlab.ualberta.ca/itwewina/',
            });
        });
    </script>
    {% endblock %}

</body>
</html>
