/* IE7 */

/*
 *
 *  IE7 doesn't support display: table; 
 *  so instead we need to use float and
 *  block.
 *
 */

ul#games_menu {
	height: 1% !important;
	width: 675px;
	display: block !important;
	margin-left: auto;
	margin-right: auto;
}

ul#games_menu.small {
    width: auto;
}

ul#games_menu li {
	display: block;
	float: left; 
	width: 100%;
}

#settingsform, #submittable {
    height: 1%;
    display: block;
}

#settingsform > li, #submittable > li {
    float: left;
}

/* IE8+ */

/*
 *
 *  Clearfix so that submit button in game form doesn't float to the left, 
 *  and also clear the space after the games menu on the main page so that
 *  text doesn't appear to the right.
 *  
 *  See also: http://www.positioniseverything.net/easyclearing.html
 * 
 */

#settingsform:after, ul#games_menu:after {
    content: "." ;
    display: block ;
    height: 0;
    clear: both;
    visibility: hidden;
}
