{% extends 'oahpa_main.html' %}
{% load i18n %}
{% load trans_to %}
{{ lang_switch }}
{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% endblock %}

{% block bodyclass %} {% endblock %}
{% block pageclass %}game{% endblock %}


{% block header_content %} {% endblock %}


{% block main_content %}
<ul id="games_menu" class="small">

	<li class="game">
		<a href="{% url 'morfa_c.noun' %}">
			<img src="{{ MEDIA_URL }}/images/morfac_small.png" alt="MORFA-C"/><br/>
			<span class="gamename">MORFA-C</span>
		</a>
	</li>

	<li class="game">
		<a href="{% url 'morfa_s.noun' %}">
			<img src="{{ MEDIA_URL }}/images/morfa_small.png" alt="MORFA-S"/><br/>
			<span class="gamename">MORFA-S</span>
		</a>
	</li>

    <li class="game">
		<a href="{% url 'vasta_s' %}">
			<img src="{{ MEDIA_URL }}/images/vasta_small.png" alt="VASTA"/><br/>
			<span class="gamename">VASTA</span>
		</a>
	</li>

    <li class="game">
		<a href="{% url 'sahka' %}">
			<img src="{{ MEDIA_URL }}/images/sahka_small.png" alt="SAHKA"/><br/>
			<span class="gamename">SAHKA</span>
		</a>
	</li>

	<li class="game">
		<a href="{% url 'leksa' %}">
			<img src="{{ MEDIA_URL }}/images/leksa_small.png" alt="LEKSA"/><br/>
			<span class="gamename">LEKSA</span>
		</a>
	</li>

	<li class="game">
		<a href="{% url 'numra' %}">
			<img src="{{ MEDIA_URL }}/images/numra_small.png" alt="NUMRA"/><br/>
			<span class="gamename">NUMRA</span>
		</a>
	</li>


</ul>
<div id="leftcontent">

	{% comment %}
<!--	<p align="center"><b><span style="color: #993366;font-size:0.8em">Hjelp oss å utvikle Oahpa – svar på et lite <span style="color: #9933FF"><a href="http://kursa.oahpa.no/2012/03/27/sporreskjema/">spørreskjema </a></span>om bruk av noen av programmene.</span></b></p>
        <hr color="#CCCCCC"> -->
	{% endcomment %}

	<div id="navbar">
        {% if gametype != "sahka" or not forms %}
		<img width="120" height="120" border="0" src="{{ MEDIA_URL }}/images/{% block imgprefix %}{% endblock %}_big.png" alt="Game logo" />
        {% endif %}
		<div class="bigheader">{% block gametitlename %}{% endblock %}</div>
		{% block navbar %}{% endblock %}
	</div>

	<strong class="interface">{% trans_to "Reference materials" "sme" %}<span class="invisible">{% trans "Reference materials" %}</span></strong>
	<ul class="sidelist small">
		<li><a target="_blank" href="{% block veiledning %}{% endblock %}" class="interface">{% trans_to "Veiledning" "sme" %}<span class="invisible">{% trans "Veiledning" %}</span></a></li>
        {% ifequal LANGUAGE_CODE "fi" %}
            <li><a target="_blank" href="http://sanit.oahpa.no/sme/fin" class="interface">{% trans_to "Dictionary" "sme" %}<span class="invisible">{% trans "Dictionary" %}</span></a></li>
        {% else %}
            <li><a target="_blank" href="http://sanit.oahpa.no/sme/nob" class="interface">{% trans_to "Dictionary" "sme" %}<span class="invisible">{% trans "Dictionary" %}</span></a></li>
        {% endifequal %}
        {% ifequal LANGUAGE_CODE "sme" %}
            <li><a target="_blank" href="http://{{hst}}/sme/gramm/grammatihkka.html" class="interface">{% trans_to "Grammar" "sme" %}<span class="invisible">{% trans "Grammar" %}</span></a></li>
        {% endifequal %}
        {% ifequal LANGUAGE_CODE "fi" %}
            <li><a target="_blank" href="http://{{hst}}/sme/gramm/grammatihkka.html" class="interface">{% trans_to "Grammar" "sme" %}<span class="invisible">{% trans "Grammar" %}</span></a></li>
        {% endifequal %}
        {% ifequal LANGUAGE_CODE "en" %}
            <li><a target="_blank" href="http://{{hst}}/sme/gramm/grammatihkka.eng.html" class="interface">{% trans_to "Grammar" "sme" %}<span class="invisible">{% trans "Grammar" %}</span></a></li>
        {% endifequal %}
        {% ifequal LANGUAGE_CODE "no" %}
            <li><a target="_blank" href="http://{{hst}}/sme/gramm/grammatihkka.nob.html" class="interface">{% trans_to "Grammar" "sme" %}<span class="invisible">{% trans "Grammar" %}</span></a></li>
        {% endifequal %}
        {% ifequal LANGUAGE_CODE "sv" %}
            <li><a target="_blank" href="http://{{hst}}/sme/gramm/grammatihkka.nob.html" class="interface">{% trans_to "Grammar" "sme" %}<span class="invisible">{% trans "Grammar" %}</span></a></li>
        {% endifequal %}
    </ul>

	<strong class="interface">{% trans_to "Online courses" "sme" %}<span class="invisible">{% trans "Online courses" %}</span></strong>
	<ul class="sidelist small">
		{% if user.is_authenticated %}
			<li><a href="{% url 'courses_main' %}" class="interface">{% trans_to "View progress" "sme" %}<span class="invisible">{% trans "View progress" %}</span></a></li>
			<li><a href="{% url 'logout' %}" class="interface">{% trans_to "Log out" "sme" %}<span class="invisible">{% trans "Log out" %}</span></a></li>
		{% else %}
    	<li><a href="{% url 'courses_login' %}" class="interface"> {% trans_to "Log in" "sme" %}<span class="invisible">{% trans "Log in" %}</span></a></li>
    	{% endif %}
    </ul>


</div>

{% comment %}
<a href="/sme_oahpa/feedback/">{% trans 'Feedback' %}</a><br/>
{% endcomment %}

<div id="rightcontent">
	{% block rightcontent %}
	<a name="content" class="hide">&nbsp;</a>

    {% block language_select %}
    <div id="language_options">
       {% include 'language_menu.html' %}
    </div>
    {% if gametype != 'sahka' and gametype != 'string' and gametype != 'numeral' and gametype  != 'k1' and gametype != 'k2' and gametype != 'k3' %}
        <div id="dialect_selection">
           {% include 'dialect_menu.html' %}
        </div>
    {% endif %}
    {% endblock %}

    {% block disable_form_start %}
	    <form novalidate action="" method="post" id="gameform" name="gameform">
            {% csrf_token %}
    {% endblock %}

	<div id="settings">
		{% block settings %}{% endblock %}
	</div>

	<div id="game">
	    {% block content %}{% endblock %}
	</div>

    {% block disable_form_end %}
	    </form>
    {% endblock %}

	{% endblock %}

</div>

{% block tooltip_help %}{% endblock %}
<div class="language_help">
    <a class="helptext" href="#">{% trans "HELP" %}<span class="shortinfo">{% trans "To get the translation of the user interface text to " %}
    {% for lc,la in LANGUAGES %}
        {% ifequal lc LANGUAGE_CODE %} {% trans la|lower %}{% endifequal %}
    {% endfor %}
    {% trans "hold down the [Alt] key while pointing at the text with the mouse." %}</span></a>
</div>
{% endblock %}
