/* @override http://localhost:5000/kursadict/static/css/base.css */

.navbar {
    margin-bottom: 40px;
}

content {
    display: block;
    min-height: 425px;
}

footer {
    background-color: #BBB;
    border-top: 1px solid #888;
    position: relative;
    bottom: 0;
    height: 150px;
    padding-top: 15px;
    padding-bottom: 25px;
}

#uitlogo {
    padding-top: .5em;
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

footer .inline {
    display: block;
    list-style-type: "none";
    margin: 0 auto;
    position: relative;
    vertical-align: middle;
    width: 100px;
}

footer .inline li {
    display: table-cell;
    padding-right: 5px;
}

ul.nav-stacked li {
    width: 100%;
}

ul.nav-stacked li.active a {
    background-color: #0088CC;
    color: #FFF;
    opacity: 1;
}

ul.nav-stacked li a:hover, ul.nav-stacked li.active a:hover {
	background-color: #0088CC;
	color: #FFF;
	opacity: 1;
}



ul.nav-stacked li.active span {
    color: #FFF;
}

/* Example lang attribute selections */

.lang_name:lang(eng) {
    display: none;
}

span.i18n {
    display: none;
}

span.i18n:lang(nob) {
	display: inline;
}


content .page-header {
    margin-top: 0px;
}

div.results, div.results p {
	font-size: 120%;
}

div.results ol {
	margin-left: 2em;
}

h4#dict_title {
	margin-top: 0px;
}

.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: #DDD;
    background-image: -moz-linear-gradient(top, #CCC, #DDD);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CCC), to(#DDD));
    background-image: -webkit-linear-gradient(top, #CCC, #DDD);
    background-image: -o-linear-gradient(top, #CCC, #DDD);
    background-image: linear-gradient(to bottom, #CCC, #DDD);
}

