.well dd {
    word-wrap: break-word;
}

ul.meanings {
    list-style-type: circle;
}

ul.meanings li {
    font-size: 120%;
}

blockquote.examples dd {
    margin-bottom: .5em ;
    margin-top: .25em;
}

