/* @override http://localhost:5000/kursadict/static/css/detail.css */

.well dd {
    word-wrap: break-word;
}

ul.meanings {
    list-style-type: circle;
}

ul.meanings li {
    font-size: 120%;
}

blockquote.examples dd {
    margin-bottom: .5em ;
    margin-top: .25em;
}

ul.meanings li {
	color: #000;
}

dl.dl-horizontal dd {
	position: relative;
}

dl dd .extraexpand .extralabel {
	position: absolute;
	right: -100px;
	top: 0px;
}

.extra_forms {
	display: none;
}
