Django==1.4.16
Fabric==1.9.0
Markdown==2.4
PyYAML==3.11
South==1.0
Werkzeug==0.9.4
django-extensions==1.1.0
django-forms-bootstrap==3.0.0
django-messages==0.5.0
django-model-utils==2.0.3
django-modeltranslation==0.8b2
django-notifications-hq==0.6.0
django-serializers==0.6.0
djangorestframework==2.3.14
ecdsa==0.11
## FIXME: could not find svn URL in dependency_links for this package:
flup==1.0.3.dev-20110405
ipython==1.2.1
itsdangerous==0.24
paramiko==1.14.0
pexpect==2.4
pycrypto==2.6.1
schematics==1.0-0
simplejson==3.4.0
six==1.8.0
wsgiref==0.1.2
