{% extends "mgame.html" %}
{% load i18n %}

{% block gamename %}{{ settings.gamename }}{% endblock %}
{% block instructions %}
  {% ifequal settings.gametype "bare" %}
    {% trans "Add numerals in correct forms." %}
  {% else %}
    {% trans "Add numerals in correct forms." %}
  {% endifequal %}
{% endblock %}


{% block subsetting %}

{% ifequal settings.gametype "bare" %}
	<li><label for="id_{{ settingsform.num_bare.name }}">{% trans "Case" %}</label>
		{{ settingsform.num_bare }}</li>
{% else %}
	<li><label for="id_{{ settingsform.num_context.name }}">{% trans "Case" %}</label>
		{{ settingsform.num_context }}</li>
{% endifequal %}

{% ifequal settings.gametype "bare" %}
	<li><label for="id_{{ settingsform.num_level.name }}">{% trans "Level" %}</label>
		{{ settingsform.num_level }}</li>
{% endifequal %}

{% ifequal settings.gametype "bare" %}
	<li><label for="id_{{ settingsform.num_type.name }}">{% trans "Type" %}</label>
		{{ settingsform.num_type }}</li>
{% endifequal %}

{% endblock %}
