{% load cache %}
{% load i18n %}
{% load trans_to %}

<form action="/{{ URL_PREFIX }}/dialect/" method="post">
	{% csrf_token %}
    <dl>
        <dt><label for="dialect" class="interface">{% trans_to "Northern Sami dialect" "sme" %}<span class="invisible">{% trans "Northern Sami dialect" %}</span></label></dt>
        <dd>
        <!--- <input name="next" type="hidden" value="/{{ URL_PREFIX }}/" />  --->
        <select name="dialect" onChange="javascript:this.form.submit();">
        {% if dialect %}
				{% ifequal dialect "GG" %}
				    <option value="GG" selected="selected">{% trans 'GG' %}</option>
				    <option value="KJ">{% trans 'KJ' %}</option>
				{% else %}
				    <option value="GG">{% trans 'GG' %}</option>
				    <option value="KJ" selected="selected">{% trans 'KJ' %}</option>
				{% endifequal %}  
        {% else %}
				<option value="GG">{% trans 'GG' %}</option>
				<option value="KJ">{% trans 'KJ' %}</option>
        {% endif %}
        </select>
        </dd>
    </dl>
    <input type="submit" class="hide" value="submit" />
</form>
