{% extends "mgame.html" %}
{% load i18n %}

{% block gamename %}{{ settings.gamename }}{% endblock %}
{% block instructions %}
  {% ifequal settings.gametype "bare" %}
    {% trans "Write a verb derived from a given adjective." %}
  {% else %}
    {% trans "Write a verb derived from a given adjective." %}
  {% endifequal %}
{% endblock %}


{% block subsetting %}

{% ifequal settings.gametype "bare" %}
	<li><label for="id_{{ settingsform.derivation_type.name }}">{% trans "Derivation type" %}</label>
		{{ settingsform.derivation_type }}</li>
{% else %}
	<li><label for="id_{{ settingsform.derivation_type_context.name }}">{% trans "Case" %}</label>
		{{ settingsform.derivation_type_context }}</li>
{% endifequal %}


{% endblock %}

