{% extends "oahpa.html" %}
{% load i18n %}

{% block name %}{% trans "Morphology" %}{% endblock %}
{% block content %}


<script type="text/javascript">
  var my_tooltip = new Tooltip('product_1', 'tooltip')
 </script>

{% block settings %}{% endblock %}

<hr/>
<table>
<tr><td>
<table>
<tr>
     {% for form in forms %}
{% block question %}{% endblock %}
</tr>
<tr>
<td>
      {% ifnotequal form.userans "" %}

       {% ifequal form.error "correct" %}
       <font color="green">{{ form.userans }}</font>
       {% else %}
       {% ifequal form.error "error" %}
       <font color="red">{{ form.userans }}</font>
       {% endifequal %}
       {% endifequal %}

       {% else %}
       {{ form.answer }} 
     {% endifnotequal %}

</td>
<td>
  {% if form.correct_answers %}
  {% ifnotequal form.error "correct" %}
  {{ form.correct_answers }}
  {% endifnotequal %}
  {% else %}
  {% ifequal form.error "error" %}
  error
  {% endifequal %}
{% endif %}
</td>
<td>
       {{ form.word_id }}       {{ form.tag_id }} {{ form.userans_stored }} {{ form.correct }}
{{ form.question_id }} 

</td>
</tr>
     {% endfor %}
</table>

</td></tr>
<tr><td>
&nbsp;<br/>
{% if all_correct %}
{% trans "Congratulations!" %}
{% endif %}
{% if score %}
<br/>
{% trans "Your score:" %} {{ score }}
{% endif %}
</td></tr>
<tr><td></td>
<td>
{% if not all_correct %}
   <input type="submit" name="test" value="{% trans "Test answers" %}">
   {% ifequal count 1 %}
   <input type="submit" name="show_correct" value="{% trans "Show correct answers" %}" >
   {% endifequal %}
{% endif %}
</td>
</tr>
</table>

 </form>



{% endblock %}

