{% extends "oahpa.html" %}
{% load i18n %}

{% block content %}


<script type="text/javascript">
  var my_tooltip = new Tooltip('product_1', 'tooltip')
 </script>

{% block settings %}{% endblock %}

<hr/>
<table>
<tr><td>
<table>
<tr>
     {% for form in forms %}
{% block question %}{% endblock %}
</tr>
<tr>
  <!-- Show correct answers if "show correct" is pressed -->
  {% if show_correct %}
    <td>  
    {% ifequal form.error "correct" %}
      <font color="green">{{ form.userans }}</font>
    {% else %}
    {% ifequal form.error "error" %}
       <font color="red">{{ form.userans }}</font>
       </td>
     {% endifequal %}
       <td>
       {{ form.correct_answers }}
       </td>
     {% endifequal %}
   {% else %}

   <!-- If just test answers, mark user answers as green or red -->
  <td>
      {% ifnotequal form.userans "" %}
        {% ifequal form.error "correct" %}
          <font color="green">{{ form.userans }}</font>
        {% else %}
	    <!-- Answer field -->
        {{ form.answer }} 
	{% endifequal %}
      {% else %}
      <!-- Answer field -->
      {{ form.answer }} 
      {% endifnotequal %}
     </td>
  <!-- If show correct, correct answers are here -->
     <td>
    {% if show_correct %}
      {% ifnotequal form.error "correct" %}
        {{ form.correct_answers }}
      {% endifnotequal %}
    {% else %}
      {% ifequal form.error "error" %}
        error
      {% endifequal %}
    {% endif %}
  {% endif %}
</td>
<td>
       {{ form.word_id }}       {{ form.tag_id }}
{{ form.question_id }} 
{% if forloop.first %}
<input type="hidden" name="userans" value="{{ form.userans }}" />
<input type="hidden" name="correct" value="{{ form.error }}" />
{% else %}
<input type="hidden" name="{{ forloop.counter0 }}-userans" value="{{ form.userans }}" />
<input type="hidden" name="{{ forloop.counter0 }}-correct" value="{{ form.error }}" />
{% endif %}
</td>
</tr>
     {% endfor %}
</table>

</td></tr>
<tr><td>
&nbsp;<br/>
{% if all_correct %}
{% trans "Congratulations!" %}
{% endif %}
{% if score %}
<br/>
{% trans "Your score:" %} {{ score }}
{% endif %}
</td></tr>
<tr><td></td>
<td>
{% if not all_correct %}
   {% if not show_correct %}
   <input type="submit" name="test" value="{% trans "Test answers" %}">
   {% endif %}
   {% ifequal count 1 %}
   <input type="submit" name="show_correct" value="{% trans "Show correct answers" %}" >
   {% endifequal %}
{% endif %}
</td>
</tr>
</table>

 </form>



{% endblock %}

