{% extends "oahpa.html" %}
{% load i18n %}

{% block content %}


<script type="text/javascript">
  var my_tooltip = new Tooltip('product_1', 'tooltip')
 </script>


<hr/>
{% block instructions %}{% endblock %}

<table>
<tr><td>
<table>
     {% for form in forms %}

{% ifequal gametype "context" %} 
    {% ifnotequal forloop.counter0 0 %}
    <tr>
    <td>&nbsp;</td>
    </tr>
    {% endifnotequal %}
{% endifequal %}
<tr>
{% block question %}{% endblock %}
</tr>

<tr>
  <!-- Show correct answers if "show correct" is pressed -->
{% if show_correct %}
  <td> 
    {% if form.answertext1 %}{{ form.answertext1 }}{% endif %}
    
    {% ifequal form.error "correct" %}
    <font color="green">{{ form.userans }}</font>
    {% else %}
      {% ifequal form.error "error" %}
       <font color="red">{{ form.userans }}</font>
       {% else %}
       ___________________
      {% endifequal %}

    {% endifequal %}

    {% if form.answertext2 %}{{ form.answertext2 }}{% endif %}
  </td>

  {% else %}

   <!-- If just test answers, mark correct answers as green -->
  <td>
    {% if form.answertext1 %}{{ form.answertext1 }}{% endif %}
      {% ifnotequal form.userans "" %}
        {% ifequal form.error "correct" %}
          <font color="green">{{ form.userans }}</font>
        {% else %}
	    <!-- Answer field -->
        {{ form.answer }} 
	{% endifequal %}
      {% else %}
      <!-- Answer field -->
      {{ form.answer }} 
      {% endifnotequal %}
    {% if form.answertext2 %}{{ form.answertext2 }}{% endif %}
     </td>
  {% endif %}
    <td>
  {% if show_correct %}
    {% ifnotequal form.error "correct" %}
       {{ form.correct_answers }}
    {% endifnotequal %}
  {% else %}
      {% ifequal form.error "error" %}
        error
      {% endifequal %}
  {% endif %}
      </td>
<td>
       {{ form.word_id }}       {{ form.tag_id }}
{{ form.question_id }} 
{{ form.qstring }} {{ form.astring }}
{% if forloop.first %}
<input type="hidden" name="userans" value="{{ form.userans }}" />
<input type="hidden" name="correct" value="{{ form.error }}" />
{% else %}
<input type="hidden" name="{{ forloop.counter0 }}-userans" value="{{ form.userans }}" />
<input type="hidden" name="{{ forloop.counter0 }}-correct" value="{{ form.error }}" />
{% endif %}
</td>
</tr>

     {% endfor %}
</table>

</td></tr>
<tr><td>
&nbsp;<br/>
{% if all_correct %}
{% trans "Congratulations!" %}
{% endif %}
{% if score %}
<br/>
{% trans "Your score:" %} {{ score }}
{% endif %}
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>
{% if not all_correct %}
   {% if not show_correct %}
   <input type="submit" name="test" value="{% trans "Test answers" %}"/>
   {% endif %}
   {% ifequal count 1 %}
   <input type="submit" name="show_correct" value="{% trans "Show correct answers" %}" />
   {% endifequal %}
{% endif %}
</td>
</tr>
</table>


{% endblock %}

