{% extends "mgame.html" %}
{% load i18n %}

{% block navbar %}

<div id="navbar">         
{% ifequal settings.gametype "bare" %}
<ul style="margin-left: 0; padding-left: 15px; list-style: none;"> 
<li><a href="/oahpa/morfa_s/">{% trans 'Nouns' %}</a></li>                                                 
<font color="#D2B48C" ><b>{% trans 'Verbs' %}</b></font>&nbsp;&nbsp;
<li><a href="/oahpa/morfa_a/">{% trans 'Adjectives' %}</a></li>                                            
<li><a href="/oahpa/morfa_l/">{% trans 'Numerals' %}</a></li>                                              
</ul> 
{% else %}
<ul style="margin-left: 0; padding-left: 15px; list-style: none;"> 
<li><a href="/oahpa/cmorfa_s/">{% trans 'Nouns' %}</a></li>                                                 
<font color="#D2B48C" ><b>{% trans 'Verbs' %}</b></font>&nbsp;&nbsp;
<li><a href="/oahpa/cmorfa_a/">{% trans 'Adjectives' %}</a></li> 
<li><a href="/oahpa/cmorfa_l/">{% trans 'Numerals' %}</a></li>                                              
</ul>                                                        
{% endifequal %}
</div>
{% endblock %}

{% block gamename %}{{ settings.gamename }}{% endblock %}
{% block instructions %}{% trans "Add verbs in correct forms." %}{% endblock %}

{% block selectionname %}<td>{% trans "Type" %}</td>{% endblock %}
{% block selection %}
<td>
  {% ifequal settings.gametype "bare" %}
    {{ settingsform.vtype }}
  {% else %}
    {{ settingsform.vtype_context }}
  {% endifequal %}

</td>
{% endblock %}
