{% extends "mgame.html" %}
{% load i18n %}


{% block gamename %}{{ settings.gamename }}{% endblock %}
{% block instructions %}{% trans "Add adjectives in correct forms." %}{% endblock %}

{% block selectionname %}
<td>{% trans "Type" %}</td>
  {% ifequal settings.gametype "bare" %}
<td>{% trans "Grade" %}</td>
{% endifequal %}
{% endblock %}

{% block selection %}
  {% ifequal settings.gametype "bare" %}
<td> {{ settingsform.adjcase }} </td>
<td> {{ settingsform.grade }} </td>
  {% else %}
<td> {{ settingsform.adj_context }}</td>
  {% endifequal %}

{% endblock %}

