{% extends "mgame.html" %}
{% load i18n %}

{% block gamename %}<p>{{ settings.gamename }} {{ settings.grade }}</p>{% endblock %}
{% block instructions %}{% trans "Add adjectives in correct forms." %}{% endblock %}

{% block selectionname %}<td>{% trans "Type" %}</td><td>{% trans "Grade" %}</td>{% endblock %}
{% block selection %}
  {% ifequal settings.gametype "bare" %}
<td> {{ settingsform.adjcase }} </td>
<td> {{ settingsform.grade }} </td>
  {% else %}
<td> {{ settingsform.adjcase_context }}</td>
  {% endifequal %}

{% endblock %}

