{% extends "mgame.html" %}
{% load i18n %}

{% block navbar %}
<div id="navbar">
{% ifequal settings.gametype "bare" %}
<ul style="margin-left: 0; padding-left: 15px; list-style: none;"> 
<li><a href="/oahpa/morfa_s/">{% trans 'Nouns' %}</a></li>                                                 
<li><a href="/oahpa/morfa_v/">{% trans 'Verbs' %}</a></li>                                              
<font color="#D2B48C" ><b>{% trans 'Adjectives' %}</b></font>&nbsp;&nbsp;
<li><a href="/oahpa/morfa_l/">{% trans 'Numerals' %}</a></li>                                            
</ul>                                                        
{% else %}
<ul style="margin-left: 0; padding-left: 15px; list-style: none;"> 
<li><a href="/oahpa/cmorfa_s/">{% trans 'Nouns' %}</a></li>                                                 
<li><a href="/oahpa/cmorfa_v/">{% trans 'Verbs' %}</a></li>                                              
<font color="#D2B48C" ><b>{% trans 'Adjectives' %}</b></font>&nbsp;&nbsp;
<li><a href="/oahpa/cmorfa_l/">{% trans 'Numerals' %}</a></li>                                            
</ul>
{% endifequal %}
</div>
{% endblock %}
{% block gamename %}<p>{{ settings.gamename }}</p>{% endblock %}
{% block instructions %}{% trans "Add adjectives in correct forms." %}{% endblock %}

{% block selectionname %}<td>{% trans "Type" %}</td><td>{% trans "Grade" %}</td>{% endblock %}
{% block selection %}
  {% ifequal settings.gametype "bare" %}
<td> {{ settingsform.adjcase }} </td>
<td> {{ settingsform.grade }} </td>
  {% else %}
<td> {{ settingsform.adj_context }}</td>
  {% endifequal %}

{% endblock %}

