{% extends "game.html" %}
{% load i18n %}

{% block menu %}
{% ifequal settings.gametype "bare" %}
<img width="30" height="30" src="/oahpa/media/nr2_smaller.png"</img>
<font size="+2" color="#D2B48C" ><b>{% trans 'Morfa' %}</b></font>&nbsp;&nbsp;
<img width="30" height="30" src="/oahpa/media/nr1_smaller.png"</img>
<a href="/oahpa/cmorfa/">{% trans 'Contextual Morfa' %}</a>&nbsp;&nbsp;
<!--	  <a href="/oahpa/vasta/">{% trans 'Vasta' %}</a><br/>-->
	  <a href="/oahpa/leksa/">{% trans 'Leksa' %}</a>&nbsp;&nbsp;
	  <a href="/oahpa/logut/">{% trans 'Logut' %}</a>&nbsp;&nbsp;
{% else %}
<a href="/oahpa/cmorfa/">{% trans 'Morfa' %}</a>&nbsp;&nbsp;
<font size="+2" color="#D2B48C" ><b>{% trans 'Contextual Morfa' %}</b></font>&nbsp;&nbsp;
<!--	  <a href="/oahpa/vasta/">{% trans 'Vasta' %}</a><br/>-->
	  <a href="/oahpa/leksa/">{% trans 'Leksa' %}</a>&nbsp;&nbsp;
	  <a href="/oahpa/logut/">{% trans 'Logut' %}</a>&nbsp;&nbsp;
{% endifequal %}
{% endblock %}


{% block navbar %}
<div id="navbar">                                                                                                <ul style="margin-left: 0; padding-left: 15px; list-style: none;">                                           
<li><a href="/oahpa/morfa_s/">{% trans 'Nouns' %}</a></li>                                                 
<li><a href="/oahpa/morfa_v/">{% trans 'Verbs' %}</a></li>                                              
<li><a href="/oahpa/morfa_a/">{% trans 'Adjectives' %}</a></li>                                            
<font color="#D2B48C" ><b>{% trans 'Numerals' %}</b></font>&nbsp;&nbsp;
</ul>                                                        
</div>
{% endblock %}

{% block name %}{% trans "Morphology" %}{% endblock %}
{% block pagename %}/oahpa/morfa/{% endblock %}
{% block settings %}

<table width="700">
<tr>
<td>{% trans "Case" %}</td>
<td>{% trans "Book" %}</td>
{% ifequal settings.gametype "bare" %}
<td>{% trans "Dialect" %} (not used)</td>
{% endifequal %}
</tr>
<tr>
<td>
  {% ifequal settings.gametype "bare" %}
    {{ settingsform.adjcase }}
  {% else %}
    {{ settingsform.num_context }}
  {% endifequal %}
</td>

<td>{{ settingsform.book }}</td>
{% ifequal settings.gametype "bare" %}
<td>
<input type="radio" name="dialect" value="western" checked="checked" />{% trans "Western" %}<br/>
<input type="radio" name="dialect" value="eastern" />{% trans "Eastern" %}<br/>
</td>
{% endifequal %}

</tr>
</table>
<input type="submit" name="settings" value="{% trans "New set" %}" />

{% endblock %}
{% block gamename %}{{ settings.gamename }}{% endblock %}
{% block instructions %}{% trans "Add numerals in correct forms." %}{% endblock %}

{% block question %}

{% ifequal settings.gametype "bare" %}
  <td>
  {% if forloop.first %}
    <div id='lemma'>
  {% else %}
    <div id='lemma_{{ forloop.counter0 }}'>
  {% endif %}

  {{ form.lemma }}
  </div>

  {% if forloop.first %}
    <div id='tooltip' style="display:none; margin:5px; background-color:white;">
    {{ form.translations }}
    </div>
    <script type="text/javascript"> 
	var lemma_tooltip = new Tooltip('lemma','tooltip')
    </script>
  {% else %}
    <div id='tooltip_{{ forloop.counter0 }}' style="display:none; background-color:white;">
    {{ form.translations }} 
    </div>
    <script type="text/javascript">
      var lemma_{{ forloop.counter0 }}_tooltip = new Tooltip('lemma_{{ forloop.counter0 }}','tooltip_{{ forloop.counter0 }}')
    </script>
  {% endif %}
  </td>

{% else %}
<td>{{ form.question }} ({{ form.lemma }})</td>
{% endifequal %}

{% endblock %}

{% block submit %}
<tr>
<td>
</td>
<td>
{% if not all_correct %}
   {% if not show_correct %}
   <input type="submit" name="test" value="{% trans "Test answers" %}"/>
   {% endif %}
   {% ifequal count 1 %}
   <input type="submit" name="show_correct" value="{% trans "Show correct answers" %}" />
   {% endifequal %}
{% endif %}
</td>
</tr>
{% endblock %}
