{% extends "game.html" %}
{% load i18n %}

{% block name %}{% trans "Numerals" %}{% endblock %}
{% block pagename %}/oahpa/logut/{% endblock %}

{% block settings %}

<form method="post" action="">
<table width="700">
<tr>
<td>{% trans "Select the range of numerals" %}</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>{{ settingsform.maxnum }}</td>
<td>{{ settingsform.numgame }}</td>
<td>{{ settingsform.language }}</td>
<td>&nbsp;</td>
</tr>
</table>
<input type="submit" name="settings" value="{% trans "New set" %}" />
{% endblock %}


{% block question %}
{% if form.numstring %}
<td>{{ form.numstring }} </td>
{% else %}
<td>{{ form.numeral }} </td>
{% endif %}
<td>{{ form.numeral_id }}</td>
{% endblock %}

