{% extends "game.html" %}
{% load i18n %}

{% block name %}{% trans "Quizz" %}{% endblock %}
{% block pagename %}/oahpa/quizz/{% endblock %}
{% block settings %}

<form method="post" action="">
<table width="700">
<tr>
<td>{% trans "Set" %}</td>
<td>{% trans "Book" %}</td>
<td>{% trans "Select the language pair" %}</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>{{ settingsform.semtype }}</td>
<td>{{ settingsform.book }}</td>
<td>{{ settingsform.transtype }}</td>
<td>&nbsp;</td>
</tr>
</table>
<input type="submit" name="settings" value="{% trans "New set" %}" />
{% endblock %}


{% block question %}
<td>{{ form.lemma }} </td>
{% endblock %}


