{% extends "game.html" %}
{% load i18n %}

{% block navbar %}
<div id="navbar">
<ul style="margin-left: 0; padding-left: 15px; list-style: none;">                    
<li> <a href="/oahpa/leksa/">{% trans 'Words' %}</a><br/>
<li><font color="#D2B48C" ><b>{% trans 'Placenames' %}</b></font>&nbsp;&nbsp;
</ul>
</div>
{% endblock %}

{% block menu %}
<a href="/oahpa/morfa/">{% trans 'Morfa' %}</a>&nbsp;&nbsp;
<a href="/oahpa/cmorfa/">{% trans 'Contextual Morfa' %}</a>&nbsp;&nbsp;
<!--	  <a href="/oahpa/vasta/">{% trans 'Vasta' %}</a><br/>-->
<font size="+2" color="#D2B48C" ><b>{% trans 'Leksa' %}</b></font>&nbsp;&nbsp;
	  <a href="/oahpa/logut/">{% trans 'Logut' %}</a>&nbsp;&nbsp;
{% endblock %}

{% block name %}{% trans "Quizz" %}{% endblock %}
{% block pagename %}/oahpa/leksa/{% endblock %}
{% block gamename %}{% endblock %}
{% block instructions %}{% trans "Give translations for placenames." %}{% endblock %}
{% block settings %}

<table width="700">
<tr>
<td>{% trans "Geography" %}</td>
<td>{% trans "Frequency" %}</td>
<td>{% trans "Select the language pair" %}</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>
{{ settingsform.sapmi }}{% trans "sapmi" %}<br/>
{{ settingsform.world }}{% trans "world" %}<br/>
</td>
<td>
{{ settingsform.common }}{% trans "common" %}<br/>
{{ settingsform.rare }}{% trans "rare" %}<br/>
</td>
<td>{{ settingsform.transtype }}</td>
<td>&nbsp;</td>
</tr>
</table>
<input type="hidden" name="semtype" value="PLACE-NAME-LEKSA" />
<input type="hidden" name="book" value="all" />
<input type="submit" name="settings" value="{% trans "New set" %}" />
{% endblock %}

{% block question %}
<td>{{ form.lemma }} </td>
{% endblock %}

{% block submit %}
<tr>
<td>
</td>
<td>
{% if not all_correct %}
   {% if not show_correct %}
   <input type="submit" name="test" value="{% trans "Test answers" %}"/>
   {% endif %}
   {% ifequal count 1 %}
   <input type="submit" name="show_correct" value="{% trans "Show correct answers" %}" />
   {% endifequal %}
{% endif %}
</td>
</tr>
{% endblock %}

