{% extends "game.html" %}
{% load i18n %}


{% block navbar %}
<a href="/oahpa/sahka/"><img width="60" height="60" border="0" src="/oahpa/media/sahka_small.png"/></a><br/>
<p class="bigheader">{% trans 'SAHKA' %}</p>

{% if image %}
<p>{{ image }}</p>
<img width="150" height="150" border="0" src="/oahpa/media/{{ image }}"/><br/>
{% endif %}

{% if wordlist %}
<font size="+1"><p>{{ wordlist }}</p></font>
{% endif %}
<font size="+2"><b><p>{% trans "This game is under development!" %}</p></b></font>
{% endblock %}

{% block name %}{% trans "Sahka" %}{% endblock %}
{% block pagename %}/oahpa/sahka/{% endblock %}


{% block settings %}
{% if not forms %}
<table width="700">
<tr>
<td>{% trans "Dialogue" %}</td>
</tr>
<tr>
<td>{{ settingsform.dialogue }}</td>
</tr>
<tr>
<td><input type="submit" name="settings" value="{% trans "New set" %}" />
</td>
</tr>
</table>
{% endif %}
{% endblock %}

{% block hidden %}
<input type="hidden" name="topicnumber" value="{{ topicnumber }}" />
<input type="hidden" name="num_fields" value="{{ num_fields }}" />
<input type="hidden" name="image" value="{{ image }}" />
<input type="hidden" name="wordlist" value="{{ wordlist }}" />
<input type="hidden" name="gametype" value="sahka" />
<input type="hidden" name="dialogue" value="{{ dialogue }}" />
{% endblock %}

{% block question %}
{% if forms %}
{% if form.utterance %}
<td>{{ form.utterance }}</td>
{% endif %}
{% endif %}
{% endblock %}

{% block submit %}
{% if forms %}
<tr>
<td align="right">
  {% if not all_correct %}
  <input type="submit" id="test" name="test" value="{% trans "Answer" %}"/>
  {% endif %}
</td>
<td>
&nbsp;
</td>
</tr>
{% endif %}
{% endblock %}

