{% extends "game.html" %}
{% load i18n %}

{% block addcss %}
<style type="text/css">

html {
    overflow: scroll;
    height: 100%;
    margin-bottom: 1px;
}

body {
margin:10px 10px 0px 10px;
padding:0px;
background-image: url(/oahpa/media/bakgrunn12.jpg);
}

#leftcontent {
position: fixed;
left: 10px;
top: 95px;
width: 180px;
}
#centercontent {
background:white;
margin-left: 179px;
margin-right:9px;
padding: 20px;
border: 1px solid #150517;

font-family: Times;
margin-left: 181px;
margin-right:11px;
margin-bottom: 1px;
}
body #centercontent {
margin-left: 181px;
margin-right:11px;
}
#rightcontent {
position: fixed;
right:10px;
top:95px;
width:120px;
}

#banner {
height:80px;
height:80px;
}
html>body #banner {
height:80px;
}


{% if not forms %}

#centercontent {
background-image: url(/oahpa/media/bakgrunn12.jpg);
margin-left: 179px;
margin-right:9px;
padding: 20px;
border: 0px solid #150517;
font-family: Times;
margin-left: 181px;
margin-right:11px;
margin-bottom: 1px;
}
body #centercontent {
margin-left: 181px;
margin-right:11px;
}
{% endif %}
</style>

{% endblock %}

{% block navbar %}
{% if not forms %}
&nbsp;</br>
&nbsp;</br>

<a href="/oahpa/sahka/"><img width="120" height="120" border="0" src="/oahpa/media/sahka_big.png"/></a><br/>
{% endif %}

{% if image %}
<center>
<img border="1" width="160" border="0" src="/oahpa/media/{{ image }}"/><br/>
</center>
{% endif %}

{% if wordlist %}
<center>
<br/>
<table cellpadding="8px" bgcolor="white" border="1" class="wordlist"><tr><td>{{ wordlist }}</td></tr></table>
</center>
{% endif %}
{% endblock %}

{% block name %}Sahka{% endblock %}
{% block pagename %}/oahpa/sahka/{% endblock %}
{% block settings %}
{% if not forms %}

<table width="700">
<tr>
<td><font class="bigheader">SAHKA</font> &nbsp;&nbsp;{% trans "Select a dialogue" %}</td>
</tr>
<tr>
<table>
<tr><td>
<input type="hidden" name="dialogue" id="id_dialogue" />
<input type="hidden" name="settings" id="settings" />
<a href="javascript:document.gameform.dialogue.value='firstmeeting';document.gameform.submit();"><img width="100" height="240" src="/oahpa/media/woman001.jpg"/></a>
</td><td>
<a href="javascript:document.gameform.dialogue.value='firstmeeting_man';document.gameform.submit();"><img width="100" height="240" src="/oahpa/media/man.jpg"/></a>
</td><td>
<a href="javascript:document.gameform.dialogue.value='firstmeeting_girl';document.gameform.submit();"><img width="100" height="240" src="/oahpa/media/girl001.jpg"/></a>
</td><td>
<a href="javascript:document.gameform.dialogue.value='firstmeeting_boy';document.gameform.submit();"><img width="100" height="240" src="/oahpa/media/boy.jpg"/></a>
</td>
</tr>
</table>
<table>
<tr>
<td>
<a href="javascript:document.gameform.dialogue.value='visit';document.gameform.submit();"><img width="150" height="200" src="/oahpa/media/visit001.jpg"/></a>
</td>
<td>
<a href="javascript:document.gameform.dialogue.value='grocery';document.gameform.submit();"><img width="200" height="150" src="/oahpa/media/grocery.jpg"/></a>
</td>
<td>
<a href="javascript:document.gameform.dialogue.value='shopadj';document.gameform.submit();"><img width="100" height="200" src="/oahpa/media/2scarves.jpg"/></a>
</td>
</tr>
</table>
</td>
</tr>
</table>

{% endif %}
{% endblock %}

{% block hidden %}
<input type="hidden" name="topicnumber" value="{{ topicnumber }}" />
<input type="hidden" name="num_fields" value="{{ num_fields }}" />
<input type="hidden" name="image" value="{{ image }}" />
<input type="hidden" name="wordlist" value="{{ wordlist }}" />
<input type="hidden" name="gametype" value="sahka" />
<input type="hidden" name="dialogue" value="{{ dialogue }}" />
{% endblock %}

{% block question %}
{% if forms %}
{% if form.utterance %}
<td>{{ form.utterance }}</td>
{% endif %}
{% endif %}
{% endblock %}

{% block submit %}
{% if forms %}
<tr>
<td align="right">
  {% if not all_correct %}
  <input type="submit" id="test" name="test" value="{% trans "Answer" %}"/>
  {% endif %}
</td>

</tr>
{% endif %}
{% endblock %}

